nav-height = 40px

.xe-nav
	background #333 url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/debut_dark.png')
	position fixed
	right 0
	left 0
	width 100%
	min-width 726px
	z-index 1030
	margin-top -40px
	display flex
	justify-content space-between
	p
		margin 0

.nav-logo
	.logo-small
		display none
	@media screen and (max-width 1023px)
		img
			display none
		.logo-small
			display block
			background $logored
			padding 0 0.8rem
			p
				color white
				font-size 2rem
				font-weight bold

.nav-svg-link
	fill $lightgrey
	width 2.5rem
	height @width
	&:hover
		fill white

.nav-left
.nav-right
	display flex
	align-items center

.nav-search
	position relative
	margin 0 1rem
	margin-left .5rem
	input
		background white
		font-size 1.2rem !important
		padding 0.5rem 0.5rem 0.5rem 2.8rem
		line-height 1.3
		width 250px
		&:focus
			box-shadow none
			outline none

.nav-search-icon
.nav-cross-icon
	width 1.5rem
	height @width
	position absolute

.nav-search-icon
	top 7px
	left 9px
	fill $lightblue

.nav-cross-icon
	right 9px
	top 7px
	fill #999

.navigation
	margin 0 1rem
	a.active
		.nav-svg-link
			fill white

.navigation-icon
	fill white

.nav-search-reset-btn
	background transparent
	position absolute
	top 0
	right 0
	border none
	outline none

.nav-title
	margin-right 1rem
	a
		color white
		font-size 1.8em
		border-bottom 1px solid transparent
		&:hover
			border-bottom 1px solid rgba(white, 0.8)

.nav-icon-link
	@media screen and (max-width 1260px)
		display none
	.nav-svg-link
		force-top 2px
		width 1.6rem
		height @width
	span
		force-bottom 2px
		margin-left 0.6rem
		color $lightgrey
	a
		background #444
		margin-right 1rem
		border-radius 1rem
		display block
		padding 0.2rem 0.6rem
		&:hover
			background #222
			.nav-svg-link
				fill white
			span
				color white

.nav-dots
	width 2rem
	height @width
	.active &
		fill $palegrey

.more-indicators
	position relative

.nav-dropdown
	background white
	position absolute
	top 0
	right 0
	shadow()
	a
		color #333
		&:hover
			background #eee

.nav-indicators-container
	top 135%
	ul
		list-style none
		padding 0
		margin-bottom 0
	li > a
		color #333
		display flex
		padding 0.8rem 1rem
		span
			margin-left 1rem
	.nav-svg-link
		fill #333
		width 1.5rem
		height @width

.nav-profile-photo
	height 100%
	padding 0.4rem
	&:hover
	&.active
		background #444
	img
		width auto
		max-height 30px
	a
		color white
		margin 0 0.7rem
		border-bottom 1px solid transparent
		&:nth-last-child(1)
			margin-right 0
		&:hover
			border-bottom 1px solid rgba(white, .8)

.nav-profile
	top 100%
	a
		display block
		text-align right
		padding 0.3rem 1rem

.xe-content
	max-width 1350px !important
	@media screen and (max-width 1600px)
		width 90%
	background white
	margin 2rem auto
	padding 0.8rem 1rem
	shadow()

/*----------  -------  ----------*/
/*----------  Leftabr  ----------*/
/*----------  -------  ----------*/

.overlay
	position fixed 0 0 0 0
	background rgba(black, 0.3)
	z-index 1

.xe-leftbar
	height 100%
	background white
	position fixed
	left 0
	overflow-y auto
	overflow-x hidden
	width 250px
	z-index 1030
	padding 1rem
	@media screen and (max-width 1023px)
		width 100%
		.star-a
			display: none
	ul
		margin 0
		padding 0
		list-style none

// List

.leftbar-sublist
	padding 0.3rem 1.2rem 1rem
	li
		display flex
		align-items center
		justify-content space-between
		width 100%
	a
		// width 100%
		// display flex
		// justify-content space-between
		color #333
		font-size 1.2rem

.nav-item
	cursor pointer
	&:hover
		background #eee

.star-a
	&:hover
		.leftbar-star
			fill $yelly
	&.active
		.leftbar-star
			fill $yelly
			stroke none

.leftbar-star
	width 1.2rem
	height @width
	fill none
	stroke #333
	stroke-width 20

.leftbar-section
	&:nth-last-child(1)
		margin-bottom 5rem

.leftbar-search
	margin-bottom 1rem
	input
		width 100%
		padding .5rem 1rem
		padding-left 2.8rem
		background white
		transition none
		font-size 1.3rem !important
		position relative
		&:focus
			box-shadow none
	.leftbar-search-icon
		position absolute
		z-index 1030
		top 1.8rem
		margin-left 0.8rem
		fill $lightblue
		width 1.5rem
		height @width

.leftbar-arrow-fill
	width 0.6rem
	height @width
	fill #333
	margin-right 0.5rem
	force-bottom 2px

.leftbar-list-title // button
	background none
	width 100%
	padding 0
	outline none
	border none
	text-align left
	span
		font-size 1.2rem
		font-weight bold
	&:hover
		background #eee
	@media screen and (max-width 1023px)
		span
			font-size 1.5rem