/*----------  Buttons group  ----------*/

.buttons-group
	padding-top 1rem
	border-top 1px solid #eee
	a, button
		margin-right 0.3rem

.top-buttons-group
	margin-top 1rem
	button, a
		margin-right 0.3rem
		
/*----------  Button tiny group  ----------*/

.btn-tiny-group
	text-align center
.btn-tiny
	padding 4px
	letter-spacing 0
	font-size 12px
	border-radius 4px
	&:focus
		outline none
.btn-tiny--white
	border 1px solid #9a9a9a
	color #333
	margin-right 4px
	&:visited
		color inherit
	&:hover
		border 1px solid $lightblue
		color $lightblue
.btn-tiny--blue
	background-color $lightblue
	border 1px solid $lightblue
	color white
	&:visited
		color white
	&:hover
		background-color $darkblue
		color white
		
/*----------  Data table  ----------*/

.info-table-header
	margin-bottom 0.5rem
	p
		font-size 1.3rem
		text-transform uppercase
		line-height 1
		font-weight bold

table.data-table
	thead
		background #333
		p
			color white
			font-weight bold
			font-size 1em
			text-transform uppercase
		td
			padding 0.6rem !important
	tbody
		td
			padding 0.3rem 0.6rem !important

.basket-table-header
	display flex
	flex-flow row nowrap
	align-items center
	.ext-btn
		force-bottom 5px
		margin-right 1rem
		
.basket-returned
	border-top 1px solid #aaa
	margin-top 3rem
	padding-top 1rem
	.title p
		font-size 2em
		text-transform uppercase
		font-weight bold

.basket-returned-header
	margin 0.5rem 0 1rem
	display flex
	align-items center
	justify-content space-between
	.filters-group
		display flex
	.filter
		margin-right 1rem
		select
			padding 0.7rem .5rem
			option
				font-size 1.1em

.orders-table__picture
	width 100px
	text-align center
	img
		max-width 100px
		max-height 50px

.orders-table__main
	width 20%
	a
		text-transform uppercase
		padding 0.3rem .6rem
		display block
	p
		display block
		padding 0 .6rem .3rem
		font-size 0.9em
	
.orders-table__code
	width 7%
	
.orders-table__item
	width 6%
	
.orders-table__supplier
	width 11%

.orders-table__q
	width 7%
	
.orders-table__price
	width 6%
	
.orders-table__discount
	width 8%
	
.orders-table__sum
	width 8%
	
.orders-table__reason
	p
		text-transform uppercase
		font-weight bold

.orders-table__return
	select
		width 95%
		font-size 1.2em !important
		font-weight 400
		&:focus
			box-shadow none
		&:hover
			background #eee !important
		option
		optgroup
			font-size 1em !important
			color #333
			
.orders-table__checkbox
	width 2%
	text-align center

.orders-table__status
	p
		font-size 14px
		
/*----------  Return form  ----------*/

.return-form
	width 400px
	margin-top 1rem
	.input-group
		margin-bottom 0.5rem
		display block
		&:nth-last-child(1)
			margin-bottom 0
	.one-line
		padding-bottom 0.2rem
		&:nth-last-child(1)
			padding-bottom 0
	.label
		font-size 1.3em
		padding .3rem 0
	input[type="text"]
	input[type="file"]
		width 100%
	input[type="file"]
		padding 0.5rem !important
	textarea
		font-size 1.2em !important
		display block
	select
		display block
		font-size 1.2em !important
		option
			font-size 1em
	.radio-value
		font-size 1.2em
		margin-left 0.4rem
	.one-line
		margin-bottom 0.1rem
		
/*----------  Step group  ----------*/

.step-group
	text-transform uppercase
	.step
		margin-bottom 0.2rem
		padding 0.6rem 0.5rem 0.4rem
		.step-hint
			padding 0.1rem 0.5rem 0
			font-weight bold
			box-shadow 0 0.2rem 0.1rem 0 rgba(black, 0.3)
			font-size 1.1em
			force-bottom 3px
			margin-right 0.5rem
			background #ccc
			color white
		.step-content
			font-size 1.3em
			font-weight bold
			line-height 1.3
			color #bbb
		&.done
			.step-content
				color $flatgreen
			.step-hint
				background $flatgreen
				color white
		&.active
			background #eee
			.step-content
				color #333
			.step-hint
				background $paleyelly
				color #333
		&:nth-last-child(1)
			margin-bottom 0

.step-progress
	display flex
	justify-content space-between
	margin-bottom 1rem
	.step
		width 100%
		text-align center
		background $lightgrey
		padding 0.7rem 0 0.5rem
		margin-right 0.5rem
		border 1px solid #eee
		&:nth-last-child(1)
			margin-right 0
		&.done
		&.active
			border none
		&.done
			background $flatgreen
			p
				color white
		&.active
			background $lightyelly
			p
				color black
		p
			text-transform uppercase
			font-size 1.3em
			line-height 1.3
			font-weight bold
			color #666
			
/*----------  Status  ----------*/

.order-num
	background #eee

.return-status
	font-size 14px
	margin-left 1rem !important
	padding 0.1rem 0.8rem 0.05rem
	
.table-label
	text-transform uppercase
	font-size 1.3em
	line-height 1.3
	margin-bottom 0.5rem
	a
		text-decoration underline !important
		
.translate
	margin-top -0.9rem
	margin-bottom 1rem
	.data
		background #eee
		padding 0 0.3rem
	.status
		padding 0 .3rem
		text-decoration none !important
		
.translation-box
	width 450px
	.original
		margin 0.5rem 0 1rem
	.status
		padding 0 0.3rem
		display inline
	.text
		padding 0.5rem
		
#create-return
	font-size 1em
	margin-left 0.3rem

#money-back-toggle
	input
		font-size 1em !important
	.input-group
		&:nth-child(1) 
			margin-top .3rem
			
.sign
	background $paleyelly
	padding 1rem 2rem 0.7rem
	position relative
	text-align center
	&:after
		xWidth = 1rem
		content ''
		position absolute
		top 100%
		left 50%
		margin-left -(xWidth / 2)
		border xWidth solid transparent
		border-top 0.7rem solid @background
	p
		text-transform uppercase
		font-weight bold
		font-size 1.5em
		line-height 1.3
		
/*----------  log  ----------*/
.log
	padding 0.5rem 0.6rem
	border 2px dotted #aaa
	border-radius 0.2rem
	width 435px
	.title
		margin-bottom .5rem
		p
			font-size 1em
			line-height 1.3
			font-weight bold
			text-transform uppercase
	.cap
		text-transform uppercase
		text-align right
		padding-right 0.5rem !important
		p
			font-weight bold
	.data
		padding 0 1rem !important
		p
			font-weight bold
	.time
		padding-right 1rem !important
		
/*----------  Check list  ----------*/
.check-list
	list-style-position inside
	padding 0
	margin-top 1rem
	font-size 1.1em
	select
		&, option
			font-size 14px !important
	.photo-group
		background #eee
		padding .5rem
		box-sizing border-box
		.photo
			max-width 100px
			height auto
			margin-right 1rem
			border 1px solid transparent
			display inline-block
			&:nth-last-child(1)
				margin-right 0
	p
		display block
		text-align left
	.label
		display inline-block
		font-weight bold
		font-size 1em
		padding 0
		margin-bottom .5rem
	li
		margin 1rem 0		
	table
		width 30%
		td:nth-child(1)
			p
				font-weight bold
				
/*----------  Management buttons  ----------*/
.management-buttons
	p.label
		display block
		text-align left
		padding 0
		font-size 1.2em
		margin-bottom 0.5rem
	.row
		margin 1rem 0
	table
		width 435px
		td:nth-child(2) a
			padding-left 0.6rem
	.ext-btn
		font-size 1em
		padding 0.4rem 0.5rem