.special-group
	padding 1rem
	td
		height 1px
	.td-actions
		a
			border none
			&:hover
				.pen-edit-icon
					fill $lightblue
					
.pen-edit-icon
	fill #999
	width 1.5rem !important
	height @width

.special-group__header
	margin-bottom 1rem
	display flex
	justify-content space-between
	align-items center

.special-group__add
	margin-bottom 2rem
	input
		margin-right 0.5rem !important
		display inline-block
		width 225px
	.ext-btn
		force-top 1px

.special-group__filters
	margin-bottom 1.5rem
	display flex
	align-items center
	input
		display inline-block

.special-group__filters-one
	padding 1rem
	text-align center
	padding-top .8rem
	border 1px solid #ddd
	display inline-block
	margin-right 1rem
	box-shadow 0 0.1rem 0 0 rgba(black, .2)
	border-radius 0.25rem
	&.grey
		background #ddd
	.filter-header
		text-align center
		margin-bottom .2rem
		p
			font-size 1.1rem

.special-group__list
	a
		color #333
		text-decoration none !important
		font-size 1.2rem
		line-height 1.3
		border-bottom 1px solid #ccc
		&:hover
			border-bottom 1px solid transparent
	table
		max-width 768px
		width 100%
		tr
			border none
			background none
		td
			padding 0.8rem 0.4rem !important
	.status
		min-width 200px
		width 25%

.special-group__save
	margin-top 1.5rem

.td-checkbox
	text-align center
	width 25px

.center
	text-align center

// Different Popups
.popup
	&.show-popup
		.warn-popup-cross
			transform rotate(0) scale(1)
			transition all 0.3s ease-out-quad 25ms
	.warn
		text-align center
		padding 1.5rem
	.warn__icon
		display inline-block
		padding 1.5rem
		border 1px solid $savered
		border-radius 100%
		margin-bottom 1.3rem
	.warn-popup-cross
		fill $savered
		width 3rem
		height @width
		transform rotate(90deg) scale(.5)
	.warn__message
		margin-bottom 2rem
		p
			font-size 1.5rem
			line-height 1.5

.row-label
	margin-bottom 1rem
	padding 0
	p
		text-transform uppercase
		font-weight bold
		font-size 1rem
		
.td-actions
	width 32px
	text-align center