extends ../../layouts/site.layout

block content
	#content
		// Breadcrumbs
		.big_breadcrumbs
			.crumb_section.active(itemscope='', itemtype='http://data-vocabulary.org/Breadcrumb')
				h2(itemprop='title')
					a.accent_red(href='http://alvadi.ee/ru/kataloog/', itemprop='url') Каталог
				.crumb_dropdown
					a.crumb_selection(href='http://alvadi.ee/ru/kataloog/') Все марки машин
			.crumb_separator
			.crumb_section.active(itemscope='', itemtype='http://data-vocabulary.org/Breadcrumb')
				h2(itemprop='title')
					a.accent_red(href='http://alvadi.ee/ru/zapchasti/mazda/', itemprop='url') Mazda
				.crumb_dropdown
					a.crumb_selection(href='http://alvadi.ee/ru/zapchasti/mazda/') Все модели Mazda
			.crumb_separator
			.crumb_section.active(itemscope='', itemtype='http://data-vocabulary.org/Breadcrumb')
				h2(itemprop='title')
					a.accent_red(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/', itemprop='url')
						| 2 (DE) 
						span.accent_light 10.2010-...
				.crumb_dropdown
					a.crumb_selection(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/') Все запчасти для MAZDA 2 (DE)
			.crumb_separator
			.crumb_section.active(itemscope='', itemtype='http://data-vocabulary.org/Breadcrumb')
				h2(itemprop='title')
					a.accent_red(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/kapot/', itemprop='url') капот
		.clear
		// //END Breadcrumbs
		.left_column
			.category_thumb
				img#model_thumb_img(alt='Mazda 2 (DE) капот', src='http://pics2.alpics.info/pics/car_pics_new/small/26513.jpg', width='150', height='100')
				.item_big_pic(style='display:none;')
					table(width='100%', cellspacing='0', cellpadding='0', border='0')
						tbody
							tr
								td.top_left_corner
									div(style='height:8px;display:block;width:8px;')
								td.top_left
									div(style='height:8px;display:block;width:8px;')
								td.top_center
									div(style='height:8px;display:block;width:8px;')
								td.top_right
									div(style='height:8px;display:block;width:8px;')
								td.top_right_corner
									div(style='height:8px;display:block;width:8px;')
							tr
								td.mid_top_left
									div(style='height:8px;display:block;width:8px;')
								td.center(colspan='3')
									div(style='height:8px;display:block;width:8px;')
								td.mid_top_right
									div(style='height:8px;display:block;width:8px;')
							tr
								td.content_left
									div(style='height:8px;display:block;width:8px;')
								td.center
									div(style='height:8px;display:block;width:8px;')
								td.content_center
									.bigImage
										img(src='http://pics2.alpics.info/pics/car_pics_new/big/26513.jpg', alt='Mazda 2 (DE)')
								td.center
									div(style='height:8px;display:block;width:8px;')
								td.content_right
									div(style='height:8px;display:block;width:8px;')
							tr
								td.mid_bottom_left
								td.center(colspan='3')
									div(style='height:8px;display:block;width:8px;')
								td.mid_bottom_right
									div(style='height:8px;display:block;width:8px;')
							tr
								td.bot_left_corner
									div(style='height:8px;display:block;width:8px;')
								td.bot_left
									div(style='height:8px;display:block;width:8px;')
								td.bot_center.empty
									div(style='height:8px;display:block;width:8px;')
								td.bot_right
									div(style='height:8px;display:block;width:8px;')
								td.bot_right_corner
									div(style='height:8px;display:block;width:8px;')
			.dib.m0img.pt15
				a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/')
					img#search-spares-icon_(src='/img/cascada/left_parts_img_1.jpg', alt='Все запчасти для Mazda 2 (DE)', title='Все запчасти для Mazda 2 (DE)', style='cursor: pointer;')
			ul#search_results
				li
					.container
						a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/bamper-perednij/') Кузов
						.group_flyout
							.group
								h2 Кузов
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/bamper-perednij/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics2.alpics.info/pics/product_default_pics/ru/45.jpg', width='130', alt='бампер передний')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/bamper-perednij/') бампер передний
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/podkryljnik/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics1.alpics.info/pics/product_default_pics/ru/1345.jpg', width='130', alt='подкрыльник')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/podkryljnik/') подкрыльник
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/reshetka/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics1.alpics.info/pics/spares/small/246745.jpg', width='130', alt='решётка')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/reshetka/') решётка
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/zashitnaja-plenka/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics3.alpics.info/pics/spares/small/125481.jpg', width='130', alt='защитная пленка')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/zashitnaja-plenka/') защитная пленка
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/ramka-nomernogo-znaka/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics1.alpics.info/pics/spares/small/142161.jpg', width='130', alt='рамка номерного знака')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/ramka-nomernogo-znaka/') рамка номерного знака
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/kapot/?tdType=9794';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics3.alpics.info/pics/td/small/2/e/2ef', width='130', alt='капот')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/kapot/?tdType=9794') капот
								.clear
					ul
						li
							.container
								a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/bamper-perednij/') бампер передний
						li
							.container
								a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/podkryljnik/') подкрыльник
						li
							.container
								a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/reshetka/') решётка
						li
							.container
								a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/zashitnaja-plenka/') защитная пленка
						li
							.container
								a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/ramka-nomernogo-znaka/') рамка номерного знака
						li.active
							.container
								a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/kapot/?tdType=9794') капот
				li
					.container
						a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/motorchik-fary/') Оптика
						.group_flyout
							.group
								h2 Оптика
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/motorchik-fary/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics2.alpics.info/pics/spares/small/68252.jpg', width='130', alt='моторчик фары')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/motorchik-fary/') моторчик фары
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/ukazatelj-povorota-bokovoj/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics1.alpics.info/pics/spares/small/179735.jpg', width='130', alt='указатель поворота боковой')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/ukazatelj-povorota-bokovoj/') указатель поворота боковой
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/fara-protivotumannaja-perednjaja/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics1.alpics.info/pics/product_default_pics/ru/1225.jpg', width='130', alt='фара противотуманная передняя')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/fara-protivotumannaja-perednjaja/') фара противотуманная передняя
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/lampochka/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics1.alpics.info/pics/spares/small/117.jpg', width='130', alt='лампочка')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/lampochka/') лампочка
								.clear
				li
					.container
						a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/nakonechnik-rulevoj-tjagi/') Подвеска и управление
						.group_flyout
							.group
								h2 Подвеска и управление
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/nakonechnik-rulevoj-tjagi/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics1.alpics.info/pics/spares/small/231020.jpg', width='130', alt='наконечник рулевой тяги')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/nakonechnik-rulevoj-tjagi/') наконечник рулевой тяги
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/rulevaja-tjaga/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics1.alpics.info/pics/product_default_pics/ru/1232.jpg', width='130', alt='рулевая тяга')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/rulevaja-tjaga/') рулевая тяга
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/sajlentblok-rychaga/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics1.alpics.info/pics/product_default_pics/ru/1262.jpg', width='130', alt='сайлентблок рычага')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/sajlentblok-rychaga/') сайлентблок рычага
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/rychag/?tdType=9794';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics1.alpics.info/pics/td/small/f/6/f6661_974580.jpg', width='130', alt='рычаг')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/rychag/?tdType=9794') рычаг
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/nesushij-napravljajushij-sharnir/?tdType=9794';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics2.alpics.info/pics/td/small/8/8/88352_1143795.jpg', width='130', alt='несущий / направляющий шарнир')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/nesushij-napravljajushij-sharnir/?tdType=9794') несущий / направляющий шарнир
								.clear
				li
					.container
						a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/masljanyj-filjtr/?tdType=9794') Фильтры
						.group_flyout
							.group
								h2 Фильтры
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/masljanyj-filjtr/?tdType=9794';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics3.alpics.info/pics/td/small/7/4/74851_277246.jpg', width='130', alt='Масляный фильтр')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/masljanyj-filjtr/?tdType=9794') Масляный фильтр
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/vozdushnyj-filjtr/?tdType=9794';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics2.alpics.info/pics/td/small/5/7/57d59_2035936.jpg', width='130', alt='Воздушный фильтр')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/vozdushnyj-filjtr/?tdType=9794') Воздушный фильтр
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/filjtr-salona/?tdType=9794';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics1.alpics.info/pics/td/small/8/9/89358_2036011.jpg', width='130', alt='Фильтр салона')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/filjtr-salona/?tdType=9794') Фильтр салона
								.clear
				li
					.container
						a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/tormoznoj-disk/?tdType=9794') Тормоза
						.group_flyout
							.group
								h2 Тормоза
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/tormoznoj-disk/?tdType=9794';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics3.alpics.info/pics/td/small/2/9/29758_1143819.jpg', width='130', alt='тормозной диск')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/tormoznoj-disk/?tdType=9794') тормозной диск
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/tormoznye-kolodki-1/?tdType=9794';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics2.alpics.info/pics/td/small/9/1/9187_572979.jpg', width='130', alt='тормозные колодки')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/tormoznye-kolodki-1/?tdType=9794') тормозные колодки
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/rychagi-trosy-tjagi/?tdType=9794';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics3.alpics.info/pics/td/small/f/5/f5863_850269.jpg', width='130', alt='Рычаги / Тросы / Тяги')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/rychagi-trosy-tjagi/?tdType=9794') Рычаги / Тросы / Тяги
								.clear
				li
					.container
						a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/nabor-o-ringov/') Охлаждение
						.group_flyout
							.group
								h2 Охлаждение
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/nabor-o-ringov/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics1.alpics.info/pics/spares/small/116833.jpg', width='130', alt='набор о-рингов')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/nabor-o-ringov/') набор о-рингов
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/podshipnik-kompressorov-kondicionera/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics2.alpics.info/pics/spares/small/190218.jpg', width='130', alt='подшипник компрессора кондиционера')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/podshipnik-kompressorov-kondicionera/') подшипник компрессора кондиционера
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/termostat/?tdType=9794';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics3.alpics.info/pics/td/small/1/3/13d49_310645.jpg', width='130', alt='термостат')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/termostat/?tdType=9794') термостат
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/radiator-ohlazhdenija/?tdType=9794';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics2.alpics.info/pics/td/small/a/5/a5e54_308888.jpg', width='130', alt='радиатор охлаждения')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/radiator-ohlazhdenija/?tdType=9794') радиатор охлаждения
								.clear
				li
					.container
						a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/prokladka-golovki-cilindra/?tdType=9794') Двигатель
						.group_flyout
							.group
								h2 Двигатель
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/prokladka-golovki-cilindra/?tdType=9794';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics3.alpics.info/pics/td/small/2/e/2ef', width='130', alt='Прокладка головки цилиндра')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/prokladka-golovki-cilindra/?tdType=9794') Прокладка головки цилиндра
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/prokladka-masljanogo-poddona/?tdType=9794';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics3.alpics.info/pics/td/small/b/c/bc364_1146606.jpg', width='130', alt='Прокладка масляного поддона')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/prokladka-masljanogo-poddona/?tdType=9794') Прокладка масляного поддона
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/germetizacija-v-siteme-cirkuljacii-masla/?tdType=9794';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics2.alpics.info/pics/td/small/a/a/aa631_106074.jpg', width='130', alt='Герметизация в ситеме циркуляции  масла')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/germetizacija-v-siteme-cirkuljacii-masla/?tdType=9794') Герметизация в ситеме циркуляции  масла
								.clear
				li
					.container
						a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/svecha-zazhiganija/?tdType=9794') Система зажигания / накаливания
						.group_flyout
							.group
								h2 Система зажигания / накаливания
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/svecha-zazhiganija/?tdType=9794';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics3.alpics.info/pics/td/small/8/0/80e62_255556.jpg', width='130', alt='Свеча зажигания')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/svecha-zazhiganija/?tdType=9794') Свеча зажигания
								.clear
				li
					.container
						a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/amortizator/?tdType=9794') Амортизаторы и пружины
						.group_flyout
							.group
								h2 Амортизаторы и пружины
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/amortizator/?tdType=9794';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics1.alpics.info/pics/td/small/c/7/c7d59_354895.jpg', width='130', alt='амортизатор')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/amortizator/?tdType=9794') амортизатор
								.clear
				li
					.container
						a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/rychag-stekloochistitelja/') Стеклоочистители
						.group_flyout
							.group
								h2 Стеклоочистители
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/rychag-stekloochistitelja/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics2.alpics.info/pics/product_default_pics/ru/1364.jpg', width='130', alt='рычаг стеклоочистителя')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/rychag-stekloochistitelja/') рычаг стеклоочистителя
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/shetka-stekloochistitelja-silencio/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics2.alpics.info/pics/spares/small/281080.jpg', width='130', alt='щетка стеклоочистителя silencio')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/shetka-stekloochistitelja-silencio/') щетка стеклоочистителя silencio
								.clear
				li
					.container
						a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/akkumulyator/') Электрика
						.group_flyout
							.group
								h2 Электрика
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/akkumulyator/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics2.alpics.info/pics/spares/small/141985.jpg', width='130', alt='аккумулятор')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/akkumulyator/') аккумулятор
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/assistent-parkovki/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics3.alpics.info/pics/spares/small/146258.jpg', width='130', alt='ассистент парковки')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/assistent-parkovki/') ассистент парковки
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/zarjadnoe-ustrojstvo-dlja-akkumuljatora/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics3.alpics.info/pics/spares/small/11123214.jpg', width='130', alt='Зарядное устройство для аккумулятора')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/zarjadnoe-ustrojstvo-dlja-akkumuljatora/') Зарядное устройство для аккумулятора
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/predohranitelj/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics2.alpics.info/pics/spares/small/101924.jpg', width='130', alt='предохранитель')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/predohranitelj/') предохранитель
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/datchiki/?tdType=9794';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics1.alpics.info/pics/td/small/a/6/a6950_2037137.jpg', width='130', alt='Датчики')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/datchiki/?tdType=9794') Датчики
								.clear
				li
					.container
						a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/masljanyj-karter-1/') Масляные картеры
						.group_flyout
							.group
								h2 Масляные картеры
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/masljanyj-karter-1/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics1.alpics.info/pics/product_default_pics/ru/1746.jpg', width='130', alt='масляный картер')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/masljanyj-karter-1/') масляный картер
								.clear
				li
					.container
						a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/zerkalo-vnutrennee-universaljnoe/') Зеркала
						.group_flyout
							.group
								h2 Зеркала
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/zerkalo-vnutrennee-universaljnoe/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics3.alpics.info/pics/spares/small/101885.jpg', width='130', alt='зеркало внутреннее универсальное')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/zerkalo-vnutrennee-universaljnoe/') зеркало внутреннее универсальное
								.clear
				li
					.container
						a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/sistema-podogreva-dvigatelja-dvigatelja/') Обогрев
						.group_flyout
							.group
								h2 Обогрев
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/sistema-podogreva-dvigatelja-dvigatelja/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics2.alpics.info/pics/spares/small/14332359.jpg', width='130', alt='Система подогрева двигателя')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/sistema-podogreva-dvigatelja-dvigatelja/') Система подогрева двигателя
								.clear
				li
					.container
						a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/buksirovochnyj-tros-1/') Салон
						.group_flyout
							.group
								h2 Салон
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/buksirovochnyj-tros-1/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics1.alpics.info/pics/spares/small/191577.jpg', width='130', alt='буксировочный трос')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/buksirovochnyj-tros-1/') буксировочный трос
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/kovrik-bagazhnika-universaljnyj/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics3.alpics.info/pics/spares/small/101828.jpg', width='130', alt='коврик багажника универсальный')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/kovrik-bagazhnika-universaljnyj/') коврик багажника универсальный
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/ognetushitelj/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics2.alpics.info/pics/spares/small/14327586.jpg', width='130', alt='огнетушитель')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/ognetushitelj/') огнетушитель
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/preduprediteljnyj-zhilet/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics3.alpics.info/pics/spares/small/101817.jpg', width='130', alt='предупредительный жилет')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/preduprediteljnyj-zhilet/') предупредительный жилет
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/preduprezhdajushij-treugoljnik/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics2.alpics.info/pics/spares/small/101826.jpg', width='130', alt='предупреждающий треугольник')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/preduprezhdajushij-treugoljnik/') предупреждающий треугольник
								.clear
				li
					.container
						a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/gajka/') Крепежи
						.group_flyout
							.group
								h2 Крепежи
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/gajka/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics3.alpics.info/pics/spares/small/125265.jpg', width='130', alt='гайка')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/gajka/') гайка
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/zaklepka/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics1.alpics.info/pics/spares/small/125413.jpg', width='130', alt='заклепка')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/zaklepka/') заклепка
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/kolyshek/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics3.alpics.info/pics/spares/small/124974.jpg', width='130', alt='колышек')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/kolyshek/') колышек
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/krepezhnyj-vint/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics3.alpics.info/pics/spares/small/125262.jpg', width='130', alt='крепежный винт')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/krepezhnyj-vint/') крепежный винт
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/montazhnaja-plastina/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics3.alpics.info/pics/spares/small/125301.jpg', width='130', alt='монтажная пластина')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/montazhnaja-plastina/') монтажная пластина
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/montazhnoe-gnezdo/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics2.alpics.info/pics/spares/small/125770.jpg', width='130', alt='монтажное гнездо')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/montazhnoe-gnezdo/') монтажное гнездо
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/nabor-pistonov/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics3.alpics.info/pics/spares/small/126405.jpg', width='130', alt='набор пистонов')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/nabor-pistonov/') набор пистонов
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/piston/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics2.alpics.info/pics/spares/small/102840.jpg', width='130', alt='пистон')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/piston/') пистон
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/soedinitelj/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics1.alpics.info/pics/spares/small/125608.jpg', width='130', alt='соединитель')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/soedinitelj/') соединитель
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/trojnik/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics1.alpics.info/pics/spares/small/125605.jpg', width='130', alt='тройник')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/trojnik/') тройник
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/shurup/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics1.alpics.info/pics/spares/small/125198.jpg', width='130', alt='шуруп')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/shurup/') шуруп
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/element-ukladki-provodov/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics1.alpics.info/pics/spares/small/125500.jpg', width='130', alt='элемент укладки проводов')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/element-ukladki-provodov/') элемент укладки проводов
								.clear
				li
					.container
						a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/nakonechnik-amortizatora-kapota-bagazhnika/') Газовые пружины
						.group_flyout
							.group
								h2 Газовые пружины
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/nakonechnik-amortizatora-kapota-bagazhnika/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics2.alpics.info/pics/spares/small/112297.jpg', width='130', alt='наконечник амортизатора капота/багажника')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/nakonechnik-amortizatora-kapota-bagazhnika/') наконечник амортизатора капота/багажника
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/sharikovyj-zatvor/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics1.alpics.info/pics/spares/small/123547.jpg', width='130', alt='шариковый затвор')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/sharikovyj-zatvor/') шариковый затвор
								.clear
				li
					.container
						a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/zvukovoj-signal/') Звуковые сигналы
						.group_flyout
							.group
								h2 Звуковые сигналы
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/zvukovoj-signal/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics1.alpics.info/pics/spares/small/127065.jpg', width='130', alt='звуковой сигнал')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/zvukovoj-signal/') звуковой сигнал
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/nabor-rupornyh-zvukovyh-signalov/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics3.alpics.info/pics/spares/small/127073.jpg', width='130', alt='набор рупорных звуковых сигналов')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/nabor-rupornyh-zvukovyh-signalov/') набор рупорных звуковых сигналов
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/rupornyj-zvukovoj-signal/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics1.alpics.info/pics/spares/small/127069.jpg', width='130', alt='рупорный звуковой сигнал')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/rupornyj-zvukovoj-signal/') рупорный звуковой сигнал
								.clear
				li
					.container
						a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/sharikovyj-podshipnik/') Подшипники универсальные 
						.group_flyout
							.group
								h2 Подшипники универсальные 
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/sharikovyj-podshipnik/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics2.alpics.info/pics/spares/small/109683.jpg', width='130', alt='шариковый подшипник')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/sharikovyj-podshipnik/') шариковый подшипник
								.clear
				li
					.container
						a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/otrazhatelj-1/') Аксессуары и принадлежности
						.group_flyout
							.group
								h2 Аксессуары и принадлежности
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/otrazhatelj-1/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics2.alpics.info/pics/spares/small/288304.jpg', width='130', alt='отражатель')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/otrazhatelj-1/') отражатель
								.clear
				li
					.container
						a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/gidravlicheskaja-zhidkostj/') Эксплуатационные жидкости
						.group_flyout
							.group
								h2 Эксплуатационные жидкости
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/gidravlicheskaja-zhidkostj/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics3.alpics.info/pics/spares/small/117488.jpg', width='130', alt='гидравлическая жидкость')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/gidravlicheskaja-zhidkostj/') гидравлическая жидкость
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/distillirovannaja-voda/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics2.alpics.info/pics/spares/small/141485.jpg', width='130', alt='дистиллированная вода')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/distillirovannaja-voda/') дистиллированная вода
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/zhidkostj-dlja-radiatorov/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics2.alpics.info/pics/spares/small/141582.jpg', width='130', alt='жидкость для радиаторов')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/zhidkostj-dlja-radiatorov/') жидкость для радиаторов
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/zhidkostj-stekloomyvatelja-zimnjaja/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics3.alpics.info/pics/spares/small/897975.jpg', width='130', alt='жидкость стеклоомывателя зимняя')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/zhidkostj-stekloomyvatelja-zimnjaja/') жидкость стеклоомывателя зимняя
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/zhidkostj-stekloomyvatelja-letnjaja/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics1.alpics.info/pics/spares/small/271032.jpg', width='130', alt='жидкость стеклоомывателя летняя')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/zhidkostj-stekloomyvatelja-letnjaja/') жидкость стеклоомывателя летняя
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/konc-zhidkostj-dlja-radiatorov/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics3.alpics.info/pics/spares/small/146312.jpg', width='130', alt='конц. жидкость для радиаторов')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/konc-zhidkostj-dlja-radiatorov/') конц. жидкость для радиаторов
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/konc-zhidkostj-stekloomyvatelja-zimnjaja/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics3.alpics.info/pics/spares/small/102430.jpg', width='130', alt='конц.жидкость стеклоомывателя зимняя')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/konc-zhidkostj-stekloomyvatelja-zimnjaja/') конц.жидкость стеклоомывателя зимняя
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/maslo/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics1.alpics.info/pics/spares/small/44557.jpg', width='130', alt='масло')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/maslo/') масло
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/tormoznaja-zhidkostj-dot4/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics2.alpics.info/pics/spares/small/111165.jpg', width='130', alt='тормозная жидкость DOT4')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/tormoznaja-zhidkostj-dot4/') тормозная жидкость DOT4
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/tormoznaja-zhidkostj-dot5/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics2.alpics.info/pics/spares/small/111170.jpg', width='130', alt='тормозная жидкость DOT5')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/tormoznaja-zhidkostj-dot5/') тормозная жидкость DOT5
								.clear
				li
					.container
						a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/cmazka-dlja-klemm-akkumuljatora/') Автохимия и автокосметика
						.group_flyout
							.group
								h2 Автохимия и автокосметика
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/cmazka-dlja-klemm-akkumuljatora/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics2.alpics.info/pics/spares/small/326885.jpg', width='130', alt='cмазка для клемм аккумулятора')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/cmazka-dlja-klemm-akkumuljatora/') cмазка для клемм аккумулятора
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/avtohimija/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics2.alpics.info/pics/spares/small/141484.jpg', width='130', alt='автохимия')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/avtohimija/') автохимия
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/aksessuary/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics1.alpics.info/pics/spares/small/9779422.jpg', width='130', alt='аксессуары')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/aksessuary/') аксессуары
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/vosk/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics3.alpics.info/pics/spares/small/140842.jpg', width='130', alt='воск')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/vosk/') воск
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/dezinfecirujushee-sredstvo-sistemy-ohlazhdenija/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics3.alpics.info/pics/spares/small/108693.jpg', width='130', alt='дезинфецирующее средство системы охлаждения')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/dezinfecirujushee-sredstvo-sistemy-ohlazhdenija/') дезинфецирующее средство системы охлаждения
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/sredstva-dlja-uhoda-za-kuzovom/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics1.alpics.info/pics/spares/small/140846.jpg', width='130', alt='другие средства для ухода за кузовом')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/sredstva-dlja-uhoda-za-kuzovom/') другие средства для ухода за кузовом
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/osvezhitelj-salona/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics3.alpics.info/pics/spares/small/140764.jpg', width='130', alt='освежители салона')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/osvezhitelj-salona/') освежители салона
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/razmorazhivatelj-dlja-zamkov/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics2.alpics.info/pics/spares/small/146385.jpg', width='130', alt='размораживатель для замков')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/razmorazhivatelj-dlja-zamkov/') размораживатель для замков
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/razmorazhivatelj-stekol/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics3.alpics.info/pics/spares/small/146383.jpg', width='130', alt='размораживатель стекол')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/razmorazhivatelj-stekol/') размораживатель стекол
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/ruchnoy-opriskivatel/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics1.alpics.info/pics/spares/small/12500085.jpg', width='130', alt='Ручной опрыскиватель')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/ruchnoy-opriskivatel/') Ручной опрыскиватель
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/sredstvo-dlja-bamperov/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics2.alpics.info/pics/spares/small/141195.jpg', width='130', alt='средство для бамперов')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/sredstvo-dlja-bamperov/') средство для бамперов
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/sredstvo-dlja-bleska-shin/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics2.alpics.info/pics/spares/small/146340.jpg', width='130', alt='средство для блеска шин')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/sredstvo-dlja-bleska-shin/') средство для блеска шин
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/sredstvo-dlja-mytjja-stekol/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics3.alpics.info/pics/spares/small/140843.jpg', width='130', alt='средство для мытья стёкол')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/sredstvo-dlja-mytjja-stekol/') средство для мытья стёкол
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/sredstvo-dlja-chistki-diskov/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics2.alpics.info/pics/spares/small/146378.jpg', width='130', alt='средство для чистки дисков')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/sredstvo-dlja-chistki-diskov/') средство для чистки дисков
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/sredstvo-dlja-chistki-obivki/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics1.alpics.info/pics/spares/small/140761.jpg', width='130', alt='средство для чистки обивки')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/sredstvo-dlja-chistki-obivki/') средство для чистки обивки
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/himija-dlja-kuzova/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics3.alpics.info/pics/spares/small/11993532.jpg', width='130', alt='химия для кузова')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/himija-dlja-kuzova/') химия для кузова
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/himija-dlja-salona/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics2.alpics.info/pics/spares/small/12499973.jpg', width='130', alt='химия для салона')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/himija-dlja-salona/') химия для салона
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/shampunj/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics3.alpics.info/pics/spares/small/146333.jpg', width='130', alt='шампунь')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/shampunj/') шампунь
								.clear
				li
					.container
						a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/credstvo-ochistki-vpusknogo-kollektora/') Химия для автомастерских
						.group_flyout
							.group
								h2 Химия для автомастерских
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/credstvo-ochistki-vpusknogo-kollektora/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics1.alpics.info/pics/spares/small/189857.jpg', width='130', alt='Cредство очистки впускного коллектора')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/credstvo-ochistki-vpusknogo-kollektora/') Cредство очистки впускного коллектора
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/antikorozionnyj-himija/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics2.alpics.info/pics/spares/small/141207.jpg', width='130', alt='антикорозионный химия')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/antikorozionnyj-himija/') антикорозионный химия
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/antikorrozijnoe-sredstvo/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics1.alpics.info/pics/spares/small/108690.jpg', width='130', alt='антикоррозийное средство')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/antikorrozijnoe-sredstvo/') антикоррозийное средство
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/germetik/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics3.alpics.info/pics/spares/small/189171.jpg', width='130', alt='герметик')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/germetik/') герметик
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/gruntovka/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics1.alpics.info/pics/spares/small/146357.jpg', width='130', alt='Грунтовка')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/gruntovka/') Грунтовка
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/keramicheskaja-smazka/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics2.alpics.info/pics/spares/small/141204.jpg', width='130', alt='керамическая смазка')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/keramicheskaja-smazka/') керамическая смазка
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/mednaja-pasta/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics1.alpics.info/pics/spares/small/146366.jpg', width='130', alt='медная паста')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/mednaja-pasta/') медная паста
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/mednaja-smazka/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics2.alpics.info/pics/spares/small/141205.jpg', width='130', alt='медная смазка')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/mednaja-smazka/') медная смазка
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/mnogofunkcionaljnaja-smazka/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics2.alpics.info/pics/spares/small/141198.jpg', width='130', alt='многофункциональная смазка')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/mnogofunkcionaljnaja-smazka/') многофункциональная смазка
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/ochistitelj-dvigatelja/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics3.alpics.info/pics/spares/small/108692.jpg', width='130', alt='очиститель двигателя')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/ochistitelj-dvigatelja/') очиститель двигателя
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/ochistitelj-tormozov/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics3.alpics.info/pics/spares/small/141197.jpg', width='130', alt='очиститель тормозов')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/ochistitelj-tormozov/') очиститель тормозов
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/ochistitelj-elektroniki/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics2.alpics.info/pics/spares/small/108691.jpg', width='130', alt='очиститель электроники')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/ochistitelj-elektroniki/') очиститель электроники
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/pasta-dlja-mytjja-ruk/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics2.alpics.info/pics/spares/small/179998.jpg', width='130', alt='Паста для мытья рук')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/pasta-dlja-mytjja-ruk/') Паста для мытья рук
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/preparat-dlja-demontazha-vpuskov/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics2.alpics.info/pics/spares/small/146371.jpg', width='130', alt='препарат для демонтажа впусков')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/preparat-dlja-demontazha-vpuskov/') препарат для демонтажа впусков
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/smazochnye-materialy-i-drugoe/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics1.alpics.info/pics/spares/small/168497.jpg', width='130', alt='присадки и другое')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/smazochnye-materialy-i-drugoe/') присадки и другое
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/silikon-v-spree/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics3.alpics.info/pics/spares/small/141200.jpg', width='130', alt='силикон в спрее')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/silikon-v-spree/') силикон в спрее
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/silikonovaja-smazka/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics1.alpics.info/pics/spares/small/200975.jpg', width='130', alt='силиконовая смазка')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/silikonovaja-smazka/') силиконовая смазка
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/smazka-dlja-cepej/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics2.alpics.info/pics/spares/small/255271.jpg', width='130', alt='смазка для цепей')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/smazka-dlja-cepej/') смазка для цепей
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/smazochno-pronikajushij-sprej-1/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics3.alpics.info/pics/spares/small/101930.jpg', width='130', alt='смазочно-проникающий спрей')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/smazochno-pronikajushij-sprej-1/') смазочно-проникающий спрей
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/sprej-dlja-kontaktov/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics1.alpics.info/pics/spares/small/146329.jpg', width='130', alt='спрей для контактов')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/sprej-dlja-kontaktov/') спрей для контактов
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/sprej-so-szhatym-vozduhom/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics1.alpics.info/pics/spares/small/146431.jpg', width='130', alt='спрей со сжатым воздухом')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/sprej-so-szhatym-vozduhom/') спрей со сжатым воздухом
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/sredstvo-dlja-obnaruzhenija-neplotnosti/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics2.alpics.info/pics/spares/small/146369.jpg', width='130', alt='средство для обнаружения неплотности')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/sredstvo-dlja-obnaruzhenija-neplotnosti/') средство для обнаружения неплотности
								.group_item(onclick="window.location = 'http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/cink-sprej/';")
									table(width='100%', cellspacing='0', cellpadding='0')
										tbody
											tr
												td.group_img_container
													img(src='http://pics3.alpics.info/pics/spares/small/146411.jpg', width='130', alt='цинк-спрей')
											tr
												td
													a(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/cink-sprej/') цинк-спрей
								.clear
			.expand
				a#all_categories(href='http://alvadi.ee/ru/zapchasti/mazda/2-de-2010/') Все категории
		#search-spares-div.category_content_overlay(style='display: none;')
			table(cellpadding='0', cellspacing='0', style='background:#E9E9E9;width:765px;')
				tbody
					tr
						td.txtLeft(style='padding-left:210px;')
							.search
								input#spare_types_search(type='text', name='spare_types_search', style='color:#999;width:210px;')
								input#spare_types_search_reset.resetButton(type='button', style='opacity: 0; margin-top: 2px')
						td.txtRight.p5
							img#search-spares-close(src='/img/cascada/thumb_overlay_close3.png', alt='', style='cursor: pointer;')
			#search_result_div.right_column
		script.
			ga('send', 'pageview', '/Product-List-Virtual', {'nonInteraction': 1});
		#spares_div.right_column
			.clear
			link(rel='stylesheet', href='http://alvadi.ee/css/car-filter.css')
			section#car-filter-hint
				p Уточните модель автомобиля, чтобы правильно подобрать зачпасть
			section#car-filter
				.buttons-group
					.button
						button.btn-title Выберите год выпуска
						.container.sort-type-year.show-container
							table
								tbody
									tr
										td
											a.active(href='?tdYear=2007', data-value='2007', data-type='year') 2007
										td
											a(href='?tdYear=2008', data-value='2008', data-type='year') 2008
										td
											a(href='?tdYear=2009', data-value='2009', data-type='year') 2009
										td
											a(href='?tdYear=2010', data-value='2010', data-type='year') 2010
										td
											a(href='?tdYear=2011', data-value='2011', data-type='year') 2011
										td
											a(href='?tdYear=2012', data-value='2012', data-type='year') 2012
										td
											a(href='?tdYear=2013', data-value='2013', data-type='year') 2013
										td
											a(href='?tdYear=2014', data-value='2014', data-type='year') 2014
										td
											a(href='?tdYear=2015', data-value='2015', data-type='year') 2015
										td
											a(href='?tdYear=2016', data-value='2016', data-type='year') 2016
					.button
						button.btn-title.hidden Выберите двигатель
						.container.sort-by-engine.show-container
					.button
						button.btn-title.hidden Выберите модификацию
						.container.sort-by-modifications
							table
								thead
									tr
										td Модификация
										td Код двигателя
								tbody
									tr
										td A349349843
										td Z03443
			.clear
			.example-images
				img(src="http://pics3.alpics.info/pics/td/small/a/d/ad037_332715.jpg", alt="")
				img(src="http://pics1.alpics.info/pics/spares/small/73139.jpg", alt="")
				img(src="http://pics1.alpics.info/pics/spares/small/11001.jpg", alt="")
				img(src="http://pics1.alpics.info/pics/spares/small/11081.jpg", alt="")
				img(src="http://pics1.alpics.info/pics/spares/small/49211.jpg", alt="")
				img(src="http://pics1.alpics.info/pics/spares/small/211843.jpg", alt="")
		#loading_img.loader(style='display: none;')
			span загрузка...
			img(src='http://alvadi.ee/img/loader2.gif', width='200', height='18', alt='')
		.clear
