extends ../../layouts/footer.layout

//- block content
	include ../../../../common/templates/boilerplate/cats

//- block content
	#content
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat repellendus veritatis iste odit! Ratione voluptatum, dolores repellendus quidem consectetur beatae sapiente ut deserunt commodi nisi. Et omnis repudiandae cumque, facilis?

block content
	#content
		.big_breadcrumbs
			table(width='100%', cellspacing='0', cellpadding='0', border='0')
				tbody
					tr
						td(valign='top')
							.crumb_section.active(itemscope='', itemtype='http://data-vocabulary.org/Breadcrumb')
								h2(itemprop='title')
									a.accent_red(href='http://alvadi.ee/ru/kataloog/', itemprop='url') Каталог
								.crumb_dropdown
									a.crumb_selection(href='http://alvadi.ee/ru/kataloog/') Все марки машин
							.crumb_separator
							.crumb_section.active(itemscope='', itemtype='http://data-vocabulary.org/Breadcrumb')
								h2(itemprop='title')
									a.accent_red(href='http://alvadi.ee/ru/zapchasti/volkswagen/', itemprop='url') Volkswagen
								.crumb_dropdown
									a.crumb_selection(href='http://alvadi.ee/ru/zapchasti/volkswagen/') Все модели VOLKSWAGEN
							.crumb_separator
							.crumb_section.active(itemscope='', itemtype='http://data-vocabulary.org/Breadcrumb')
								h2(itemprop='title')
									a.accent_red(href='http://alvadi.ee/ru/zapchasti/volkswagen/traner-t4-caravelle-multivan-1990/', itemprop='url')
										| VW TRANSPORTER (T4)/CARAVELLE/MULTIVAN 
										span.accent_light 07.1990-03.2003
								.crumb_dropdown
									a.crumb_selection(href='http://alvadi.ee/ru/zapchasti/volkswagen/traner-t4-caravelle-multivan-1990/') Все запчасти для VW TRANSPORTER (T4)
						td.txtRight(valign='top')
							.backButtonLight(onclick="document.location.href = 'http://alvadi.ee/ru/zapchasti/volkswagen/traner-t4-caravelle-multivan-1990/';")
								div
									a.accent_dark(style='white-space: nowrap;', href='http://alvadi.ee/ru/zapchasti/volkswagen/traner-t4-caravelle-multivan-1990/') « Вернуться в каталог
		div
			.clear
			// Item
			.item_details.borderNone(itemscope='', itemtype='http://schema.org/Product')
				span(itemprop='isAccessoryOrSparePartFor', itemscope='', itemtype='http://schema.org/Product')
					span(itemprop='brand', itemscope='', itemtype='http://schema.org/Brand')
						meta(itemprop='name', content='Volkswagen')
					meta(itemprop='model', content='VW TRANSPORTER (T4)/CARAVELLE/MULTIVAN')
				meta(itemprop='url', content='http://alvadi.ee/ru/kataloog/varuosa/12531920/')
				table(width='100%')
					tbody
						tr
							td.v_bottom(colspan='3')
								table(width='100%', cellspacing='0', cellpadding='0', border='0')
									tbody
										tr
											td
												h2(itemprop='name') тележка - ролики раздвижных дверей 
											td.v_bottom.h_right(itemprop='offers', itemscope='', itemtype='http://schema.org/Offer')
												| Цена со скидкой:  
												span.accent_BigBlue 6.71
												span(itemprop='priceCurrency') EUR
												br
												span.accent_light
													| Обычная цена:  
													span.bold.txt15.line_through(itemprop='price') 8.94
													|   EUR
												br
												span.goods-list__yellow-discount(style='line-height: 16pt;') Экономия:  2.23  EUR (-24%)
						tr
							td.big_thumb
								a.new_lightbox(data-src='http://pics2.alpics.info/pics/spares/big/12531920.jpg', href='http://pics2.alpics.info/pics/spares/big/12531920.jpg')
									img(alt='Тележка - ролики раздвижных дверей', src='http://pics3.alpics.info/pics/spares/small/12531920.jpg', itemprop='image')
								br
								span.accent_light
									| Код товара: 
									span.bold AL12531920
								br
								.polcar_code
								br
							td.list(style='width: 60%;')
								img#quality_1832416.q(src='http://alvadi.ee/img/q4.png', alt='Аналоговая деталь высокого качества.', title='Аналоговая деталь высокого качества.')
								table(width='100%', cellspacing='0', cellpadding='0', border='0')
									tbody
										tr.row(itemprop='description')
											td(style='width: 30%') Период применения.:
											td.bold .91-.04
										tr(itemprop='description')
											td(style='width: 30%') Сторона:
											td.bold правая
										tr.row(itemprop='description')
											td(style='width: 30%') Модель:
											td.bold TRANSPORTER (T4)/CARAVELLE/MULTIVAN, 07.90-03.03
										tr(itemprop='description')
											td(style='width: 30%') Дополнительное название:
											td.bold нижние ролики с держателем
										tr.row(itemprop='description')
											td(style='width: 30%') Название детали:
											td.bold тележка - ролики раздвижных дверей
							td.cart_add_block
								div
									table(cellspacing='0', cellpadding='0', border='0')
										tbody
											tr
												td.v_bottom.h_right.pb5
													span.accent_light
														| на складе 
														img.mbm7(alt='', src='http://alvadi.ee/img/cascada/logo_small.png')
														|  : 
														span.bold.accent_black 1 шт
													br
													.pt5
														table(cellspacing='0', cellpadding='0', border='0')
															tbody
																tr
																	td.p0
																		span.accent_light доставим под заказ:
																		span.bold
																			br
																			| 09.03.2016, 15:00
																	td.p0
																		a.icon_helper(href='#', title='help', onmouseover="showMessage(this,'Если сделаете заказ сейчас, то товар будет доставлен со склада в магазин ALVADI <b>09.03.2016 15:00</b>.<br/><br/>Адрес магазина: Tallinn, Majaka 10.<br /><br />Доставка клиентам из Таллинна будет выполнена в этот же день.<br /><br />Если вы живёте за пределами Таллинна, то получите заказ в этот же день или на один день позже (зависит от метода доставки, который Вы сможете выбрать в корзине).', '370', '170');", onmouseout='firstHideMessage();')
																			img(src='http://alvadi.ee/img/cascada/icon_helper.png', alt='help')
											tr
												td.h_right
													.add_to_cart
														input.add_to_cart_btn(type='button', value='Добавить в корзину', onclick="ga('send', 'event', 'ProductInCard', 'FromProduct', {'nonInteraction': 1});", spareid='12531920', cartquery='?act=cart&spare_id=12531920&_cs=2&cart_model_id=17090&td_typ_id=')
			script(type='text/javascript').
				var google_tag_params = {
				dynx_itemid:     "AL12531920",
				dynx_pagetype:   "offerdetail",
				dynx_totalvalue: "6.71",
				};
			script.
				window._fbq = window._fbq || [];
				window._fbq.push(["track", "ViewContent", {
				content_ids: ["12531920"],
				content_type: "product"
				}]);
			// //END Item
			// Tabs
			ul.tabs
				li#litab3.active
					div
						a(href='http://alvadi.ee/ru/kataloog/varuosa/12531920', onfocus='this.blur();') Аналоги
				li#litab1
					div
						a(href='http://alvadi.ee/ru/kataloog/varuosa/12531920', onfocus='this.blur();') Таблица совместимости
				li#litab2
					div
						a(href='http://alvadi.ee/ru/kataloog/varuosa/12531920', onfocus='this.blur();') Парные
				li#litab4
					div
						a(href='http://alvadi.ee/ru/kataloog/varuosa/12531920#!tab4', onfocus='this.blur();') ОЕМ коды
			.tab_container
				#tab3.tab_content(style='display: none;')
					span.d_block
						a(href='http://alvadi.ee/ru/kataloog/varuosa/12531920', onclick="$('#litab1').click(); return false;") « таблица совместимости с автомобилями
				#tab1.tab_content(style='display: block;')
					.category_item_details_table
						span.accent_light.d_block.pb5 Выбранная запчасть подходит на следующие автомобили:
						table(cellspacing='0', cellpadding='0')
							tbody
								tr
									td.pr15
										h2
											a.accent_dark(href='http://alvadi.ee/ru/zapchasti/volkswagen/traner-t4-caravelle-multivan-1990/telezhka-roliki-razdvizhnyh-dverej/')
												| VW TRANSPORTER (T4)/CARAVELLE/MULTIVAN
												span.accent_light 07.1990-03.2003
									td.txt15
										a(href='http://alvadi.ee/ru/zapchasti/volkswagen/traner-t4-caravelle-multivan-1990/telezhka-roliki-razdvizhnyh-dverej/') перейти к модели »
						table#mid_17090.details(width='100%', cellspacing='0', cellpadding='0')
							thead
								tr.tableNameRow
									th.tableName.header.headerSortDown(style='white-space: normal;vertical-align:middle;padding-left:20px;cursor:pointer') Период применения.
									th.tableName.header.headerSortDown(style='white-space: normal;vertical-align:middle;padding-left:20px;cursor:pointer') Сторона
									th.tableName.header.headerSortDown(style='white-space: normal;vertical-align:middle;padding-left:20px;cursor:pointer') Модель
									th.tableName.header.headerSortDown(style='white-space: normal;vertical-align:middle;padding-left:20px;cursor:pointer') Дополнительное название
									th.tableName.header(style='white-space: normal;vertical-align:middle;padding-left:20px;cursor:pointer') Название детали
							tbody
								//- each one in [1, 2, 3, 4, 5, 6, 7, 8, 9]
									tr
										td .91-.04
										td правая
										td TRANSPORTER (T4)/CARAVELLE/MULTIVAN, 07.90-03.03
										td нижние ролики с держателем
										td тележка - ролики раздвижных дверей
								tr
									td .91-.04
									td правая
									td TRANSPORTER (T4)/CARAVELLE/MULTIVAN, 07.90-03.03
									td нижние ролики с держателем
									td тележка - ролики раздвижных дверей
				#tab2.tab_content(style='display: none;')
					span.d_block
						a(href='http://alvadi.ee/ru/kataloog/varuosa/12531920', onclick="$('#litab1').click(); return false;") « таблица совместимости с автомобилями
				#tab4.tab_content(style='display: none;')
					span.accent_light.d_block.pb15
						| Производители запчастей используют коды, чтобы правильно опознать запчасть.
						br
						|                                 Ниже увидите список кодов, с которыми эта запчасть совместима:
					br
					br
					.category_item_details_table
					span.d_block
						a(href='http://alvadi.ee/ru/kataloog/varuosa/12531920', onclick="$('#litab1').click(); return false;") « таблица совместимости с автомобилями
		.clear


block footer
	footer.main-footer
		.footer-inner
			.footer-sub

				.sub#footer-sub
					.sub__text
						+icon('mail-white', 'footer__icon-mail')
						p Подпишитесь на скидки, новинки, предложения
					.sub__input
						#footer-error-tooltip.ext-tooltip.top: p Укажите правильный email адрес!
						input#footer-subscribe(type="email", placeholder="укажите адрес эл. почты")
						button#footer-subscribe-btn.ext-btn.blue Подпишись

				.success#footer-success.hidden
					+icon('mail-white-success', 'footer__icon-checkmark')
					p Спасибо! Адрес <strong id="your-subs-email">maarika.toomberg@meiemesi.ee</strong> успешно подписан рассылку от Alvadi!
					button#another-sub Подписаться другим email

			.footer__container

				.footer__container-links
					ul
						each link in ['Главная', 'Запчасти', 'Инфо и помощь', 'Партнёрам', 'Контакты']
							li: a(href="#").footer__link #{link}

				.footer__container-contacts
					ul
						li
							+icon('phone', 'footer-phone-icon')
							p (372) 5250 146
						li
							+icon('mail', 'footer-icon')
							a(href="#").footer__link info@alvadi.ee
						li
							+icon('facebook', 'footer-icon')
							a(href="#").footer__link Мы в facebook
								+icon('link')

				.footer__container-worktime
					ul
						li.header
							+icon('map', 'footer-icon')
							p.strong Адрес магазина
						li.body
							a(href="#").footer__link Majaka 10, Tallinn 11412, Estonia
								+icon('link')
						li.header
							+icon('clock', 'footer-clock-icon footer-icon')
							p.strong Время работы
						li.body
							p Пн-Пт...........9:00-19:00
							p Сб..............10:00-15:00

				.footer__container-pay

					+icon('pay', 'footer-icon')
					p.strong Оплата

					ul.inset.footer__list
						each one in ['Swedbank', 'SEB', 'LHVpank', 'Nordea', 'DanskeBank', 'Krediidibank', 'Paypal']
							li: p #{one}

				.footer__container-delivery

					+icon('delivery', 'footer-icon')
					p.strong Доставка

					ul.inset.footer__list
						each one in ['OSC курьер', 'Cargobus', 'Itella (Smartpost)', 'Самовывоз']
							li: p #{one}

				.footer__copyright-container

					img.footer__logo(src="http://alvadi.ee/img/cascada/logo.png", alt="")
					p.footer__copyright Все права защищены Alvadi OÜ © 2016