extends ../../layouts/site.layout

mixin categories(i, className)
	if i === 0
		p(class="#{className}") Основное
	if i === 4
		p(class="#{className}") Работа
	if i === 6
		p(class="#{className}") Доставка
	if i === 9
		p(class="#{className}") Заказ
	if i === 12
		p(class="#{className}") Оплата
	if i === 14
		p(class="#{className}") Консультация
	if i === 16
		p(class="#{className}") Кредит
	if i === 17
		p(class="#{className}") Возврат товара из заказа
	if i === 18
		p(class="#{className}") Остальное

block content
	- questionCollection = ['Как работает поиск?', 'Что такое код запчасти AL/OEM?', 'Нужна ли регистрация для оформления заказа?', 'Как я могу зарегистрироваться?', 'Работаете ли вы в выходные дни?', 'В какое время лучше вам звонить?', 'Как воспользоваться услугой доставки?', 'Какова стоимость доставки?', 'Возможна ли бесплатная доставка?', 'Как узнать цену на запчасти?', 'Как оформить заказ?', 'Как оплатить заказ?', 'Какие допускаются способы оплаты?', 'Могу ли я отменить заказ?', 'Как задать вопрос специалисту?', 'Как скоро я получу ответ на свой вопрос?', 'Возможно ли оформить заказ в кредит?', 'Если я хочу вернуть товар?', 'Я добавил в корзину деталь, но на момент оплаты детали уже не оказалось. Почему?', 'Заказанная мною деталь выглядит не так, как на фотографии в Вашем каталоге. Почему?']

	#content
		.row: h1 Инфо и помощь
		.left-bar
			.left-container
				each one, i in questionCollection
					+categories(i, 'quest-category left-quest-category')
					a(href="##{one}") #{one}
			.left-container: .cant-find-answer
				a(href="#make-your-question")
					+icon('info')
				p Не нашли ответа на вопрос? 
				a(href="#make-your-question").link Задайте его!
		.right-bar
			.right-container
				each one, i in questionCollection
					+categories(i, 'quest-category right-quest-category')
					.item(id="#{one}")
						a(href="##{one}").question #{one}
						.answer
							if i === 0
								p Воспользовавшись поиском, Вы можете без труда найти нужную автозапчасть. Для этого необходимо в строку «поиск» ввести либо код запчасти (OEM,AL коды), либо ее наименование. После чего Вы сможете ознакомиться с имеющимся ассортиментом по данному запросу, ценами, сроками доставки. Существует незначительная разница между указанием кода запчасти и ее наименованием. При указании наименования высвечивается абсолютно весь перечень запчастей по данному запросу. Если Вы указываете код запчасти, поиск будет более конкретным. Кроме того, Вы сможете ознакомиться с предлагаемыми аналогами (заменителями)
							if i === 1
								p AL - это маркировка ALVADI, идентифицирующая деталь автомобиля. OEM - оригинальный производитель оборудования.
							if i === 2
								p Для оформления заказа регистрация обязательна. При регистрации клиенту  присваивается индивидуальный логин и пароль, тем самым создается личный кабинет. В строке «Тип клиента» Вы определяете себя как частное или юридическое лицо. В личном кабинете Вы можете просмотреть свою историю заказов, запросов и перечень задаваемых вопросов 
									a(href="#") здесь
							if i === 3
								p
									| Для регистрации следует перейти в раздел 
									a(href="#") регистрация 
									| (в правом верхнем углу) и заполнить пустые поля персональной информацией. Перед оформлением регистрации на сайте обязательно ознакомьтесь с 
									a(href="#") соглашением пользователя. 
									| Вам необходимо указать желаемый логин, адрес электронной почты и номер мобильного телефона, чтобы администрация сайта смогла с Вами связаться при такой необходимости.
							if i === 4
								p Магазин работает с понедельника по пятницу с 10:00-19:00, в субботу с 10:00-15:00. Интернет-магазин запчастей «ALVADI» работает без выходных дней.
							if i === 5
								p Вы можете позвонить нам в любой рабочий день недели с 10.00 до 18.00 часов, в субботу с 10:00-15:00.
							if i === 6
								p При оформлении заказа Вам необходимо будет указать, собираетесь ли Вы забрать товар самовывозом, либо же воспользовавшись услугой доставки. Доставка возможна по почте, CargoBus, SmartPost, OSC. Необходимо будет указать страну, город, адрес, почтовый индекс, телефон и имя, а так же дополнительную информацию о доставке. Например: “желательно доставить после 18.00” или “Прошу отправить товар через несколько месяцев, потому, что нахожусь в отпуске”.
							if i === 7
								p Мы предлагаем Вам следующие способы доставки: почтой, SmartPost, OSC, CargoBus. Для каждого вида доставки устанавливается определенная плата. Стоимость доставки высвечивается при оформлении заказа. (см. 3.2 пункта об Условиях Пользования)
							if i === 8
								p Доставка товара может быть выполнена бесплатно в пределах Эстонии при превышении суммы стоимости товара 150 евро без учёта налога с оборота. (см. 3.2 пункта об Условиях Пользования)
							if i === 9
								p Есть возможность узнать цены на запчасти двумя способами. Во-первых, воспользовавшись поиском необходимых деталей. Для этого нужно знать наименование или код запчастей. Ввод этих данных позволяет ознакомиться с наличием искомых деталей, их ценами и даже сроком доставки. А во-вторых, Вы всегда можете позвонить по нашему контактному телефону +372 52 50 146
							if i === 10
								p Для того, что бы оформить заказ необходимо сперва зарегистрироваться, выбрать интересующий Вас товар и добавить его в виртуальную корзину (кнопка “В корзину). Далее, нажав кнопку “Посмотреть содержимое Корзины” Вас перенаправит на страницу с детальной информацией о Вашем заказе, в которой Вы сможете видеть выбранные Вами товары, их общую стоимость, а так же при необходимости, Вы сможете изменить способ доставки. Более подробную информацию Вы найдете на странице Условий Пользования (ссылка) пункт 4.
							if i === 11
								p Оплата в нашем каталоге производится легко и быстро. После того, как Вы выбрали метод доставки и заполнили все необходимые поля, Вас перенаправит обратно в корзину заказа, где можно будет видеть общую сумму к оплате и информацию о доставке заказа. При необходимости, Вы можете поменять данные. Если Вы уверены в правильности введенных данных, нажмите кнопку ’’ Оформить заказ’’, после чего, Вас перенаправит на страницу выбора банка. Если Вашего банка нет в списке, пожалуйста, свяжитесь с нами по телефону или по электронной почте. После выбора банка, вы будете перенаправлены на страницу оплаты. После завершения оплаты вы получите от нас по электронной почте счет, подтверждающий успешное совершение заказа. Если счет не пришел, пожалуйста свяжитесь с нами. (см. пункт 4.5 Условий Пользования)
							if i === 12
								p Вы можете оплатить товар:
								ul
									li Посредством прямой ссылки банка,
									li Банковским переводом,
									li В магазине ALVADI наличными деньгами или дебетовой/кредитной картой,
									li Кредитной картой по интернету,
									li Любым другим удобным способом (предварительно необходимо согласовать с ALVADI до осуществления оплаты)
							if i === 13
								p Убедительно просим Вас быть предельно внимательными при оформлении заказа. Обязательно проверяйте правильность наименований выбранных запчастей, цену, артикул, количество. Возврат товара возможен только в случаях, предусмотренных Условиями Пользования. Более подробную информацию см. пункта 6 Условий Пользования
							if i === 14
								p Для отправки запроса специалисту, напишите письмо на info@alvadi.ee Обязательно укажите следующую информацию:
								ul
									li Ваш контактный телефон;
									li e-mail (не обязательно);
									li VIN номер авто;
									li марка и модель автомобиля;
									li год и месяц выпуска;
									li объем двигателя;
									li привод;
									li страна производителя авто;
									li необходимые запчасти и их количество.
							if i === 15
								p После получения Вашего письма, специалист свяжется с Вами в ближайшее время для предоставления нужной информации. Постарайтесь указать как можно больше данных об автомобиле, так как это важно для обработки заявки и быстрого ответа на нее.
							if i === 16
								p На данный момент данная возможность отсутствует.
							if i === 17
								p В случае, если вы по какой-то причине хотите вернуть товар, необходимо обязательно оповестить об этом нашего специалиста. В письме укажите код детали и причину по которой вы хотите вернуть товар. Только точное описание проблемы позволит нашим специалистам в кратчайшие сроки вернуть вам деньги или выслать новую деталь.
							if i === 18
								p Все дело в том, что деталь/детали бронируется только в том случае, если Alvadi OÜ получила уведомление об оплате. Если оплата не была произведена, то ваша/ваши деталь/детали могут быть проданы в любой момент. Более подробную информацию см. в пункте 3.5 Условий Пользования.
							if i === 19
								p Все фотографии находящиеся в каталоге несут иллюстрирующий характер и поэтому могут несколько отличаться от действительной внешности товара. (см. пункт 3.6 пункта Условий Пользования)
				.send-question(data-scope="send-question")
					p.quest-category.right-quest-category#make-your-question Задай свой вопрос
					p.desc Если Вы проверили все ответы и не нашли нужного, задайте свой вопрос. Ответ Вы получите в течении двух рабочих дней на указанный email адрес.
					.input-group
						label(for="question") Ваш вопрос *
						p.input-error Укажите вопрос
						.circle.circle-grey#circle-question
						textarea#question.ext-input
					.input-group
						label(for="email") Ваш email *
						p.input-error Укажите email адрес правильно
						.circle.circle-grey#circle-email
						input(type="email")#email.ext-input
					.input-group
						button#send-question.ext-btn.ext-btn-legacy Отправить вопрос