extends ../../layouts/nav.layout

block nav
	nav.xe-nav
		.nav-left
			.navigation
				a(href="#")#leftbar-toggle
					+icon('nav', 'nav-svg-link')
			.nav-logo
				img(src="http://alvadi.ee/panel/img/logos/logo_alvadi.jpg", alt="")
				.logo-small: p A
			.nav-search
				+icon('search', 'nav-search-icon')
				button(data-reset="#nav-search").nav-search-reset-btn
					+icon('cross', 'nav-cross-icon')
				input(type="text", placeholder="Найти в админке")#nav-search
			.nav-title
				a(href="#") Контент менеджмент
			.nav-icon-link
				a(href="#", title="довольные клиенты")
					+icon('smile', 'nav-svg-link')
					span 195
			.nav-icon-link
				a(href="#", title="товаров в корзине всего")
					+icon('cart', 'nav-svg-link')
					span 901
			.nav-icon-link
				a(href="#", title="информация")
					+icon('info2', 'nav-svg-link')
					span 1687
			//- .nav-icon-link
			//- 	a(href="#", title="звонки")
			//- 		+icon('phone2', 'nav-svg-link')
			//- 		span 54
			//- .nav-icon-link
			//- 	a(href="#", title="задачи в Таск менеджере")
			//- 		+icon('bug', 'nav-svg-link')
			//- 		span 22
			.more-indicators
				a(href="#", title="Показать больше индикаторов")#btn-more-indicators
					+icon('dots', 'nav-svg-link nav-dots')
				.nav-indicators-container.nav-dropdown.hidden#more-indicators
					ul
						li
							a(href="#") 
								+icon('bug', 'nav-svg-link')
								span 22
						li
							a(href="#") 
								+icon('phone2', 'nav-svg-link')
								span 190
		.nav-right
			.nav-icon-link
				a(href="#", title="alvadi.ee")
					+icon('home', 'nav-svg-link')
					span На сайт
			.nav-profile-photo
				a(href="#") Viktor
				a(href="#")
					img(src="http://alvadi.ee/admin/images/viktor_100_80.jpeg", alt="")
			.nav-profile.nav-dropdown.hidden
				a(href="#") Viktor Konstantinovich
				a(href="#") Касса №3
				a(href="#") Выйти

block left
	.overlay.hidden
	.xe-leftbar.hidden
		.leftbar-search
			+icon('search', 'leftbar-search-icon')
			input(type="text", placeholder="Поиск по страницам")
		ul
			li.leftbar-section
				button.leftbar-list-title
					+icon('arrow-fill', 'leftbar-arrow-fill')
					span Избранное
				.leftbar-sublist
					ul
						each one in ["Клиенты", "Заказы"]
							li.nav-item
								a(href="#") #{one}
								a(href="#").star-a.active
									+icon('star', 'leftbar-star')
			li.leftbar-section
				button.leftbar-list-title
					+icon('arrow-fill', 'leftbar-arrow-fill')
					span Основное
				.leftbar-sublist
					ul
						each one in ['Клиенты', "Заказы", "Проформа", "Кредитные счета", "Входящие счета", "Проформа (new)", "Доставка клиентам", "Список запчастей"]
							li.nav-item
								a(href="#") #{one}
								a(href="#").star-a
									+icon('star', 'leftbar-star')
			li.leftbar-section
				button.leftbar-list-title
					+icon('arrow-fill', 'leftbar-arrow-fill')
					span Статистика
				.leftbar-sublist
					ul
						each one in ["Менеджер заданий", "Комплектация", "Статистика по дням", "Рейтинг товаров", "Возвраты Autosp", "Канал заказов"]
							li.nav-item
								a(href="#") #{one}
								a(href="#").star-a
									+icon('star', 'leftbar-star')
			li.leftbar-section
				button.leftbar-list-title
					+icon('arrow-fill', 'leftbar-arrow-fill')
					span Прочее
				.leftbar-sublist
					ul
						each one in ['Возвраты', 'Inventory items log', 'Отгрузка товара', 'Запчасти клиентов', 'Этикетки на товар', 'Баланс склада', 'Возвраты - кр. счета', 'Возврат деталей на склад']
							li.nav-item
								a(href="#") #{one}
								a(href="#").star-a
									+icon('star', 'leftbar-star')
			li.leftbar-section
				button.leftbar-list-title
					+icon('arrow-fill', 'leftbar-arrow-fill')
					span Scanophone
				.leftbar-sublist
					ul
						each one in ['Посылки \ Выдача', 'Меню сканофона', 'Приём на склад', 'Таллинн \ Выдача', 'Посылки \ Сбор', 'Таллинн', 'Посылки', 'Таллинн \ Сбор', 'Проформа', 'Перемаркировка', 'Комплектация', 'Выдача клиенту', 'Отгрузка товара', 'Сортировка', 'Возвраты Autosp']
							li.nav-item
								a(href="#") #{one}
								a(href="#").star-a
									+icon('star', 'leftbar-star')

block content
	.ext
		.layer: .twelve.columns

			.filters-container

				.filters-col
					.filters-row
						p From
						input(type="text").datepicker
					.filters-row
						p Creator
						select
							option All
					.filters-row
						p by order
						input(type="text")

				.filters-col
					.filters-row
						p to
						input(type="text").datepicker
					.filters-row
						p Customer
						input(type="text")
					.filters-row
						input(type="checkbox")#translation
						label(for="translation") Need translation

				.filters-col
					.filters-row
						p Return type
						select
							option All
					.filters-row
						p Customer type
						select
							option All

				.filters-col
					.filters-row
						p Return Status
						select
							option All
					.filters-row
						p Country
						select
							option All

		.layer: .twelve.columns
			table.data-table.hoverable
				thead
					tr
						td: p №
						td: p Order
						td: p Return reason
						td: p Customer
						td: p Creator
						td: p Date
						td: p Sum (EUR)
						td: p Status
				tbody
					each one in [1, 2, 3, 4, 5, 6, 7, 8, 9]
						tr
							td: p 1445
							td: a(href="return-1.html") 100027348
							td: p Wrong product
							td: p Ilja Baluev
							td: p Lello Napinenn
							td: p 05.08.2015
							td: p 123.59
							td.status.grey: p pending
						tr
							td: p 1446
							td: a(href="return-2.html") 100027348
							td: p No reason
							td: p Mati Torben
							td: p Dmitrij Zujev
							td: p 03.08.2015
							td: p 99.15
							td.status.blue: p Finished
						tr
							td: p 1448
							td: a(href="return-3.html") 100027348
							td: p Damaged product
							td: p Ukku Kukk
							td: p Ivan Neivan
							td: p 03.01.2016
							td: p 34.98
							td.status.grey: p pending
						tr
							td: p 1449
							td: a(href="return-4.html", title="need translation") 100027348
								+icon('exm', 'icon-exm')
							td: p Warranty
							td: p Ukku Kukk
							td: p Ivan Neivan
							td: p 25.02.2015
							td: p 78.45
							td.status.yellow: p Processing
						tr
							td: p 1450
							td: a(href="return-5.html") 100027348
							td: p Parts missing
							td: p Ukku Kukk
							td: p Ivan Neivan
							td: p 07.01.2016
							td: p 9.90
							td.status.grey: p pending