extends ../../layouts/site.layout
include mixins/progress
include ../../../../common/templates/pages/return/form-no-reason

block content
	#content

		.block-title
			p.title Заявка на возврат к заказу 
				span.num #233223
			p.subtitle Заказ доставлен 01.01.2016

		+progress(3)

		.hint.vertical
			.one
				+icon('info', 'hint-icon')
			.one
				p Заполните все поля для выбранных товаров с причиной <strong>Получил не тот товар</strong>, затем нажмите на кнопку <strong>Сохранить и продолжить</strong>, чтобы сохранить все заполненные поля и приступить к следующему шагу. 
				p Вся информация сохраняется.

		.return-item

			.cart_content
				table.data-table
					thead
						tr
							td  
							td Товар
							td.txtRight Сумма (EUR)
					tbody
						tr
							td.data-table-thumb
								a.new_lightbox.pic(href='http://alvadi.ee/kataloog/varuosa/264521/26513', data-src='http://pics1.alpics.info/pics/spares/big/264521.jpg')
									img(alt='', src='http://pics2.alpics.info/pics/spares/small/264521.jpg')
							td
								a(href='http://alvadi.ee/kataloog/varuosa/264521/26513', target="_blank") karteripõhi  (kood: AL264521)
							td.data-table-price 38.16

				+form-no-reason()

		.return-item

			.cart_content
				table.data-table
					thead
						tr
							td
							td Товар
							td.txtRight Сумма (EUR)
					tbody
						tr
							td.data-table-thumb
								a.new_lightbox.pic(href='http://alvadi.ee/ru/kataloog/varuosa/140923/0', data-src='http://pics1.alpics.info/pics/spares/big/140923.jpg')
									img(alt='', src='http://pics1.alpics.info/pics/spares/small/140923.jpg')
							td
								a(href='http://alvadi.ee/ru/kataloog/varuosa/140923/0', target="_blank") Gulf Syngear 75W-140 1L  (код: AL140923)
							td.data-table-price 20.39

				+form-no-reason()

		.return-item

			.cart_content
				table.data-table
					thead
						tr
							td
							td Товар
							td.txtRight Сумма (EUR)
					tbody
						tr
							td.data-table-thumb
								a.new_lightbox.pic(href='http://alvadi.ee/ru/kataloog/varuosa/211797/13314', data-src='http://pics3.alpics.info/pics/spares/big/211797.jpg')
									img(alt='', src='http://pics1.alpics.info/pics/spares/small/211797.jpg')
							td
								a(href='http://alvadi.ee/ru/kataloog/varuosa/211797/13314', target="_blank") буксировочный крюк Europe (код: AL211797)
							td.data-table-price 10.39

				+form-no-reason()

		.btn-group-bottom
			a(href="customer-return-3.html").ext-btn.grey Вернуться
			a(href="customer-return-5.html").ext-btn.blue Сохранить и продолжить