extends ../../layouts/site.layout
include ../../../../common/templates/pages/return/form-damaged

block content
	#content

		.hint.vertical
			.one
				+icon('info', 'hint-icon')
			.one
				p Проверьте все заполненные поля и нажмите <strong>Сохранить и вернуться</strong>, чтобы сохранить и вернуться к списку со всеми возвратами. Если Вы решшите поменять причину возврата данного товара, то Вам нужно будет заполнить все поля новой информацией.

		.cart_content
			table.data-table
				thead
					tr.tableNameRow
						td
						td Товар
						td 
						td.txtRight Причина
						td.txtRight Сумма (EUR)
				tbody
					tr
						td.data-table-thumb
							a.new_lightbox.pic(href='http://alvadi.ee/ru/kataloog/varuosa/140923/0', data-src='http://pics1.alpics.info/pics/spares/big/140923.jpg')
								img(alt='', src='http://pics1.alpics.info/pics/spares/small/140923.jpg')
						td
							a(href='http://alvadi.ee/ru/kataloog/varuosa/140923/0', target="_blank") Gulf Syngear 75W-140 1L  (код: AL140923)
						td.data-table-error
						td.data-table-reason
							select
								option Товар повреждён
								option Вернуть без причины
								option Получил не тот товар
								option Гарантия
								option Товар не комплектный
						td.data-table-price 20.39

		+form-damaged-filled()

		.btn-group-bottom
			a(href="customer-returns.html").ext-btn.blue Сохранить и вернуться