extends ../../layouts/site.layout
include ../../../../common/templates/pages/return/form-wrong

block content
	#content

		.hint.vertical
			.one
				+icon('info', 'hint-icon')
			.one
				p Проверьте все заполненные поля и нажмите <strong>Сохранить и вернуться</strong>, чтобы сохранить и вернуться к списку со всеми возвратами. Если Вы решшите поменять причину возврата данного товара, то Вам нужно будет заполнить все поля новой информацией.

		.cart_content
			table.data-table
				thead
					tr
						td
						td Товар
						td 
						td.txtRight Причина
						td.txtRight Сумма (EUR)
				tbody
					tr
						td.data-table-thumb
							a.new_lightbox.pic(href='http://alvadi.ee/kataloog/varuosa/11552/11059', data-src='http://pics3.alpics.info/pics/spares/big/11552.jpg')
								img(alt='', src='http://pics3.alpics.info/pics/spares/small/11552.jpg')
						td
							a(href='http://alvadi.ee/kataloog/varuosa/11552/11059', target="_blank") iluvõre TONG YANG (kood: AL11552)
						td.data-table-error
						td.data-table-reason
							select
								option Получил не тот товар
								option Вернуть без причины
								option Товар повреждён
								option Гарантия
								option Товар не комплектный
						td.data-table-price 8.34

		+form-wrong-filled()

		.btn-group-bottom
			a(href="customer-returns.html").ext-btn.blue Сохранить и вернуться