extends ../../layouts/site.layout

block content
	#content
		.cart
			.al-menu
				a.al-link--menu.al-active(href='#') Minu tellimused
				a.al-link--menu(href='/ee/track') Paki jälgimine
			.pb30.myorders
				.clear
				// Tabs
				ul.tabs
					li#litab1.active
						div: a(href='#', onfocus='this.blur();') Tellimused
					li#litab2
						div: a(href='#', onfocus='this.blur();') Varuosad
					li#litab3
						div: a(href='#', onfocus='this.blur();') Возвраты
				.tab_container
					#tab1.tab_content(style='display: block;')
						| Teil pole ühtegi tasumata tellimust!
						br
						br
						a(href='/kataloog') Tagasi kataloogi »

						.line
							label.label(for="num-filter") фильтр по номеру заказа
							input(type="text", placeholder="номер заказа")#num-filter

						table.data-table
							thead
								tr
									td Номер заказа
									td Дата заказа
									td Заказанные товары
									td Дата получения
									td Статус
									td Сумма (EUR)
									td 
									td 
							tbody
								tr
									td.data-table-num 1188951
									td 21.01.2016
									td.data-table-goods-item: a(href="#", target="_blank") kütusepaak, kättetoimetamine
									td 26.01.2016
									td.status.green Доставлено клиенту
									td.data-table-price 150.74
									td: a(href="#") скачать счёт
									td: a(href="customer-return-2.html") оформить возврат
								tr
									td.data-table-num 1188952
									td 22.01.2016
									td.data-table-goods-item: a(href="#", target="_blank") salongi ventilaator, kättetoimetamine
									td 27.01.2016
									td.status.green Доставлено клиенту
									td.data-table-price 55.12
									td: a(href="#") скачать счёт
									td: a(href="customer-return-2.html") оформить возврат
								tr
									td.data-table-num 1188953
									td 27.01.2016
									td.data-table-goods-item: a(href="#", target="_blank") välispeegliklaas alusega, kättetoimetamine
									td 03.02.2016
									td.status.green Доставлено клиенту
									td.data-table-price 32.57
									td: a(href="#") скачать счёт
									td: a(href="customer-return-2.html") оформить возврат
								tr
									td.data-table-num 1188954
									td 29.02.2016
									td.data-table-goods-item: a(href="#", target="_blank") esistange, stangekate, suunatuli eesmine, suunatuli eesmine, kättetoimetamine
									td 05.02.2016
									td.status.green Доставлено клиенту
									td.data-table-price 43.98
									td: a(href="#") скачать счёт
									td: a(href="customer-return-2.html") оформить возврат

					#tab2.tab_content(style='display: none;')
						| Teil pole ühtegi tasumata tellimust!
						br
						br
						a(href='/kataloog') Tagasi kataloogi »
					#tab3.tab_content(style='display: none;')