extends ../../layouts/site.layout

block content
	#content
		.cart
			.al-menu
				a.al-link--menu.al-active(href='#') Minu tellimused
				a.al-link--menu(href='/ee/track') Paki jälgimine
			.pb30.myorders
				.clear
				// Tabs
				ul.tabs
					li#litab1
						div: a(href='#', onfocus='this.blur();') Tellimused
					li#litab2
						div: a(href='#', onfocus='this.blur();') Varuosad
					li#litab3.active
						div: a(href='#', onfocus='this.blur();') Возвраты
				.tab_container
					#tab1.tab_content(style='display: none;')
						| Teil pole ühtegi tasumata tellimust!
						br
						br
						a(href='/kataloog') Tagasi kataloogi »
						table.cart(cellpadding='0', cellspacing='0', border='0', width='99%')
							colgroup
								col(width='1%')
								col
								col
								col
								col
								col
								col
							tbody
								tr
									th(style='white-space: nowrap;') Tellimuse number
									th(style='text-align:center;') Tellimuse kuupäev
									th.order_line(style='text-align:center;') Tooted tellimuses
									th(style='text-align:center;') Kohaletoimetamise aeg
									th(style='text-align:center;') Staatus
									th(style='text-align:right;') Tellimuse maksumus (EUR)
									th  
									th  
					#tab2.tab_content(style='display: none;')
						| Teil pole ühtegi tasumata tellimust!
						br
						br
						a(href='/kataloog') Tagasi kataloogi »
					#tab3.tab_content(style='display: block;')
	
						+delete-popup("Удалить товар?", "popup-delete-product", "Удаление товара", "Вы действительно уверены, что хотите удалить товар <strong>iluvõre TONG YANG</strong> из заявки?")
							button.ext-btn.grey.close-popup-trigger Нет, закрыть
							button.ext-btn.blue Удалить
	
						.hint.green: p Спасибо

						.hint: p Здесь Вы можете увидеть все оформленные заявки на возврат.

						each one in [1, 2, 3]

							.return-card

								.block-title
									p.title Заявка на возврат 
										span.num #233223
										|  к заказу 
										span.num #32323
									p.subtitle Заявка подана 01.01.2016
									p.subtitle Статус возврата: 
										span.status.yellow ожидание

								table.data-table
									thead
										tr
											td №
											td Товар
											td.txtRight Цена
											td.txtRight Причина
											td Статус товара
											td Последнее изменение
											td 
									tbody
										tr
											td R1445
											td: a(href="customer-return-3.html") iluvõre TONG YANG
											td.data-table-price 31.95
											td.txtRight Получил не тот товар
											td Ожидание
											td 01.01.2016
											td.data-table-action
												a(href="customer-return-3-page.html", title="Редактировать товар", target="_blank").data-table-btn-edit
													+icon('pen', 'data-table-pen-icon')
												a(href="#", title="Удалить товар", target="_blank").data-table-btn-delete
													+icon('cross', 'data-table-delete-icon')
										tr
											td R1446
											td: a(href="customer-return-4.html") karteripõhi
											td.data-table-price 29.95
											td.txtRight Вернуть без причины
											td Ожидание
											td 01.01.2016
											td.data-table-action
												a(href="customer-return-4-page.html", title="Редактировать товар", target="_blank").data-table-btn-edit
													+icon('pen', 'data-table-pen-icon')
												a(href="#", title="Удалить товар", target="_blank").data-table-btn-delete
													+icon('cross', 'data-table-delete-icon')
										tr
											td R1447
											td: a(href="customer-return-5.html") Gulf Syngear 75W-140 1L
											td.data-table-price 78.51
											td.txtRight Товар повреждён
											td Ожидание
											td 01.01.2016
											td.data-table-action
												a(href="customer-return-5-page.html", title="Редактировать товар", target="_blank").data-table-btn-edit
													+icon('pen', 'data-table-pen-icon')
												a(href="#", title="Удалить товар", target="_blank").data-table-btn-delete
													+icon('cross', 'data-table-delete-icon')
										tr
											td R1448
											td: a(href="customer-return-6.html") Комплект подшипника ступицы колеса RUVILLE
											td.data-table-price 119.90
											td.txtRight Гарантия
											td Ожидание
											td 01.01.2016
											td.data-table-action
												a(href="customer-return-6-page.html", title="Редактировать товар", target="_blank").data-table-btn-edit
													+icon('pen', 'data-table-pen-icon')
												a(href="#", title="Удалить товар", target="_blank").data-table-btn-delete
													+icon('cross', 'data-table-delete-icon')
										tr
											td R1449
											td: a(href="customer-return-7.html") буксировочный крюк Europe
											td.data-table-price 45.56
											td.txtRight Товар не комплектный
											td Ожидание
											td 01.01.2016
											td.data-table-action
												a(href="customer-return-7-page.html", title="Редактировать товар", target="_blank").data-table-btn-edit
													+icon('pen', 'data-table-pen-icon')
												a(href="#", title="Удалить товар", target="_blank").data-table-btn-delete
													+icon('cross', 'data-table-delete-icon')

						each one in [1, 2, 3]

							.return-card

								.block-title
									p.title Заявка на возврат 
										span.num #233223
										|  к заказу 
										span.num #32323
									p.subtitle Заявка подана 01.01.2016
									p.subtitle Статус возврата: 
										span.status.green Завершено

								button.more Показать полностью

								table.data-table.hidden
									thead
										tr
											td №
											td Товар
											td.txtRight Цена
											td.txtRight Причина
											td Статус товара
											td Последнее изменение
											td 
									tbody
										tr
											td R1445
											td: a(href="customer-return-3.html") iluvõre TONG YANG
											td.data-table-price 31.95
											td.txtRight Получил не тот товар
											td Ожидание
											td 01.01.2016
											td.data-table-action
												a(href="customer-return-3-page.html", title="Редактировать товар", target="_blank").data-table-btn-edit
													+icon('pen', 'data-table-pen-icon')
												a(href="#", title="Удалить товар", target="_blank").data-table-btn-delete
													+icon('cross', 'data-table-delete-icon')
										tr
											td R1446
											td: a(href="customer-return-4.html") karteripõhi
											td.data-table-price 29.95
											td.txtRight Вернуть без причины
											td Ожидание
											td 01.01.2016
											td.data-table-action
												a(href="customer-return-4-page.html", title="Редактировать товар", target="_blank").data-table-btn-edit
													+icon('pen', 'data-table-pen-icon')
												a(href="#", title="Удалить товар", target="_blank").data-table-btn-delete
													+icon('cross', 'data-table-delete-icon')
										tr
											td R1447
											td: a(href="customer-return-5.html") Gulf Syngear 75W-140 1L
											td.data-table-price 78.51
											td.txtRight Товар повреждён
											td Ожидание
											td 01.01.2016
											td.data-table-action
												a(href="customer-return-5-page.html", title="Редактировать товар", target="_blank").data-table-btn-edit
													+icon('pen', 'data-table-pen-icon')
												a(href="#", title="Удалить товар", target="_blank").data-table-btn-delete
													+icon('cross', 'data-table-delete-icon')
										tr
											td R1448
											td: a(href="customer-return-6.html") Комплект подшипника ступицы колеса RUVILLE
											td.data-table-price 119.90
											td.txtRight Гарантия
											td Ожидание
											td 01.01.2016
											td.data-table-action
												a(href="customer-return-6-page.html", title="Редактировать товар", target="_blank").data-table-btn-edit
													+icon('pen', 'data-table-pen-icon')
												a(href="#", title="Удалить товар", target="_blank").data-table-btn-delete
													+icon('cross', 'data-table-delete-icon')
										tr
											td R1449
											td: a(href="customer-return-7.html") буксировочный крюк Europe
											td.data-table-price 45.56
											td.txtRight Товар не комплектный
											td Ожидание
											td 01.01.2016
											td.data-table-action
												a(href="customer-return-7-page.html", title="Редактировать товар", target="_blank").data-table-btn-edit
													+icon('pen', 'data-table-pen-icon')
												a(href="#", title="Удалить товар", target="_blank").data-table-btn-delete
													+icon('cross', 'data-table-delete-icon')
