extends ../../layouts/site.layout
include mixins/progress

block content
	#content

		+warn-popup('Вернуть без причины нельзя', 'popup-no-reason', 'Нельзя выбрать эту причину', 'Так как прошло более 14 дней с момента получения <strong>Комплект подшипника ступицы колеса RUVILLE</strong>, оформить возврат по данной причине нельзя.', true)
			button.ext-btn.blue Хорошо, закрыть

		.block-title
			p.title Заявка на возврат к заказу 
				span.num #233223
			p.subtitle Заказ доставлен 01.01.2016

		.hint
			.hint-title
				p Выберите причину к каждому товару, который необходимо вернуть

			ul.disc
				li
					span.strong Получил не тот товар - 
					span Если вы получили не тот товар, который ожидали
				li
					span.strong Вернуть без причины - 
					span Если возврат производиться без причины - в течении 14 дней
				li
					span.strong Товар повреждён - 
					span Если возврат происходит из-за повреждённого товара
				li
					span.strong Гарантия - 
					span Если это гарантийный случай
				li
					span.strong Товар не комплектный - 
					span Если пришёл не полный комплект, или что-то отсутствует

		.cart_content.cart_content-returns
			table.data-table
				thead
					tr
						td
						td Товар
						td.txtRight Сумма (EUR)
						td.txtRight Причина
				tbody
					tr
						td.data-table-thumb
							a.new_lightbox.pic(href='http://alvadi.ee/kataloog/varuosa/11552/11059', data-src='http://pics3.alpics.info/pics/spares/big/11552.jpg')
								img(alt='', src='http://pics3.alpics.info/pics/spares/small/11552.jpg')
						td
							a(href='http://alvadi.ee/kataloog/varuosa/11552/11059', target="_blank") iluvõre TONG YANG (kood: AL11552)
						td.data-table-price 8.34
						td.data-table-reason
							select
								option Не возвращать
								option Получил не тот товар
								option.option-no-reason Вернуть без причины
								option Товар повреждён
								option Гарантия
								option Товар не комплектный
					tr
						td.data-table-thumb
							a.new_lightbox.pic(href='http://alvadi.ee/kataloog/varuosa/264521/26513', data-src='http://pics1.alpics.info/pics/spares/big/264521.jpg')
								img(alt='', src='http://pics2.alpics.info/pics/spares/small/264521.jpg')
						td
							a(href='http://alvadi.ee/kataloog/varuosa/264521/26513', target="_blank") karteripõhi  (kood: AL264521)
						td.data-table-price 38.16
						td.data-table-reason
							select
								option Не возвращать
								option Получил не тот товар
								option.option-no-reason Вернуть без причины
								option Товар повреждён
								option Гарантия
								option Товар не комплектный
					tr
						td.data-table-thumb
							a.new_lightbox.pic(href='http://alvadi.ee/ru/kataloog/varuosa/140923/0', data-src='http://pics1.alpics.info/pics/spares/big/140923.jpg')
								img(alt='', src='http://pics1.alpics.info/pics/spares/small/140923.jpg')
						td
							a(href='http://alvadi.ee/ru/kataloog/varuosa/140923/0', target="_blank") Gulf Syngear 75W-140 1L  (код: AL140923)
						td.data-table-price 20.39
						td.data-table-reason
							select
								option Не возвращать
								option Получил не тот товар
								option Вернуть без причины
								option Товар повреждён
								option Гарантия
								option Товар не комплектный
					tr
						td.data-table-thumb
							a.new_lightbox.pic(href='http://alvadi.ee/ru/kataloog/varuosa/11168975/26576', data-src='http://pics2.alpics.info/pics/td/e/8/e8025_227358.jpg')
								img(alt='', src='http://pics1.alpics.info/pics/td/small/e/8/e8025_227358.jpg')
						td
							a(href='http://alvadi.ee/ru/kataloog/varuosa/11168975/26576', target="_blank") Комплект подшипника ступицы колеса RUVILLE (код: AL11168975)
						td.data-table-price 101.40
						td.data-table-reason
							select
								option Не возвращать
								option Получил не тот товар
								option Вернуть без причины
								option Товар повреждён
								option Гарантия
								option Товар не комплектный
					tr
						td.data-table-thumb
							a.new_lightbox.pic(href='http://alvadi.ee/ru/kataloog/varuosa/211797/13314', data-src='http://pics3.alpics.info/pics/spares/big/211797.jpg')
								img(alt='', src='http://pics1.alpics.info/pics/spares/small/211797.jpg')
						td
							a(href='http://alvadi.ee/ru/kataloog/varuosa/211797/13314', target="_blank") буксировочный крюк Europe (код: AL211797)
						td.data-table-price 10.13
						td.data-table-reason
							p Оформлено в заявке 
							a(href="#", title="Причина: Товар не комплектный", target="_blank") #1000098

		.btn-group-bottom
			a(href="customer-return-1.html").ext-btn.grey Вернуться
			a(href="customer-return-3.html").ext-btn.blue Сохранить и продолжить