extends ../../layouts/site.layout
include mixins/progress
include ../../../../common/templates/pages/return/form-wrong

block content
	#content

		.block-title
			p.title Заявка на возврат к заказу 
				span.num #233223
			p.subtitle Заказ доставлен 01.01.2016

		+progress(2)

		.hint.green
			p В прошлый раз Вы остановились на этом экране, продолжите заполнение заявки на возврат с этого же места

		.hint.vertical
			.one
				+icon('info', 'hint-icon')
			.one
				p Заполните все поля для выбранных товаров с причиной <strong>Получил не тот товар</strong>, затем нажмите на кнопку <strong>Сохранить и продолжить</strong>, чтобы сохранить все заполненные поля и приступить к следующему шагу. 
				p Вся информация сохраняется.
	
		.return-item
			.cart_content
				table.data-table
					thead
						tr
							td
							td Товар
							td.txtRight Сумма (EUR)
					tbody
						tr
							td.data-table-thumb
								a.new_lightbox.pic(href='http://alvadi.ee/kataloog/varuosa/11552/11059', data-src='http://pics3.alpics.info/pics/spares/big/11552.jpg')
									img(alt='', src='http://pics3.alpics.info/pics/spares/small/11552.jpg')
							td
								a(href='http://alvadi.ee/kataloog/varuosa/11552/11059', target="_blank") iluvõre TONG YANG (kood: AL11552)
							td.data-table-price 8.34

				+form-wrong()

		.btn-group-bottom
			a(href="customer-return-2.html").ext-btn.grey Вернуться
			a(href="customer-return-4.html").ext-btn.blue#next Сохранить и продолжить