extends ../../layouts/site.layout
include ../../../../common/templates/pages/return/form-no-reason

block content
	#content

		.hint.vertical
			.one
				+icon('info', 'hint-icon')
			.one
				p Проверьте все заполненные поля и нажмите <strong>Сохранить и вернуться</strong>, чтобы сохранить и вернуться к списку со всеми возвратами. Если Вы решшите поменять причину возврата данного товара, то Вам нужно будет заполнить все поля новой информацией.

		.cart_content
			table.data-table
				thead
					tr
						td
						td Товар
						td
						td.txtRight Причина
						td.txtRight Сумма (EUR)
				tbody
					tr
						td.data-table-thumb
							a.new_lightbox.pic(href='http://alvadi.ee/kataloog/varuosa/264521/26513', data-src='http://pics1.alpics.info/pics/spares/big/264521.jpg')
								img(alt='', src='http://pics2.alpics.info/pics/spares/small/264521.jpg')
						td
							a(href='http://alvadi.ee/kataloog/varuosa/264521/26513', target="_blank") karteripõhi  (kood: AL264521)
						td.data-table-error
						td.data-table-reason
							select
								option Вернуть без причины
								option Получил не тот товар
								option Товар повреждён
								option Гарантия
								option Товар не комплектный
						td.data-table-price 38.16

		+form-no-reason-filled()

		.btn-group-bottom
			a(href="customer-returns.html").ext-btn.blue Сохранить и вернуться