extends ../../layouts/site.layout
include mixins/progress
include ../../../../common/templates/pages/return/form-missing

block content
	#content

		.block-title
			p.title Заявка на возврат к заказу 
				span.num #233223
			p.subtitle Заказ доставлен 01.01.2016

		+progress(6)

		.hint.vertical
			.one
				+icon('info', 'hint-icon')
			.one
				p Заполните все поля для выбранных товаров с причиной <strong>Получил не тот товар</strong>, затем нажмите на кнопку <strong>Сохранить и продолжить</strong>, чтобы сохранить все заполненные поля и приступить к следующему шагу. 
				p Вся информация сохраняется.

		.return-item
			.cart_content
				table.data-table
					thead
						tr
							td
							td Товар
							td.txtRight Summa, EUR
					tbody
						tr
							td.data-table-thumb
								a.new_lightbox.pic(href='http://alvadi.ee/ru/kataloog/varuosa/211797/13314', data-src='http://pics3.alpics.info/pics/spares/big/211797.jpg')
									img(alt='', src='http://pics1.alpics.info/pics/spares/small/211797.jpg')
							td
								a(href='http://alvadi.ee/ru/kataloog/varuosa/211797/13314', target="_blank") буксировочный крюк Europe (код: AL211797)
							td.data-table-price 10.13

				+form-missing()

		.btn-group-bottom
			a(href="customer-return-6.html").ext-btn.grey Вернуться
			a(href="customer-return-common-man.html").ext-btn.blue Сохранить и продолжить