extends ../../layouts/site.layout
include ../../../../common/templates/pages/return/form-warranty

block content
	#content

		.hint.vertical
			.one
				+icon('info', 'hint-icon')
			.one
				p Проверьте все заполненные поля и нажмите <strong>Сохранить и вернуться</strong>, чтобы сохранить и вернуться к списку со всеми возвратами. Если Вы решшите поменять причину возврата данного товара, то Вам нужно будет заполнить все поля новой информацией.

		.cart_content
			table.data-table
				thead
					tr
						td
						td Товар
						td 
						td.txtRight Причина
						td.txtRight Сумма (EUR)
				tbody
					tr
						td.data-table-thumb
							a.new_lightbox.pic(href='http://alvadi.ee/ru/kataloog/varuosa/11168975/26576', data-src='http://pics2.alpics.info/pics/td/e/8/e8025_227358.jpg')
								img(alt='', src='http://pics1.alpics.info/pics/td/small/e/8/e8025_227358.jpg')
						td
							a(href='http://alvadi.ee/ru/kataloog/varuosa/11168975/26576', target="_blank") Комплект подшипника ступицы колеса RUVILLE (код: AL11168975)
						td.data-table-error
						td.data-table-reason
							select
								option Гарантия
								option Товар повреждён
								option Вернуть без причины
								option Получил не тот товар
								option Товар не комплектный
						td.data-table-price 101.40

		+form-warranty-filled()

		.btn-group-bottom
			a(href="customer-returns.html").ext-btn.blue Сохранить и вернуться