extends ../../layouts/site.layout
include mixins/progress
include ../../../../common/templates/pages/return/form-damaged

block content
	#content

		.block-title
			p.title Заявка на возврат к заказу 
				span.num #233223
			p.subtitle Заказ доставлен 01.01.2016

		+progress(4)

		.hint.vertical
			.one
				+icon('info', 'hint-icon')
			.one
				p Заполните все поля для выбранных товаров с причиной <strong>Получил не тот товар</strong>, затем нажмите на кнопку <strong>Сохранить и продолжить</strong>, чтобы сохранить все заполненные поля и приступить к следующему шагу. 
				p Вся информация сохраняется.

		.return-item
			.cart_content
				table.data-table
					thead
						tr
							td
							td Товар
							td.txtRight Сумма (EUR)
					tbody
						tr
							td.data-table-thumb
								a.new_lightbox.pic(href='http://alvadi.ee/ru/kataloog/varuosa/140923/0', data-src='http://pics1.alpics.info/pics/spares/big/140923.jpg')
									img(alt='', src='http://pics1.alpics.info/pics/spares/small/140923.jpg')
							td
								a(href='http://alvadi.ee/ru/kataloog/varuosa/140923/0', target="_blank") Gulf Syngear 75W-140 1L  (код: AL140923)
							td.data-table-price 20.39

				+form-damaged()

		.btn-group-bottom
			a(href="customer-return-4.html").ext-btn.grey Вернуться
			a(href="customer-return-6.html").ext-btn.blue Сохранить и продолжить