extends ../../layouts/site.layout
include mixins/progress
include ../../../../common/templates/pages/return/delivery-select

block content
	#content

		.block-title
			p.title Заявка на возврат к заказу 
				span.num #233223
			p.subtitle Заказ доставлен 01.01.2016

		+progress(7)

		.hint.vertical
			.one
				+icon('info', 'hint-icon')
			.one
				p Укажите общую информацию возврата по способу доставки, затем нажмите на кнопку <strong>Сохранить и продолжить</strong>, чтобы перейти к последнему шагу. После оформления возврата, все дальнейшие инструкции будут присланы на email.

		.list
			p.label Выберите транспортную фирму, которой вы отправите нам возврат
			ul
				li
					input(type="radio", name="delivery")
					label SmartPost
				li
					input(type="radio", name="delivery")
					label DPD
				li
					input(type="radio", name="delivery")
					label Cargobus
				li
					input(type="radio", name="delivery")
					label OSC
				li
					input(type="radio", name="delivery")
					label Omniva
				li
					input(type="radio", name="delivery")
					label Сам
				li
					input(type="radio", name="delivery", data-toggle="#block")#radio-other
					label(for="radio-other") Другое

			#block.hidden
				p.label Введите ваш способ отправки
				.hint: p Если Вы выбираете этот способ отправки, мы не покрываем сопутствующие расходы.
				input(type="text", placeholder="Другой способ отправки")

		.btn-group-bottom
			a(href="customer-return-7.html").ext-btn.grey Вернуться
			a(href="customer-return-final.html").ext-btn.blue Сохранить и продолжить