extends ../../layouts/site.layout
include ../../../../common/templates/pages/return/form-missing

block content
	#content

		.hint.vertical
			.one
				+icon('info', 'hint-icon')
			.one
				p Проверьте все заполненные поля и нажмите <strong>Сохранить и вернуться</strong>, чтобы сохранить и вернуться к списку со всеми возвратами. Если Вы решшите поменять причину возврата данного товара, то Вам нужно будет заполнить все поля новой информацией.

		.cart_content
			table.data-table
				thead
					tr
						td
						td Товар
						td 
						td.txtRight Причина
						td.txtRight Сумма (EUR)
				tbody
					tr
						td.data-table-thumb
							a.new_lightbox.pic(href='http://alvadi.ee/ru/kataloog/varuosa/211797/13314', data-src='http://pics3.alpics.info/pics/spares/big/211797.jpg')
								img(alt='', src='http://pics1.alpics.info/pics/spares/small/211797.jpg')
						td
							a(href='http://alvadi.ee/ru/kataloog/varuosa/211797/13314', target="_blank") буксировочный крюк Europe (код: AL211797)
						td.data-table-error
						td.data-table-reason
							select
								option Товар не комплектный
								option Товар повреждён
								option Вернуть без причины
								option Получил не тот товар
								option Гарантия
						td.data-table-price 10.13

		+form-missing-filled()

		.btn-group-bottom
			a(href="customer-orders.html").ext-btn.blue Сохранить и вернуться