extends ../../layouts/site.layout
include mixins/progress

block content
	#content

		.block-title
			p.title Заявка на возврат к заказу 
				span.num #233223
			p.subtitle Заказ доставлен 01.01.2016

		+progress(8)

		.hint
			p.hint-title Последний шаг
			p Перед отправкой заявки, проверьте пожалуйста правильность указанных данных. Если Вы обнаружили ошибку, нажмите на кнопку с изображением карандаша 
				+icon('pen', 'data-table-pen-icon')
				| , чтобы изменить данные.

		table.data-table
			thead
				tr
					td
					td Товар
					td.txtRight Причина
					td 
					td Данные
			tbody

				tr
					td.data-table-thumb
						img(alt='', src='http://pics3.alpics.info/pics/spares/small/11552.jpg')
					td
						p iluvõre TONG YANG
					td.txtRight Получил не тот товар
					td
						a(href="customer-return-3-page.html", title="Изменить данные", target="_blank").data-table-btn-edit
							+icon('pen', 'data-table-pen-icon')
					td.data-table-info
						table
							tr
								td
									p.label Пояснение
								td
									p Я выбирал другой товар. Этот совершенно не подходит мне. Мне нужен был шланг. Наверное, моя ошибка.
							tr
								td
									p.label Действие
								td
									p Возврат средств

				tr
					td.data-table-thumb
						img(alt='', src='http://pics2.alpics.info/pics/spares/small/264521.jpg')
					td
						p karteripõhi
					td.txtRight Вернуть без причины
					td
						a(href="customer-return-4-page.html", title="Изменить данные", target="_blank").data-table-btn-edit
							+icon('pen', 'data-table-pen-icon')
					td.data-table-info
						table
							tr
								td
									p.label Действие
								td
									p Оставить деньги для следующей покупки

				tr
					td.data-table-thumb
						img(alt='', src='http://pics1.alpics.info/pics/spares/small/140923.jpg')
					td
						p Gulf Syngear 75W-140 1L
					td.txtRight Товар повреждён
					td
						a(href="customer-return-5-page.html", title="Изменить данные", target="_blank").data-table-btn-edit
							+icon('pen', 'data-table-pen-icon')
					td.data-table-info
						table
							tr
								td
									p.label Пояснение
								td
									p Вся бутылка мятая. А на самой крышке проступают зарапины. Ужасное состояние, пользоваться этим опасно.
							tr
								td
									p.label Изображения
								td
									table.data-table-uploaded
										tr
											td
												a(href="#"): img(src="http://pics1.alpics.info/pics/spares/small/140923.jpg", alt="")
											td
												a(href="#") photo-1-22.png
										tr
											td
												a(href="#"): img(src="http://pics1.alpics.info/pics/spares/small/140923.jpg", alt="")
											td
												a(href="#") photo-1-22.png
							tr
								td
									p.label Действие
								td
									p Заменить новым товаром

				tr
					td.data-table-thumb
						img(alt='', src='http://pics1.alpics.info/pics/td/small/e/8/e8025_227358.jpg')
					td
						p Комплект подшипника ступицы колеса RUVILLE
					td.txtRight Гарантия
					td
						a(href="customer-return-6-page.html", title="Изменить данные", target="_blank").data-table-btn-edit
							+icon('pen', 'data-table-pen-icon')
					td.data-table-info
						table
							tr
								td: p.label Название фирмы
								td: p ALVADI
							tr
								td: p.label Адрес фирмы
								td: p Majaka 100
							tr
								td: p.label Марка машины
								td: p Nissan
							tr
								td: p.label Модель
								td: p 100 NX (B13)
							tr
								td: p.label Год
								td: p 1993
							tr
								td: p.label VIN код
								td: p 488749274379
							tr
								td: p.label Дата установки
								td: p 13.10.2015
							tr
								td: p.label Показ одометра при установке
								td: p 10 000
							tr
								td: p.label Дата демонтажа
								td: p 01.01.2016
							tr
								td: p.label Показ одометра при демонтаже
								td: p 37 377
							tr
								td: p.label Изображения и документы
								td
									table.data-table-uploaded
										tr
											td
												+icon('doc')
											td
												a(href="#") document.doc
										tr
											td
												+icon('pdf')
											td
												a(href="#") document2.pdf
							tr
								td: p.label Пояснение
								td: p Машина пришла в неисправное состояние из-за этой запчасти. Прикреплённые документы всё подтверждают.
							tr
								td: p.label Действие
								td: p Вернуть мне деньги

				tr
					td.data-table-thumb
						img(alt='', src='http://pics1.alpics.info/pics/spares/small/211797.jpg')
					td
						p буксировочный крюк Europe
					td.txtRight Товар не комплектный
					td
						a(href="customer-return-7-page.html", title="Изменить данные", target="_blank").data-table-btn-edit
							+icon('pen', 'data-table-pen-icon')
					td.data-table-info
						table
							tr
								td: p.label Пояснение
								td: p Отсутствуют заявленные в описании комплекты.
							tr
								td: p.label Действие
								td: p Заменить новым товаром

		+hint('info', 'mt-8')
			p Нажимая на кнопку <strong>Отправить заявку</strong>, Вы соглашаетесь со всеми <a href="#">условиями</a>

		.btn-group-bottom
			a(href="customer-return-7.html").ext-btn.grey Вернуться
			a(href="customer-returns.html").ext-btn.blue Отправить заявку