.ext
	p, h1, h2, h3, h4, h5, h6
		margin 0
		display block
		color rgba(#333, .95)
		cursor default
	p
		display inline-block
	a
		color $lightblue
		&:hover
			text-decoration none !important
		&.strong
			color #333
			font-weight bold
	table
		width 100%
		font-size 1em
		&.checkbox-selectable
			cursor pointer
		&.hoverable
			tr:hover
				background rgba($lightyelly, 0.6)
			thead tr:hover
				background none
		tr
			border-bottom 1px solid #eee
			&:nth-child(even)
				background $lightgrey
		td
			padding 2px 0 !important
			
.ext-btn
.ext-link
	border none
	outline none
	background none
	font-size 1em
	line-height 1.2
	padding 0.5rem 0.8rem !important
	border-radius 0.1rem
	display inline-block

.ext-link
	color $lightblue
	text-decoration underline
	&:hover
		text-decoration none
	&.small
		font-size 1em
		padding 0
		text-decoration none !important

.ext-btn
	text-decoration none !important
	background black
	text-transform uppercase
	font-weight bold
	box-shadow inset 0 0 0.3rem 0 rgba(black, 0.3)
	&.inset
		&:hover
			box-shadow inset 1px 1px .3rem 0 rgba(black, .3)
	&.disabled
		cursor not-allowed
		background #aaa !important
	&.grey
		background $blacky
		color white
		&:hover
			background #555
	&.green
		background $darkgreen
		color white
		&:hover
			background darken($darkgreen, 20%)
	&.blue
		background $lightblue
		color white
		&:hover
			background darken($darkblue, 20%)
	&.yellow
		background $yelly
		color #333
		&:hover
			background $lightyelly
	&.red
		background $savered
		color white
		&:hover
			background darken($savered, 20%)
	&.white
		background white
		color #333
		font-weight bold
		box-shadow none
		border 1px solid #ccc
	&.icon
		background none
		box-shadow none