.note
	padding 0.8rem 1rem
	margin 0 0.3rem 1.25rem
	transition all .3s ease-out-quad
	opacity 1
	transform translateY(0)
	position static
	visibility visible
	&.note-hidden
		visibility hidden
		opacity 0
		transform translateY(1rem)
		position absolute
	.title
		margin-bottom 0.5rem
		p
			font-size 1.5rem
			color $flatgreen
			line-height 1.5
	&.success
		background $lightgreen
		border 1px solid rgba($flatgreen, 0.3)
	table
		width 280px
		margin-bottom 1rem
		td
			cursor default !important
		tr
			background none !important
			border none
		p
			font-size 1.1em
			color #333
			
.svg-icon
	width 2rem
	height 2rem
	display inline-block
		
.strong
	font-weight bold

.i
	font-style italic
	
.u
	text-decoration underline

.line
	margin-bottom 0.2rem
	&:nth-last-child(1)
		margin-bottom 0
		
.hidden
	display none
	
td.prop
	width 40%
	
.green-fill
	color $darkgreen !important
	margin-left 0.3rem !important
	
.page-title
	font-size 2em
	font-weight bold
	text-transform uppercase
	margin-bottom 1rem !important
	.status
		font-size 14px
		padding 0.1rem 0.5rem 0
		display inline
		force-bottom 3px
		margin-left 0.5rem

.page-desc
	font-size 1.5em
	font-weight bold
	
/*----------  Status  ----------*/
.status
	&, p
		font-weight bold
		text-transform uppercase
		text-align center
	&.grey
		background #999
		&, p
			color white
	&.red
		background $savered
		&, p
			color white
	&.green
		background $flatgreen
		&, p
			color white
	&.yellow
		background $yelly
	&.blue
		background lighten($lightblue, 25%)
		&, p
			color white
	&.purple
		background rgba($violet, .8)
		&, p
			color white

.m--block
	display block

/*----------  Filters container  ----------*/
.filters-container
	display flex
	margin-bottom 0.5rem
	
.filters-col
	margin-right 2rem
	
.filters-row
	min-width 200px
	margin-bottom 1rem
	&:nth-last-child(1)
		margin-bottom 0
	select
	input[type="text"]
		width 100%
	input[type="checkbox"]
	input[type="radio"]
		force-top 2px
	p
		display inline-block
		
.icon-btn
	background none
	border none
	outline none