.layer
	width 100%
	clear fix
	margin-bottom 1.25rem
	&:nth-last-child(1)
		margin-bottom 0
	.columns
	.column
		box-sizing border-box
		padding .25rem
		margin-right 1%
		float left
		&:nth-last-child(1)
			margin-right 0
	.twelve
		width 100%
	.six
		width 49.5%
	.four
		width 32.666%
	.three
		width 24.25%
	.two
		width 19.2%
	.one
		width 9.1%