:root
	font-size 12px

body
	background #eee

body, a, table, tr, td, b, span, input, p, button, div, h1, h2, h3, h4, h5, h6
	font-family Helvetica, Arial, serif
	font-weight 400
	text-rendering optimizeLegibility
	-webkit-font-smoothing antialiased
	-moz-font-smoothing antialiased
	font-smoothing antialiased

input
	margin 0 !important

input[type="file"]
	padding 0 !important

input[type="checkbox"]
input[type="radio"]
	cursor pointer
	&:focus
		outline none

label
	margin 0
	cursor pointer

input[type="text"]
input[type="file"]
input[type="password"]
textarea
select
	outline none
	border 1px solid #ccc
	font-weight 300
	box-sizing border-box
	font-size 0.9em !important
	display block
	&:focus
		box-shadow 0 0 0.75rem 0 rgba($lightblue, 0.75)
		border 1px solid $lightblue

input[type="text"]
input[type="file"]
input[type="password"]
textarea
	padding 0.4rem 0.6rem
	box-shadow inset 1px 1px 0.2rem 0 rgba(black, 0.2)
	transition all 0.5s ease-out-quart
	background rgba($lightblue, .05)
	&:focus
		background white

select:not(#payment_status)
	background linear-gradient(white, lighten(#eee, 25%))

select
	padding 0.4rem 0.2rem
	cursor pointer
	option
		font-size 0.8em
		font-weight 300
	&:focus
		outline none
	&:hover
		background #eee !important

.xe-a__btn--normal
	border none
	outline none
	
#products_tbl
	td, th, tr
		padding 0 !important
	.return-checkbox
		text-align center
		width 50px
	.good-image
		width 5% !important
	tr
		&:nth-child(odd)
			background $lightgrey
			
.xe-contentCard
	transition all 0.4s ease-out-quint
	padding .25rem .3rem !important
	&:hover
		box-shadow .25rem .25rem 1rem 0 rgba(black, .15)
		
.xe-pageEntity
	margin-bottom 100px