//- Popup body

mixin popup_body(popupType, message, icon, subtext)
	.popup__body-inner(class="#{popupType}-popup")
		.popup-icon: +icon(icon, 'popup-icon-' + icon)
		.popup-message: p !{message}
		if subtext
			.popup-subtext: p !{subtext}
		.popup-buttons
			block

//- Popup - шаблон, может юыть использован для нетипичных popup

mixin popup(popupTitle, popupId, show)
	.popup(id="#{popupId ? popupId : ''}", class="#{show ? 'show-popup' : ''}")
		.popup__container
			.popup__header
				.popup-title: p #{popupTitle}
				.popup-btn-close
					button.close-popup-trigger
						+icon('cross', 'popup-icon-close')
			.popup__body
				block

//- Info popup - просто уведомить о чём-то пользователя

mixin info-popup(popupTitle, popupId, message, subtext, show)
	+popup(popupTitle, popupId, show)
		+popup_body('info', message, "info", subtext)
			block

//- Delete popup - использовать для удаления. Спрашивать у пользователя подтверждение его намерений. 

mixin delete-popup(popupTitle, popupId, message, subtext, show)
	+popup(popupTitle, popupId, show)
		+popup_body('delete', message, "bin", subtext)
			block

//- Warn popup - привлечь внимание к важному вопросу. Спросить - уверен ли он в своём действии. Ничего не удаляется.

mixin warn-popup(popupTitle, popupId, message, subtext, show)
	+popup(popupTitle, popupId, show)
		+popup_body('warn', message, "exm", subtext)
			block

//- Success popup - подтверждение пользователю, что всё хорошо!

mixin success-popup(popupTitle, popupId, message, subtext, show)
	+popup(popupTitle, popupId, show)
		+popup_body('success', message, "checkmark", subtext)
			block