mixin delivery-select()
	select.ext-select
		option Выберите способ доставки
		option SmartPost
		option DPD
		option CarboBus
		option OSC
		option Omniva
		option Самовывоз

mixin delivery-select-filled()
	select.ext-select
		option DPD
		option SmartPost
		option CarboBus
		option OSC
		option Omniva
		option Самовывоз