include money-back

mixin form-no-reason()
	.return-form: form
		.input-group
			p.label Комментарий
			textarea
		.input-group
			p.label Необходимое действие
			ul
				li
					input(type="radio", name="required-action")#l_replace
					label(for="l_replace").radio-value Заменить товар новым
				li
					+money-back()
				li
					input(type="radio", name="required-action")#l_leave
					label(for="l_leave").radio-value Оставить деньги для следующей покупки

mixin form-no-reason-filled()
	.return-form: form
		.input-group
			p.label Комментарий
			textarea
		.input-group
			p.label Необходимое действие
			ul
				li
					input(type="radio", name="required-action")#l_replace
					label(for="l_replace").radio-value Заменить товар новым
				li
					+money-back()
				li
					input(type="radio", name="required-action", checked="")#l_leave
					label(for="l_leave").radio-value Оставить деньги для следующей покупки