include money-back

mixin form-damaged()
	.return-form: form
		.input-group
			p.label Опишите повреждения
			textarea
		.input-group
			p.label Загрузите фотографии повреждений
			input(type="file", multiple="multiple" name="files[]" accept="image" required="required")
		.input-group
			p.label Необходимые действия
			ul
				li
					input(type="radio", name="required-action")#l_new
					label(for="l_new").radio-value Заменить товар новым
				li
					+money-back()
				li
					input(type="radio", name="required-action")#l_leave
					label(for="l_leave").radio-value Оставить деньги для следующей покупки

mixin form-damaged-filled()
	.return-form: form
		.input-group
			p.label Опишите повреждения
			textarea(placeholder="Type a description here") Вся бутылка мятая. А на самой крышке проступают зарапины. Ужасное состояние, пользоваться этим опасно.
		.input-group
			p.label Загрузите фотографии повреждений

			input(type="file", multiple="multiple" name="files[]" accept="image" required="required")

			table.data-table-uploaded
				tr
					td
						a(href="#"): img(src="http://pics1.alpics.info/pics/spares/small/140923.jpg", alt="")
					td
						a(href="#") photo-1-22.png
					td
						a(href="#") удалить
				tr
					td
						a(href="#"): img(src="http://pics1.alpics.info/pics/spares/small/140923.jpg", alt="")
					td
						a(href="#") photo-1-22.png
					td
						a(href="#") удалить

		.input-group
			p.label Необходимые действия
			ul
				li
					input(type="radio", name="required-action", checked="")#l_new
					label(for="l_new").radio-value Заменить товар новым
				li
					+money-back()
				li
					input(type="radio", name="required-action")#l_leave
					label(for="l_leave").radio-value Оставить деньги для следующей покупки