include money-back

mixin form-wrong()
	.return-form: form
		.input-group
			p.label Что конкретно Вы заказывали?
			p.label.error Пожалуйста, заполните это поле
			textarea
		.input-group
			p.label Необходимое действие
			p.label.error Пожалуйста, выберите один из вариантов
			ul
				li
					input(type="radio", name="required-action")#l_replace.fill
					label(for="l_replace").radio-value Заменить товар новым
				li
					+money-back()
				li
					input(type="radio", name="required-action")#l_leave
					label(for="l_leave").radio-value Оставить деньги для следующей покупки

mixin form-wrong-filled()
	.return-form: form
		.input-group
			p.label Что конкретно Вы заказывали?
			textarea(placeholder="What did you offer exactly?") Я выбирал другой товар. Этот совершенно не подходит мне. Мне нужен был шланг. Наверное, моя ошибка.
		.input-group
			p.label Необходимое действие
			ul
				li
					input(type="radio", name="required-action")#l_replace
					label(for="l_replace").radio-value Заменить товар новым
				li
					+money-back-filled()
				li
					input(type="radio", name="required-action")#l_leave
					label(for="l_leave").radio-value Оставить деньги для следующей покупки