include money-back

mixin form-warranty()
	.return-form: form

		.input-group
			p.label Кто устанавливал запчасть?
			ul
				li
					input(type="radio", name="who-assembly")#self-radio
					label(for="self-radio") Частное лицо
				li
					input(type="radio", name="who-assembly")#company-radio
					label(for="company-radio") Фирма
		.input-group.hidden
			.input-group
				p.label Название фирмы
				input(type="text")
			.input-group
				p.label Адрес фирмы
				input(type="text")
			.input-group
				p.label Марка машины
				input(type="text", value="Nissan")
			.input-group
				p.label Модель
				input(type="text", value="100 NX (B13)")
			.input-group
				p.label Год
				input(type="text", value="1993")
			.input-group
				p.label VIN код
				input(type="text", value="488749274379")
			.input-group
				p.label Assembly date
				input(type="text", value="13.10.2015").datepicker
			.input-group
				p.label Assembly date mileage
				input(type="text", value="13 000")
			.input-group
				p.label Disassembly date
				input(type="text", value="01.01.2016").datepicker
			.input-group
				p.label Disassembly date mileage
				input(type="text", value="37 377")
			.input-group
				p.label Загрузите документы подтверждения взаиможействия с Вашим автомобилем
				input(type="file", multiple)
			.input-group
				p.label Опишите проблему
				textarea
			.input-group
				p.label Необходимое действие
				ul
					li
						input(type="radio", name="required-action")#l_new
						label(for="l_new").radio-value Заменить товар новым
					li
						+money-back()
					li
						input(type="radio", name="required-action")#l_leave
						label(for="l_leave").radio-value Оставить деньги для следующей покупки

mixin form-warranty-open()
	.return-form: form

		.input-group
			p.label Кто устанавливал запчасть?
			ul
				li
					input(type="radio", name="who-assembly")#self-radio
					label(for="self-radio") Частное лицо
				li
					input(type="radio", name="who-assembly", checked="")#company-radio
					label(for="company-radio") Фирма
		.input-group
			.input-group
				p.label Название фирмы
				input(type="text")
			.input-group
				p.label Адрес фирмы
				input(type="text")
			.input-group
				p.label Марка машины
				input(type="text", value="Nissan")
			.input-group
				p.label Модель
				input(type="text", value="100 NX (B13)")
			.input-group
				p.label Год
				input(type="text", value="1993")
			.input-group
				p.label VIN код
				input(type="text", value="488749274379")
			.input-group
				p.label Assembly date
				input(type="text", value="13.10.2015").datepicker
			.input-group
				p.label Assembly date mileage
				input(type="text", value="13 000")
			.input-group
				p.label Disassembly date
				input(type="text", value="01.01.2016").datepicker
			.input-group
				p.label Disassembly date mileage
				input(type="text", value="37 377")
			.input-group
				p.label Загрузите документы подтверждения взаиможействия с Вашим автомобилем
				input(type="file", multiple)
			.input-group
				p.label Опишите проблему
				textarea
			.input-group
				p.label Необходимое действие
				ul
					li
						input(type="radio", name="required-action")#l_new
						label(for="l_new").radio-value Заменить товар новым
					li
						+money-back()
					li
						input(type="radio", name="required-action")#l_leave
						label(for="l_leave").radio-value Оставить деньги для следующей покупки

mixin form-warranty-filled()
	.return-form: form

		.input-group
			p.label Кто устанавливал запчасть?
			ul
				li
					input(type="radio", name="who-assembly")#self-radio
					label(for="self-radio") Сам
				li
					input(type="radio", name="who-assembly", data-toggle="#what-company", checked="")#company-radio
					label(for="company-radio") Фирма
		.input-group#what-company
			.input-group
				p.label Название фирмы
				input(type="text", value="Lazarenko OU")
			.input-group
				p.label Адрес фирмы
				input(type="text", value="Maka 101B")
		.input-group
			p.label Марка машины
			input(type="text", value="Nissan")
		.input-group
			p.label Модель
			input(type="text", value="100 NX (B13)")
		.input-group
			p.label Год
			input(type="text", value="1993")
		.input-group
			p.label VIN код
			input(type="text", value="488749274379")
		.input-group
			p.label Assembly date
			input(type="text", value="13.10.2015").datepicker
		.input-group
			p.label Assembly date mileage
			input(type="text", value="13 000")
		.input-group
			p.label Disassembly date
			input(type="text", value="01.01.2016").datepicker
		.input-group
			p.label Disassembly date mileage
			input(type="text", value="37 377")
		.input-group
			p.label Загрузите документы подтверждения взаиможействия с Вашим автомобилем
			table.data-table-uploaded
				tr
					td
						a(href="#") document.doc
					td
						a(href="#") удалить
				tr
					td
						a(href="#") document2.pdf
					td
						a(href="#") удалить
			input(type="file", multiple)
		.input-group
			p.label Опишите проблему
			textarea Машина пришла в неисправное состояние из-за этой запчасти. Прикреплённые документы всё подтверждают.
		.input-group
			p.label Неоходимое действие
			ul
				li
					input(type="radio", name="required-action")#l_new
					label(for="l_new").radio-value Заменить товар новым
				li
					+money-back-filled()
				li
					input(type="radio", name="required-action")#l_leave
					label(for="l_leave").radio-value Оставить деньги для следующей покупки