include money-back

mixin form-missing()
	.return-form: form
		.input-group
			p.label Что отсутствует в комплекте?
			textarea
		.input-group
			p.label Необходимое действие
			ul
				li
					input(type="radio", name="required-action")#l_replace
					label(for="l_replace").radio-value Заменить товар новым
				li
					+money-back()
				li
					input(type="radio", name="required-action")#l_leave
					label(for="l_leave").radio-value Оставить деньги для следующей покупки

mixin form-missing-filled()
	.return-form: form
		.input-group
			p.label Что отсутствует в комплекте?
			textarea(placeholder="What is missing?") Отсутствуют заявленные в описании комплекты
		.input-group
			p.label Необходимое действие
			ul
				li
					input(type="radio", name="required-action", checked="")#l_replace
					label(for="l_replace").radio-value Заменить товар новым
				li
					+money-back()
				li
					input(type="radio", name="required-action")#l_leave
					label(for="l_leave").radio-value Оставить деньги для следущей покупки