mixin money-back()
	input(type="radio", name="required-action", data-toggle="#money-back-toggle")#l_back
	label(for="l_back").radio-value Возврат средств

mixin money-back-filled()
	input(type="radio", name="required-action", data-toggle="#money-back-toggle", checked="")#l_back
	label(for="l_back").radio-value Возврат средств