.ext-btn
	padding 0.6rem 0.8rem
	display inline-block
	font-size 1em
	line-height 1.5
	p
		display inline-block

	&.blue
		text-decoration none
		background linear-gradient(#387BCF, #043183)
		border 1px solid #032F80
		font-weight bold
		color white
		&:hover
			background #387BCF

	&.grey
		text-decoration none
		border 1px solid #ddd
		background linear-gradient(#eff1f2, #dbdcdd)
		color #111
		font-weight bold
		&:hover
			background linear-gradient(#dbdcdd, #eff1f2)
			
	&.lightgrey
		text-align left
		background #eee
		color #333
		
	&.red
		background $savered
		color white
		font-weight bold
		
.ext-link
	border-bottom 1px solid #ccc
	&:hover
		border-bottom none

.ext-select
	border-radius 8px
	background white
	padding 4px
	box-shadow 0 0.1rem 0.1rem 0 rgba(black, 0.1)
	border 1px solid #ccc
	cursor pointer
	outline none
	&:hover
		background #eee