.strong
	font-weight bold

.label
	margin-bottom 4px
	font-weight bold
	&.error
		color $logored

.label-hint
	margin-bottom 8px

.btn-group-bottom
	margin-top 1rem
	.ext-btn
	.ext-link
		margin-right 1rem
		&:nth-last-child(1)
			margin-right 0

.hint-icon
	width 1.5rem
	height @width
	fill $lightblue
	force-top 2px

.centered
	text-align center

.hint
	background $palegrey
	padding 12px 16px
	font-size 13px
	line-height 1.3
	margin-bottom 16px
	p
		margin-bottom 0.3rem
		&:nth-last-child(1)
			margin-bottom 0
	&.green
		background $lightgreen
	&.vertical
		display flex
		.one
			margin-right 12px
			&:nth-last-child(1)
				margin-right 0

.hint-title
	font-weight bold
	font-size 16px
	margin-bottom 8px

ul.disc
	list-style disc inside
	li
		padding 3px 0

.data-table
	td
		vertical-align top
		padding 8px
	width 100%
	thead
		font-weight bold
		background $palegrey
		td
			font-size 14px
	tr
		border none
		&:nth-child(even)
			background $palegrey
	ul li
		padding 3px 0

.lead
	font-size 1.3rem
	margin 0.5rem 0
	display inline-block
	
// Time
	
.line
	margin 16px 0

.list
	margin-bottom 16px
	&:nth-last-child(1)
		margin-bottom 0

.block-title
	margin-bottom 16px
	.title
		font-size 24px
		color #333
	.subtitle
		font-size 14px
		margin-top 2px
		color #444
	.num
		// 

.progress
	margin-bottom 16px
	display flex
	justify-content space-between
	flex-flow row nowrap
	a.step:hover
		background $lightgrey
		cursor pointer
	.step
		width 100%
		margin 0 4px
		cursor default
		padding 8px
		display block
		box-sizing border-box
		text-align center
		border-bottom 2px solid $palegrey
		color #333
		text-decoration none
		&.done
			border-bottom 2px solid $flatgreen
		&.active
			border-bottom 2px solid $yelly
			background $lightgrey

.status
	&, p
		font-weight bold
	&.yellow
		color $yelly
	&.green
		color $flatgreen
	&.red
		color $logored
	&.grey
		color #aaa
		
.widelist
	margin-top 8px
	li
		margin-bottom 16px
		&:nth-last-child(1)
			margin-bottom 0
			
label
	display inline
	
input[type="radio"]
input[type="checkbox"]
	outline none