t()
	background rgba(brown, .2)

dev()
	div, span, section, main, nav, aside, footer, header
		background rgba(green, .2)
	a, p, button, u, i, strong, b, li
		border 2px solid rgba(black, .5)

no-selection()
	&::selection,
	& > *::selection
		background none

force-top(distance)
	position relative
	top distance

force-right(distance)
	position relative
	right distance

force-bottom(distance)
	position relative
	bottom distance

force-left(distance)
	position relative
	left distance

shadow()
	box-shadow 0 0.1rem 0.1rem 0 rgba(black, 0.1)

shadow-color($color)
	box-shadow 0 0.1rem 0.1rem 0 rgba($color, 0.1)