mixin management-buttons(list)
	if list.need
		p yes
	.management-buttons
		.row
			p.label Request management
			button.ext-btn.ext-btn-blue Need translation
			button.ext-btn.ext-btn-blue Edit request
			button.ext-btn.ext-btn-blue Delete request
		.row
			p.label Avaliable actions
			button.ext-btn.ext-btn-blue Product credit note
			button.ext-btn.ext-btn-blue Return to supplier
		.row
			table
				tr
					td.status.green: p paid
					td: a(href="#") Product_credit_note_123123.pdf
				tr
					td.status.grey: p not paid
					td: a(href="#") Product_credit_note_175123.pdf