.info-table-header: p order information
table.info-table.hoverable
	tr
		td.prop: p Client name
		td: a(href="#") Iljusha
	tr
		td.prop: p Order number
		td: p 123123
	tr
		td.prop: p Date created
		td: p 10.06.2015
	tr
		td.prop: p Date sent to the client
		td: p 13.06.2015
	tr
		td.prop: p Date arrived to the client
		td
			p 15.06.2015
			p.green-fill (12 days ago)
	tr
		td: p Tracking number
		td: a(href="#") 555-876-334-010