.popup.popup-transport-complaint
	.popup__container
		.popup__header
			.popup__title: p Hüvitusnõue vorm
			.popup__btn-close: button.close-popup-trigger: +icon('cross', 'close-popup-cross')
		.popup__content
			.row
				.title: p Nõude esitaja andmed
				table
					tr
						td: p Nõude esitaja
						td: input(type="text", value="ALVADI OU")
					tr
						td: p Aadress
						td: input(type="text", value="Majaka 10, Tallinn")
					tr
						td: p Registrikood
						td: input(type="text", value="11837673")
					tr
						td: p Kontaktisik
						td: input(type="text", value="Vladimir Vladimirovich")
					tr
						td: p Telefon
						td: input(type="text", value="+375 558173")
					tr
						td: p Email
						td: input(type="text", value="noname@yes.no")
					tr
						td: p Pank / arveldusarve
						td
							input(type="text", value="Swedbank")
							input(type="text", value="EE200003948373625")
					tr
						td: p Nõude esitaja on
						td
							.line
								input(type="checkbox")#saaja
								label(for="saaja") Kaubasaaja
							.line
								input(type="checkbox")#saatja
								label(for="saatja") Kaubas
					tr
						td: p Saaja/saatja nimi
						td: input(type="text", value="Ritku Paikanen")
					tr
						td: p Saaja/saatja aadress
						td: input(type="text", value="Paljusente 22, 102876 Chicago")
			.row
				.title: p Kaubasaadetis
				table
					tr
						td: p Saadetise vöötkood
						td: input(type="text", value="PEX84746407973")
					tr
						td: p Kauba nimetus ja kirjeldus
						td: input(type="text", value="Udutuli, 73364747E - artikul")
					tr
						td: p Nõude esitamise põhjus
						td
							.line
								input(type="checkbox")#puudujaak
								label(for="puudujaak") Kauba puudujaak
								input(type="checkbox")#kadumine
								label(for="kadumine") Kauba kadumine
							.line
								input(type="checkbox")#vivitus
								label(for="vivitus") Vivitus
								input(type="checkbox")#kahjustamine
								label(for="kahjustamine") Kauba kahjustamine
						tr
							td: p Kahjustunud / puuduoleva kauba kirjeldus
							td: textarea Klient sai katte udutuli katikisena
			.row
				.title: p Käesolevale hüvitusnõudele on lisatud alljärgnevad dokumendid
				table
					tr
						td: p Kaubaarve
						td: input(type="file")
					tr
						td: p Pildid kahjustatud kaubast, pakenditest
						td: input(type="file", multiple)
					tr
						td: p Käesolevaga palume  hüvitada tekitatud  kahju summas (eur)
						td: input(type="text", value="17,39")
					tr
						td: p Summa koosneb järgmistest osast
						td: textarea
			.row
				button.ext-btn.blue Print request
				button.ext-btn.blue.popup-trigger-send Send
				button.ext-btn.grey.close-popup-trigger close

.popup.popup-transport-complaint-success
	.popup__container
		.popup__header
			.popup__title: p Success
			.popup__btn-close: button.close-popup-trigger: +icon('cross', 'close-popup-cross')
		.popup__content
			.success
				.success-icon: +icon('checkmark', 'checkmark-icon')
				.title: p Credit note created and sent
			.row
				button.ext-btn.blue print
				button.ext-btn.grey.close-popup-trigger close