.popup.popup-return-supplier
	.popup__container
		.popup__header
			.popup__title: p Return to supplier
			.popup__btn-close: button.close-popup-trigger: +icon('cross', 'close-popup-cross')
		.popup__content
			.row
				.title: p Company information
				table
					tr
						td: p Company name
						td: input(type="text", value="ALVADI OU")
					tr
						td: p Company nr
						td: input(type="text", value="743346")
					tr
						td: p Telephone
						td: input(type="text", value="63476352")
					tr
						td: p Address
						td: input(type="text", value="Majaka 10, Tallinn")
			.row
				.title: p Return detail information
				table
					tr
						td: p Product code
						td: input(type="text", value="576356W")
					tr
						td: p Quantity
						td: input(type="text", value="1")
					tr
						td: p Invoice nr.
						td: input(type="text", value="7L2K8")
					tr
						td: p Return reason
						td
							select
								option Valesti tellitud
								option Valesti saadetud
								option Mudeli erinevus
								option Pakendamise viga
								option Muu pohjus
					tr
						td: p Invoice date
						td: input(type="text", value="01.09.2015")
			.row
				.title: p Warranty cases
				table
					tr
						td: p Vehicle data
						td: input(type="text", value="Audi A4, 2008")
					tr
						td: p VIN
						td: input(type="text", value="W3654W83376")
					tr
						td: p Name and address of installation company
						td: input(type="text", value="CarSave OU, Punane 6")
					tr
						td: p Assembly date
						td: input(type="text", value="02.05.2006")
					tr
						td: p Assembly date milleage
						td: input(type="text", value="156777")
					tr
						td: p Disassembly date
						td: input(type="text", value="02.05.2006")
					tr
						td: p Disassembly date milleage
						td: input(type="text", value="16745986WR")
					tr
						td: p Document confirming the work done
						td: input(type="file", multiple)
					tr
						td: p Problem description
						td: textarea
			.row
				button.ext-btn.blue.submit-popup Submit request
				button.ext-btn.grey.close-popup-trigger close

.popup.popup-return-supplier-success
	.popup__container
		.popup__header
			.popup__title: p Success
			.popup__btn-close: button.close-popup-trigger: +icon('cross', 'close-popup-cross')
		.popup__content
			.success
				.success-icon: +icon('checkmark', 'checkmark-icon')
				.title: p Product added to the return basket successfully!
			.row
				a(href="return-basket.html").ext-btn.blue go to basket
				button.ext-btn.blue print
				button.ext-btn.grey.close-popup-trigger close

.popup.popup-return-supplier-credit-note
	.popup__container
		.popup__header
			.popup__title: p Credit note created successfully
			.popup__btn-close: button.close-popup-trigger: +icon('cross', 'close-popup-cross')
		.popup__content
			.success
				.success-icon: +icon('checkmark', 'checkmark-icon')
				.title: p Credit note created
			.row
				a(href="return-basket.html").ext-btn.blue go to basket
				button.ext-btn.grey.close-popup-trigger close