.popup.popup-credit-note
	.popup__container
		.popup__header
			.popup__title: p Credit note created successfully
			.popup__btn-close: button.close-popup-trigger: +icon('cross', 'close-popup-cross')
		.popup__content
			.success
				.success-icon: +icon('checkmark', 'checkmark-icon')
				.title: p Credit note created and next goods returned to the basket
			.row
				table
					tr
						td: a(href="#") AL934787
						td: a(href="#") Stabilisaatori puks
					tr
						td: a(href="#") AL223983
						td: a(href="#") Бампер от X
			.row
				a(href="return-basket.html").ext-btn.blue go to basket
				button.ext-btn.grey.close-popup-trigger close