mixin step-group(step)
	.step-group
		if step === 1
			.step.active
				p.step-hint step 1
				p.step-content return #1 - Wrong product (1)
			.step
				p.step-hint step 2
				p.step-content return #2 - No reason (1)
			.step
				p.step-hint step 3
				p.step-content return #3 - Damaged product (1)
			.step
				p.step-hint step 4
				p.step-content return #4 - Warranty (1)
			.step
				p.step-hint step 5
				p.step-content return #5 - Parts missing (1)
		if step === 2
			.step.done
				p.step-hint step 1
				a(href="#").step-content return #1 - Wrong product (1)
			.step.active
				p.step-hint step 2
				p.step-content return #2 - No reason (1)
			.step
				p.step-hint step 3
				p.step-content return #3 - Damaged product (1)
			.step
				p.step-hint step 4
				p.step-content return #4 - Warranty (1)
			.step
				p.step-hint step 5
				p.step-content return #5 - Parts missing (1)
		if step === 3
			.step.done
				p.step-hint step 1
				a(href="#").step-content return #1 - Wrong product (1)
			.step.done
				p.step-hint step 2
				a(href="#").step-content return #2 - No reason (1)
			.step.active
				p.step-hint step 3
				p.step-content return #3 - Damaged product (1)
			.step
				p.step-hint step 4
				p.step-content return #4 - Warranty (1)
			.step
				p.step-hint step 5
				p.step-content return #5 - Parts missing (1)
		if step === 4
			.step.done
				p.step-hint step 1
				a(href="#").step-content return #1 - Wrong product (1)
			.step.done
				p.step-hint step 2
				a(href="#").step-content return #2 - No reason (1)
			.step.done
				p.step-hint step 3
				a(href="#").step-content return #3 - Damaged product (1)
			.step.active
				p.step-hint step 4
				p.step-content return #4 - Warranty (1)
			.step
				p.step-hint step 5
				p.step-content return #5 - Parts missing (1)
		if step === 5
			.step.done
				p.step-hint step 1
				a(href="#").step-content return #1 - Wrong product (1)
			.step.done
				p.step-hint step 2
				a(href="#").step-content return #2 - No reason (1)
			.step.done
				p.step-hint step 3
				a(href="#").step-content return #3 - Damaged product (1)
			.step.done
				p.step-hint step 4
				a(href="#").step-content return #4 - Warranty (1)
			.step.active
				p.step-hint step 5
				p.step-content return #5 - Parts missing (1)