include ../../../common/templates/mixins

html(data-ember-extension='1')
	head(lang='en')
		meta(charset='utf-8')
		link(rel='icon', href='../../img/xelance/favicon.ico')
		title Alvadi.ee :: Заказы
		link(href='http://alvadi.ee/panel/css/notooltip.bootstrap.min.css', rel='stylesheet')
		link(href='http://alvadi.ee/panel/css/squeeze.css', rel='stylesheet')
		link(href='http://alvadi.ee/css/site.css', rel='stylesheet', type='text/css', title='Style')
		// <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		style(type='text/css', media='print').
			a:link:after, a:visited:after {
			content: normal;
			}
		script.
			var path_domain = "http://alvadi.ee";
		link(href='http://alvadi.ee/panel/vendor/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css', rel='stylesheet')
		link(href='http://alvadi.ee/panel/vendor/jQuery-Timepicker-Addon/dist/jquery-ui-timepicker-addon.min.css', rel='stylesheet')
		link(href='http://alvadi.ee/panel/vendor/sweetalert-master/lib/sweet-alert.css', rel='stylesheet')
		// <link href="http://alvadi.ee/panel/css/panel.min.css" rel="stylesheet">
		link(href='http://alvadi.ee/panel/css/order.css?r=1446637439', rel='stylesheet')
		link(href='http://alvadi.ee/panel/css/main.css?r=1446637439', rel='stylesheet')
		link(href='http://alvadi.ee/panel/css/font-awesome.min.css', rel='stylesheet')
		link#theme(href='http://alvadi.ee/css/jquery-ui/smoothness/jquery-ui-1.8.13.custom.css', type='text/css', rel='stylesheet')
		link(href='http://alvadi.ee/panel/css/max.temp.css?r=1446637439', rel='stylesheet')
		link(rel="stylesheet", href="./css/admin.ext.css")
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
		script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
		// <script src="https://code.jquery.com/ui/1.11.0/jquery-ui.min.js"></script>
		script(language='JavaScript', src='http://code.jquery.com/ui/1.8.23/jquery-ui.min.js', type='text/javascript')
		script(type='text/javascript', src='http://jquerytools.flowplayer.netdna-cdn.com/1.2.6/all/jquery.tools.min.js')
		script(src='http://alvadi.ee/js/jquery.autocomplete.min.js')
		script(src='http://alvadi.ee/js/common.js')
		script(type='text/javascript', src='http://alvadi.ee/common.js.php')
		script(type='text/javascript').
			var nodejsServer        = "http://alvadi.ee";
			var nodejsPort          = "1337";
			var nodejsHash          = "d93049cc40543b974";
			var user_id             = "25385";
			var domain_id           = "1";
			var delay = (function(){
			var timer = 0;
			return function(callback, ms){
			clearTimeout (timer);
			timer = setTimeout(callback, ms);
			};
			})();
		script(src='blob:http%3A//alvadi.ee/8b10a231-f970-4b97-9ef9-ad315a2e2047')
		script(src='blob:http%3A//alvadi.ee/5bea4980-bf97-403f-8af5-b2159024456a', charset='UTF-8')
		script(src="./js/admin.ext.js")
	body
		nav.xe-b-navbar.navbar.navbar-inverse.navbar-fixed-top.xe-b-navbar--alvadi(role='navigation')
			.xe-navbar__wrapper
				.xe-navbar__logo
					img(src='http://alvadi.ee/panel/img/logos/logo_alvadi.jpg')
				.xe-navbar__container
					.xe-navbar__block
						.xe-navbarTitle.xe-navbarTitleFront
							a(href='orders.php') Заказы
					.xe-navbarSearch(style='')
						.navbar-form(role='search')
							form
								input.form-control.xe-search--theme_dark(placeholder='Найти в админке', required='required', type='text')
								span.search-close ×
					.xe-navbar__block
						.xe-navButton
							a.xe-a__btn--navbarGo(href='/panel/todo_list.php', title='Task Manager - Менеджер заданий') TM
						.xe-navButton
							a.xe-a__btn--navbarGo(href='http://alvadi.ee') На сайт
						.xe-navButton
					.xe-navbar__block
						.xe-userArea
							a.xe-userArea_name(href='#')
								img.xe-userArea_userPic(src='http://www.alvadi.ee/admin/images/Ilja.jpg', alt='userPic', height='32', width='32')
								|  Ilja B
							// <div class="xe-userArea_points"><a href="#">&nbsp;</a></div>
						.xe-userLogout
							a.fa.fa-sign-out(href='/logout.php', title='Выйти из админки')  
		.xe-overlayField
		.xe-wrapper.shown
			.xe-sidebarWrapper
				.xe-sidebarNav
					//
						<div class="xe-sidebarMenu__Icon"><span class="xe-util--align-right fa fa-bars fa-lg fa-fw"></span></div>
						<div class="xe-sidebarMenu__Button"><a class="xe-btnToggle">Закрепить меню</a></div>
					.xe-sidebarField
						ul.list-unstyled.xe-sidebarMainList
							li
								a.xe-openMenu.xe-categoryTitle(href='#') Основное
								ul.list-unstyled.xe-sidebarMainList__sublist(style='display: block;')
									li
										a(href='/panel/admin_users.php', title='Клиенты') Клиенты
									li(style='font-weight:bold;text-decoration:underline;')
										a(href='/panel/orders.php', title='Заказы') Заказы
									li
										a(href='/panel/alvadi_supplier_orders.php', title='Проформа') Проформа
									li
										a(href='/panel/credit_bills.php', title='Кредитные счета') Кредитные счета
									li
										a(href='/panel/alvadi_alien_invoices.php', title='Входящие счета') Входящие счета
									li
										a(href='/panel/proform.php', title='Проформа (new)') Проформа (new)
									li
										a(href='/panel/delivery.php', title='Доставка клиентам') Доставка клиентам
									li
										a(href='/panel/catalog_parts.php', title='Список запчастей') Список запчастей
							li
								a.xe-openMenu.xe-categoryTitle(href='#') Статистика
								ul.list-unstyled.xe-sidebarMainList__sublist(style='display: block;')
									li
										a(href='/panel/todo_list.php', title='Менеджер заданий') Менеджер заданий
									li
										a(href='/panel/komplekt.php', title='Комплектация') Комплектация
									li
										a(href='/panel/statistics.php', title='Статистика по дням') Статистика по дням
									li
										a(href='/panel/products_rating.php', title='Рейтинг товаров') Рейтинг товаров
									li
										a(href='/panel/autosp_returns.php', title='Возвраты Autosp') Возвраты Autosp
									li
										a(href='/panel/sell_source_stats.php', title='Каналы заказов') Каналы заказов
							li
								a.xe-openMenu.xe-categoryTitle(href='#') Прочее
								ul.list-unstyled.xe-sidebarMainList__sublist(style='display: block;')
									li
										a(href='/panel/returned.php', title='Возвраты') Возвраты
									li
										a(href='/panel/inventory_log.php', title='Inventory Items Log') Inventory Items Log
									li
										a(href='/panel/unload.php', title='Отгрузка товара') Отгрузка товара
									li
										a(href='/panel/users_spares.php', title='Запчасти клиентов') Запчасти клиентов
									li
										a(href='/panel/spare_instructions.php', title='Этикетки на товар') Этикетки на товар
									li
										a(href='/panel/inventory_balance.php', title='Баланс склада') Баланс склада
									li
										a(href='/panel/returned_credit_bills.php', title='Возвраты - кр.счета') Возвраты - кр.счета
									li
										a(href='/panel/items_back_to_stock.php', title='Возврат деталей на склад') Возврат деталей на склад
							li
								a.xe-openMenu.xe-categoryTitle(href='#') Scanophone
								ul.list-unstyled.xe-sidebarMainList__sublist(style='display: block;')
									li
										a(href='/panel/scanophone_parcel_release.php', title='Посылки \ Выдача') Посылки \ Выдача
									li
										a(href='/panel/scanophone_menu.php', title='Меню сканофона') Меню сканофона
									li
										a(href='/panel/scanophone_store_recieve.php', title='Прием на склад') Прием на склад
									li
										a(href='/panel/scanophone_release.php', title='Таллинн \ Выдача') Таллинн \ Выдача
									li
										a(href='/panel/scanophone_orders.php', title='Посылки \ Сбор') Посылки \ Сбор
									li
										a(href='/panel/scanophone_goods.php', title='Таллинн') Таллинн
									li
										a(href='/panel/scanophone_parcels.php', title='Посылки') Посылки
									li
										a(href='/panel/scanophone_goods_collect.php', title='Таллинн \ Сбор') Таллинн \ Сбор
									li
										a(href='/panel/scanophone_proform.php', title='Проформа') Проформа
									li
										a(href='/panel/scanophone_relabel.php', title='Перемаркировка') Перемаркировка
									li
										a(href='/panel/scanophone_komplekt.php', title='Комплектация') Комплектация
									li
										a(href='/panel/scanophone_client_release.php', title='Выдача клиенту') Выдача клиенту
									li
										a(href='/panel/scanophone_unload.php', title='Отгрузка товара') Отгрузка товара
									li
										a(href='/panel/scanophone_store_recieve_new.php', title='Сортировка') Сортировка
									li
										a(href='/panel/scanophone_return_autosp.php', title='Возврат Autosp') Возврат Autosp
			.xe-pageContentWrapper
				.xe-pageContent
					.row
						// <div class="xe-b-fastBar xe-util--text-center" style="margin-top:1px;"></div>
						.xe-pageEntity
							div
								#warning_box.warning_box
								block content
		ul.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all(role='listbox', aria-activedescendant='ui-active-menuitem', style='z-index: 1; top: 0px; left: 0px; display: none;')
		ul.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all(style='z-index: 1; top: 0px; left: 0px; display: none;', aria-activedescendant='ui-active-menuitem', role='listbox')
		script(src='http://alvadi.ee/panel/js/notooltip.bootstrap.js')
		script(src='http://alvadi.ee/panel/vendor/jQuery-Timepicker-Addon/dist/jquery-ui-timepicker-addon.min.js')
		script(src='http://alvadi.ee/panel/vendor/bpopup/jquery.bpopup.min.js')
		script(src='http://alvadi.ee/panel/vendor/sweetalert-master/lib/sweet-alert.min.js')
		// <script src="http://alvadi.ee/panel/js/order.min.js?r=1446637439"> </script>
		script(src='http://alvadi.ee/panel/js/jquery.highlight-5.js')
		script(src='http://alvadi.ee/panel/js/panel.js?r=1446637439')
		#ui-datepicker-div.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all(style='z-index: 10000;')
		.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable.ui-resizable(aria-labelledby='ui-dialog-title-dialog', role='dialog', tabindex='-1', style='display: none; z-index: 1002; outline: 0px none; position: absolute; top: 315.5px; left: 697.5px; height: auto; width: 450px;')
			.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix
				span#ui-dialog-title-dialog.ui-dialog-title Доставка
				a.ui-dialog-titlebar-close.ui-corner-all(role='button', href='#')
					span.ui-icon.ui-icon-closethick close
			.ui-resizable-handle.ui-resizable-n(style='z-index: 1000;')
			.ui-resizable-handle.ui-resizable-e(style='z-index: 1000;')
			.ui-resizable-handle.ui-resizable-s(style='z-index: 1000;')
			.ui-resizable-handle.ui-resizable-w(style='z-index: 1000;')
			.ui-resizable-handle.ui-resizable-se.ui-icon.ui-icon-gripsmall-diagonal-se.ui-icon-grip-diagonal-se(style='z-index: 1000;')
			.ui-resizable-handle.ui-resizable-sw(style='z-index: 1000;')
			.ui-resizable-handle.ui-resizable-ne(style='z-index: 1000;')
			.ui-resizable-handle.ui-resizable-nw(style='z-index: 1000;')
		.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable.ui-resizable(aria-labelledby='ui-dialog-title-sms_dialog', role='dialog', tabindex='-1', style='display: none; z-index: 1000; outline: 0px none; position: absolute;')
			.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix
				span#ui-dialog-title-sms_dialog.ui-dialog-title Отсылка СМС клиенту
				a.ui-dialog-titlebar-close.ui-corner-all(role='button', href='#')
					span.ui-icon.ui-icon-closethick close
			.ui-resizable-handle.ui-resizable-n(style='z-index: 1000;')
			.ui-resizable-handle.ui-resizable-e(style='z-index: 1000;')
			.ui-resizable-handle.ui-resizable-s(style='z-index: 1000;')
			.ui-resizable-handle.ui-resizable-w(style='z-index: 1000;')
			.ui-resizable-handle.ui-resizable-se.ui-icon.ui-icon-gripsmall-diagonal-se.ui-icon-grip-diagonal-se(style='z-index: 1000;')
			.ui-resizable-handle.ui-resizable-sw(style='z-index: 1000;')
			.ui-resizable-handle.ui-resizable-ne(style='z-index: 1000;')
			.ui-resizable-handle.ui-resizable-nw(style='z-index: 1000;')
			.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix
				.ui-dialog-buttonset
					button(type='button') Закрыть
		div
			.sweet-overlay(tabindex='-1')
			.sweet-alert(tabindex='-1')
				.icon.error
					span.x-mark
						span.line.left
						span.line.right
				.icon.warning
					span.body
					span.dot
				.icon.info
				.icon.success
					span.line.tip
					span.line.long
					.placeholder
					.fix
				.icon.custom
				h2 Title
				p Text
				button.cancel(tabindex='2') Cancel
				button.confirm(tabindex='1') OK
		.tooltip(style='position: absolute; top: 372.267px; left: 922.9px; opacity: 1; display: none;')
			| Доставим в Alvadi: 05.11.2015;
			br
			| Доставили в Alvadi: 04.11.2015 12:11
			br
			| Номер заказа в Сигнеда: -
		.tooltip(style='position: absolute; top: 428.667px; left: 921.9px; opacity: 1; display: none;')
			| Доставим в Alvadi: 05.11.2015;
			br
			| Доставили в Alvadi: 04.11.2015 12:06
			br
			| Номер заказа в Сигнеда: -
		#ui-datepicker-div.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all
		.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable.ui-resizable(tabindex='-1', role='dialog', aria-labelledby='ui-dialog-title-dialog', style='display: none; z-index: 1000; outline: 0px; position: absolute;')
			.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix
				span#ui-dialog-title-dialog.ui-dialog-title Доставка
				a.ui-dialog-titlebar-close.ui-corner-all(href='#', role='button')
					span.ui-icon.ui-icon-closethick close
			#dialog.ui-dialog-content.ui-widget-content(scrollleft='0', scrolltop='0', style='border: 1px solid gray; background: white url("/admin/images/gradient2.png") repeat-x scroll left top; width: auto; height: 325.933px; min-height: 0px;')
				table
					tbody
						tr
							td(colspan='3')
								.fl
									span МАСЛЯНЫЙ КАРТЕР
									|  (код: AL46279)
									.c
										// empty
									|                             AUDI A6 (C5) SDN/AVANT, год выпуска: 05.1997 - 05.2001
									br
									| Инвентарный номер:
									a.tooltip_enabled(href='http://alvadi.ee/admin/inventory_items.php?item_id=535015', target='_blank')  535015
						tr
							td Поставщик:
							td(colspan='2')
								span.txt14.bold kris
						tr
							td Склад:
							td
								select#dialog_supplier(name='dialog_supplier', style='width: 320px;')
									option(value='KRIS') KRIS (KRIS-AUTO KRZYSZTOF GROCHOWSKI)
									option(value='POLCAR', selected='selected') POLCAR (KRIS-AUTO KRZYSZTOF GROCHOWSKI)
									option(value='REZAW-PLAST') REZAW-PLAST (KRIS-AUTO KRZYSZTOF GROCHOWSKI)
							td
						tr
							td Статус:
							td
								input#dialog_delivery_status(value='ready_for_shipping', name='dialog_delivery_status', original-value='ready_for_shipping', type='hidden')
								| Готово к отправке клиенту
							td
						tr
							td Дата доставки:
							td
								input#dialog_delivery_date.hasDatepicker(name='dialog_delivery_date', value='05.11.2015', data-original='05.11.2015', type='text')
							td
						tr
							td Код Signeda:
							td 1325MO-2
							td
						tr
							td Код Polcar:
							td
								input#dialog_code_polcar(name='dialog_code_polcar', value='1325MO-2', type='text')
							td
						tr
							td Код Almelo:
							td
								input#dialog_code_almelo(name='dialog_code_almelo', value='0', type='text')
							td
						tr
							td.alc(style='white-space: nowrap;', colspan='3')
								input(name='discount', value='false', type='hidden')
								input#discount_percent(name='discount_percent', value='0', type='hidden')
						tr
							td(colspan='3', align='center')
								br
								input#dialog_product_id(name='dialog_product_id', value='2286745', type='hidden')
								input#dialog_save_spare_data.btn(value='Сохранить', type='button')
			.ui-resizable-handle.ui-resizable-n(style='z-index: 1000;')
			.ui-resizable-handle.ui-resizable-e(style='z-index: 1000;')
			.ui-resizable-handle.ui-resizable-s(style='z-index: 1000;')
			.ui-resizable-handle.ui-resizable-w(style='z-index: 1000;')
			.ui-resizable-handle.ui-resizable-se.ui-icon.ui-icon-gripsmall-diagonal-se.ui-icon-grip-diagonal-se(style='z-index: 1000;')
			.ui-resizable-handle.ui-resizable-sw(style='z-index: 1000;')
			.ui-resizable-handle.ui-resizable-ne(style='z-index: 1000;')
			.ui-resizable-handle.ui-resizable-nw(style='z-index: 1000;')
		#autocompleterz-div_townselect.acResults.town_select(style='display: none; position: absolute;')
		.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable.ui-resizable(tabindex='-1', role='dialog', aria-labelledby='ui-dialog-title-sms_dialog', style='display: none; z-index: 1000; outline: 0px; position: absolute;')
			.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix
				span#ui-dialog-title-sms_dialog.ui-dialog-title  
				a.ui-dialog-titlebar-close.ui-corner-all(href='#', role='button')
					span.ui-icon.ui-icon-closethick close
			#sms_dialog.ui-dialog-content.ui-widget-content(style='')
				p#sms_dialog_text СМС послан клиенту!
			.ui-resizable-handle.ui-resizable-n(style='z-index: 1000;')
			.ui-resizable-handle.ui-resizable-e(style='z-index: 1000;')
			.ui-resizable-handle.ui-resizable-s(style='z-index: 1000;')
			.ui-resizable-handle.ui-resizable-w(style='z-index: 1000;')
			.ui-resizable-handle.ui-resizable-se.ui-icon.ui-icon-gripsmall-diagonal-se.ui-icon-grip-diagonal-se(style='z-index: 1000;')
			.ui-resizable-handle.ui-resizable-sw(style='z-index: 1000;')
			.ui-resizable-handle.ui-resizable-ne(style='z-index: 1000;')
			.ui-resizable-handle.ui-resizable-nw(style='z-index: 1000;')
			.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix
				.ui-dialog-buttonset
					button(type='button') Закрыть
		div
			.sweet-overlay(tabindex='-1')
			.sweet-alert(tabindex='-1')
				.icon.error
					span.x-mark
						span.line.left
						span.line.right
				.icon.warning
					span.body
					span.dot
				.icon.info
				.icon.success
					span.line.tip
					span.line.long
					.placeholder
					.fix
				.icon.custom
				h2 Title
				p Text
				button.cancel(tabindex='2') Cancel
				button.confirm(tabindex='1') OK
		div