extends ../../../common/jade/admin.layout

block content
	.xe-contentCard: .ext

		+warn-popup('Удаление группы', 'delete-group', 'Действительно удалить группу "Зимние товары для авто"?')
			button.ext-btn.grey.close-popup-trigger Нет, дайте подумать
			button.ext-btn.red Да, удаляем

		.special-group

			.special-group__header
				.page-title Специальные группы товаров

			.row-label: p Добавление группы

			.special-group__add
				input(type="text", placeholder="Название группы")
				button.ext-btn.white.inset#add-group + Добавить группу

			.row-label: p Действия для одной или нескольких групп

			.special-group__filters
				.special-group__filters-one.grey
					.filter-header: p изменить статус
					button.ext-btn.grey выключить
					button.ext-btn.green включить
				.special-group__filters-one
					.filter-header: p запланировать/продолжить действие группы
					input(type="text", placeholder="начиная с").date-input
					input(type="text", placeholder="включая до").date-input
					button.ext-btn.yellow.inset запланировать
				.special-group__filters-one
					.filter-header: p удалить группу
					button.ext-btn.red.inset.del-group-popup-trigger удалить группу

			.row-label: p Выберите все или одну группу

			.special-group__list
				table.checkbox-selectable#special-group-table
					thead
						tr
							td.td-checkbox: input(type="checkbox")
							td: p Выбрать все
							td
							td
					tbody
						tr
							td.td-checkbox: input(type="checkbox")
							td: a(href="group-item.html") Зимние товары для авто
							td.status.green.m--block: p активна
							td.td-actions
								a(href="group-item.html"): +icon('pen', 'pen-edit-icon')
						tr
							td.td-checkbox: input(type="checkbox")
							td: a(href="group-item.html") Товары для тех осмотра
							td.status.green.m--block
								p активна
								p 06.12.2015 - 13.03.2016
							td.td-actions
								a(href="group-item.html"): +icon('pen', 'pen-edit-icon')
						tr
							td.td-checkbox: input(type="checkbox")
							td: a(href="group-item.html") Подготовить машину для летнего сезона
							td.status.yellow.m--block
								p запланирована
								p 11.04.2016 - 31.06.2016
							td.td-actions
								a(href="group-item.html"): +icon('pen', 'pen-edit-icon')
						tr
							td.td-checkbox: input(type="checkbox")
							td: a(href="group-item.html") Для ранней весны
							td.status.grey.m--block
								p неактивна
							td.td-actions
								a(href="group-item.html"): +icon('pen', 'pen-edit-icon')