extends ../../../common/jade/admin.layout

block content
	.xe-contentCard: .ext

		+warn-popup('Удаление группы', 'delete-group', 'Действительно удалить эту группу?')
			button.ext-btn.grey.close-popup-trigger Нет, дайте подумать
			button.ext-btn.red Да, удаляем

		.special-group

			.special-group__header
				.page-title Подготовить машину для летнего сезона
					.status.yellow 11.04.2016 - 31.06.2016

			.row-label: p Изменения этой группы

			.special-group__filters
				.special-group__filters-one.grey
					.filter-header: p изменить статус
					button.ext-btn.grey выключить
					button.ext-btn.green включить
				.special-group__filters-one
					.filter-header: p запланировать/продолжить действие группы
					input(type="text", placeholder="начиная с").date-input
					input(type="text", placeholder="включая до").date-input
					button.ext-btn.yellow.inset запланировать
				.special-group__filters-one
					.filter-header: p удалить группу
					button.ext-btn.red.inset.del-group-popup-trigger удалить группу

			.row-label: p Добавление товара в группу

			.special-group__add
				input(type="text", placeholder="AL-код товара")
				button.ext-btn.white.inset#add-item + Добавить товар

			.row-label: p Действия с одним или несколькими товарами

			.special-group__filters
				.special-group__filters-one
					.filter-header: p удалить из группы
					button.ext-btn.red.inset Удалить товар

			.row-label: p Выберите один или несколько товаров

			table.data-table.checkbox-selectable.hoverable
				thead
					tr
						td: input(type="checkbox")
						td
						td: p product name
						td: p product description
						td: p code
						td: p supplier
						td: p price
				each one, i in [{'pic':'http://pics3.alpics.info/pics/spares/small/46279.jpg', 'title':'karteripõhi', 'desc':'AUDI A6 (C5) SDN/AVANT, год выпуска: 05.1997 - 05.2001', 'code':'AL46279', 'item':'X535015', 'supplier':'S0110323G - ALV', 'q':'1', 'price': '101.23', 'discount_perc': '0', 'discount_int': '0.00', 'sum': '101.23'}, {'pic':'http://pics1.alpics.info/pics/spares/small/128545.jpg', 'title':'stabilisaatoritoe puks', 'desc':'AUDI A6 (C5) SDN/AVANT, год выпуска: 05.1997 - 05.2001', 'code':'AL128545', 'item':'X535013', 'supplier':'S0110323G - POLCAR', 'q':'1', 'price': '22.95', 'discount_perc': '0', 'discount_int': '0.00', 'sum': '22.95'}, {'pic':'http://pics1.alpics.info/pics/td/small/b/5/b5f55_99734.jpg', 'title':'Tihend,karteripõhi REINZ', 'desc':'AUDI A6 (C5) SDN/AVANT, год выпуска: 05.1997 - 05.2001', 'code':'AL11163099', 'item':'X535016', 'supplier':'S0110323G - POLCAR', 'q':'1', 'price': '48.20', 'discount_perc': '0', 'discount_int': '0.00', 'sum': '48.20'}, {'pic':'http://pics1.alpics.info/pics/spares/small/10395.jpg', 'title':'stangeliist', 'desc':'AUDI A6 (C5) SDN/AVANT, год выпуска: 05.1997 - 05.2001', 'code':'AL10395', 'item':'X535012', 'supplier':'S0110323G - ALV', 'q':'1', 'price': '6.85', 'discount_perc': '0', 'discount_int': '0.00', 'sum': '6.85'}, {'pic':'http://pics2.alpics.info/pics/spares/small/14327586.jpg', 'title':'огнетушитель', 'desc':'ABC Порошковый огнетушитель', 'code':'AL14327586', 'item':'PK1', 'supplier':'S0110323G - ALV', 'q':'1', 'price': '14.60', 'discount_perc': '0', 'discount_int': '0.00', 'sum': '14.60'}]
					tr
						td.td-checkbox: input(type="checkbox")
						td.orders-table__picture
							a(href="#"): img(src="#{one.pic}", alt="#{one.title}, #{one.desc}")
						td
							a(href="#").orders-table__link #{one.title}
						td
							p.order-table__desc #{one.desc}
						td: a(href="#") #{one.code}
						td: p #{one.supplier}
						td: p #{one.price}

			.special-group__save
				a(href="group-list.html").ext-btn.grey Назад