mixin progress(e)
	mixin current()
		+icon('pen', 'step-current-icon')
	mixin not()
		+icon('cross', 'step-not-icon')
	mixin done()
		+icon('checkmark', 'step-done-icon')

	if e === 1
		.progress
			.step.active
				+current()
				p Выбрать причины
			.step
				+not()
				p Получил не тот товар
			.step
				+not()
				p Вернуть без причины
			.step
				+not()
				p Товар повреждён
			.step
				+not()
				p Гарантия
			.step
				+not()
				p Товар не комплектный
			.step
				+not()
				p Общие данные
			.step
				+not()
				p Проверка и отправка
	if e === 2
		.progress
			a(href="customer-return-2.html", title="Перейти к выбору причин").step.done
				+done()
				p Выбрать причины
			.step.active
				+current()
				p Получил не тот товар
			.step
				+not()
				p Вернуть без причины
			.step
				+not()
				p Товар повреждён
			.step
				+not()
				p Гарантия
			.step
				+not()
				p Товар не комплектный
			.step
				+not()
				p Общие данные
			.step
				+not()
				p Проверка и отправка
	if e === 3
		.progress
			a(href="customer-return-2.html", title="Перейти к выбору причин").step.done
				+done()
				p Выбрать причины
			a(href="customer-return-3.html", title="Редактировать форму заявки - получил не тот товар").step.done
				+done()
				p Получил не тот товар
			.step.active
				+current()
				p Вернуть без причины
			.step
				+not()
				p Товар повреждён
			.step
				+not()
				p Гарантия
			.step
				+not()
				p Товар не комплектный
			.step
				+not()
				p Общие данные
			.step
				+not()
				p Проверка и отправка
	if e === 4
		.progress
			a(href="customer-return-2.html", title="Перейти к выбору причин").step.done
				+done()
				p Выбрать причины
			a(href="customer-return-3.html", title="Редактировать форму заявки - получил не тот товар").step.done
				+done()
				p Получил не тот товар
			a(href="customer-return-4.html", title="Редактировать форму заявки - вернуть без причины").step.done
				+done()
				p Вернуть без причины
			.step.active
				+current()
				p Товар повреждён
			.step
				+not()
				p Гарантия
			.step
				+not()
				p Товар не комплектный
			.step
				+not()
				p Общие данные
			.step
				+not()
				p Проверка и отправка
	if e === 5
		.progress
			a(href="customer-return-2.html", title="Перейти к выбору причин").step.done
				+done()
				p Выбрать причины
			a(href="customer-return-3.html", title="Редактировать форму заявки - получил не тот товар").step.done
				+done()
				p Получил не тот товар
			a(href="customer-return-4.html", title="Редактировать форму заявки - вернуть без причины").step.done
				+done()
				p Вернуть без причины
			a(href="customer-return-5.html", title="Редактировать форму заявки - товар повреждён").step.done
				+done()
				p Товар повреждён
			.step.active
				+current()
				p Гарантия
			.step
				+not()
				p Товар не комплектный
			.step
				+not()
				p Общие данные
			.step
				+not()
				p Проверка и отправка
	if e === 6
		.progress
			a(href="customer-return-2.html", title="Перейти к выбору причин").step.done
				+done()
				p Выбрать причины
			a(href="customer-return-3.html", title="Редактировать форму заявки - получил не тот товар").step.done
				+done()
				p Получил не тот товар
			a(href="customer-return-4.html", title="Редактировать форму заявки - вернуть без причины").step.done
				+done()
				p Вернуть без причины
			a(href="customer-return-5.html", title="Редактировать форму заявки - товар повреждён").step.done
				+done()
				p Товар повреждён
			a(href="customer-return-6.html", title="Редактировать форму заявки - гарантия").step.done
				+done()
				p Гарантия
			.step.active
				+current()
				p Товар не комплектный
			.step
				+not()
				p Общие данные
			.step
				+not()
				p Проверка и отправка
	if e === 7
		.progress
			a(href="customer-return-2.html", title="Перейти к выбору причин").step.done
				+done()
				p Выбрать причины
			a(href="customer-return-3.html", title="Редактировать форму заявки - получил не тот товар").step.done
				+done()
				p Получил не тот товар
			a(href="customer-return-4.html", title="Редактировать форму заявки - вернуть без причины").step.done
				+done()
				p Вернуть без причины
			a(href="customer-return-5.html", title="Редактировать форму заявки - товар повреждён").step.done
				+done()
				p Товар повреждён
			a(href="customer-return-6.html", title="Редактировать форму заявки - гарантия").step.done
				+done()
				p Гарантия
			a(href="customer-return-7.html", title="Редактировать форму заявки - товар не комплктный").step.done
				+done()
				p Товар не комплектный
			.step.active
				+current()
				p Общие данные
			.step
				+not()
				p Проверка и отправка
	if e === 8
		.progress
			a(href="customer-return-2.html", title="Перейти к выбору причин").step.done
				+done()
				p Выбрать причины
			a(href="customer-return-3.html", title="Редактировать форму заявки - получил не тот товар").step.done
				+done()
				p Получил не тот товар
			a(href="customer-return-4.html", title="Редактировать форму заявки - вернуть без причины").step.done
				+done()
				p Вернуть без причины
			a(href="customer-return-5.html", title="Редактировать форму заявки - товар повреждён").step.done
				+done()
				p Товар повреждён
			a(href="customer-return-6.html", title="Редактировать форму заявки - гарантия").step.done
				+done()
				p Гарантия
			a(href="customer-return-7.html", title="Редактировать форму заявки - товар не комплктный").step.done
				+done()
				p Товар не комплектный
			a(href="customer-return-common.html", title="Редактировать общие данные").step.done
				+done()
				p Общие данные
			.step.active
				+current()
				p Проверка и отправка