/*----------  Car filter hint  ----------*/
#car-filter-hint
	background #D5E6F6
	padding 1rem
	padding-top 0.9rem
	margin-bottom 2rem
	display inline-block
	border-radius 0.3rem
	position relative
	max-width 40%
	p
		line-height 1.3
		color #444
		font-weight bold
		font-size 0.9rem
	&:after
		content ''
		position absolute
		bottom -2rem
		left 1rem
		border 1rem solid transparent
		border-top 1rem solid #D5E6F6

.example-images
	margin-top 5rem
	opacity 0.3
	position relative
	display flex
	flex-flow row wrap
	justify-content space-between
	align-items center
	&:after
		content ''
		position absolute
		top 0
		bottom 0
		right 0
		left 0
	img
		width 25%
		height auto
		margin 2rem 4.1%
		&::selection
			background none

/*----------  Car filter  ----------*/
#car-filter
	.active
		background #e7e7e7
		text-decoration underline