.main-footer
	width 100%
	background #2c2c2c
	cursor default
	position absolute
	z-index 999999
	bottom 0
	p, a, button, input
		font-size 1.3em
		line-height 1.5
	p:not(.inset)
		display inline-block
	.inset
		margin-left 2rem

.footer-inner
	width 1010px
	margin auto
	box-shadow 0 1rem 0.6rem 0 rgba(black, 0.6)
	background white

.footer-sub
	padding 0.8rem 1rem .7rem
	background linear-gradient(-35deg, $yelly 50%, $lightyelly 50%)
	.success
	.sub
		height 40px
	.success
		force-top 10px
		p, button
			font-size 16px
			color #111

.sub__text
.sub__input
	float left

.sub__text
	width 55%
	p
		font-size 16px
		color #111
		force-top 10px

.sub__input
	display flex
	width 45%
	position relative

#footer-error-tooltip
	top -115%
	z-index 3000

#footer-subscribe
#footer-subscribe-btn
	padding .4rem .5rem
	box-sizing border-box
	outline none

#footer-subscribe
	border none
	width 100%
	margin-right 0.4rem
	color #333
	padding 0.4rem 0.7rem 0.3rem
	border 1px solid $lightblue
	font-size 1rem
	box-shadow none

#another-sub
	border-bottom 1px solid rgba(#333, 0.3)
	padding-bottom 1px
	line-height 1
	&:hover
		border-bottom 1px solid transparent

.footer__container
	padding 1.5rem 1.8rem 2rem
	background linear-gradient(#2c2c2c, #333)
	clear fix
	p, a
		color white
	.svg-icon
		fill rgba(white, 0.9)

.footer__container-links
.footer__container-contacts
.footer__container-worktime
.footer__container-pay
.footer__container-delivery
	float left

.footer__container-links
	width 18%

.footer__container-contacts
	width 20%
	li
		margin-bottom 0.3rem
		&:nth-last-child(1)
			margin-bottom 0

.footer__link
	text-decoration none
	border-bottom 1px solid rgba(white, 0.3)
	&:hover
		color $lightyelly
		text-decoration none
		border-bottom 1px solid rgba($lightyelly, 0.3)
		.svg-icon
			fill @color

.footer-phone-icon
	margin-right 0.5rem

.footer__container-worktime
	width 26%
	.header
		margin-bottom .5rem
	.body
		margin-left 2rem
	li
		margin-bottom 1rem
		&:nth-last-child(1)
			margin-bottom 0
	
.footer__container-pay
	width 18%
	
.footer__container-delivery
	width 18%

.footer__container-pay
.footer__container-delivery
	.strong
		margin-bottom 0.5rem

.footer__list
	color rgba(white, 0.3)
	list-style disc

.footer__copyright-container
	margin-top 1rem
	width 100%
	float left

.footer__copyright
	margin 0

.footer__logo
	width 68px
	margin-right 0.5rem
	force-top 2px
	img
		width 100%
		height auto

.footer__icon-mail
	fill none
	stroke #4a4a4a
	stroke-width 2
	width 1rem
	height @width
	margin-right 1.8rem
	margin-left 0.9rem
	transform scale(4.5) translate(0, 2px)
.footer__icon-checkmark
	fill #4a4a4a
	width 1rem
	height @width
	margin-right 2.7rem
	transform scale(3.1) translate(6px, -1px)
.footer-icon
	margin-right 0.8rem
	force-top 2px