/*----------  KKK  ----------*/
.left-bar
	width 25%
	float left
	.left-container
		padding .5rem
		background $lightgrey
		margin-bottom 1rem
		&:nth-last-child(1)
			margin-bottom 0
		a
			display block
			font-size 1.1em
			color #333
			margin-bottom .5rem
			&:nth-last-child(1)
				margin-bottom 0

.right-bar
	float left
	width 75%
	padding 0 2rem
	box-sizing border-box

.right-container
	.item
		margin-bottom 1.5rem
		padding 1rem 1.2rem
		box-shadow 0 0 0.4rem 0 rgba(black, 0.3)
		border-radius 0.1rem
		&:nth-last-child(1)
			margin-bottom 0
	.question
		font-size 1.5em
		font-weight bold
		color #333
		text-decoration none
		&:before
			content "#"
			display inline-block
			margin-right 0.5rem
			color #bababa
		&:hover
			&:before
				color #333
	.answer
		margin-top 0.5rem
		p, ul, a
			font-size 1.1em
			line-height 1.5
			margin-bottom 0.3rem
			color black
			&:nth-last-child(1)
				margin-bottom 0
		ul
			list-style disc
			margin-left 1rem
			
.ext .quest-category
	color $darkwet
	font-weight bold
	font-size 1.5em
	line-height 1

.ext .left-quest-category
	margin 1.2rem 0 0.6rem
	&:nth-child(1)
		margin-top 0
	
.ext .right-quest-category
	margin 2rem 0 1.5rem
	&:nth-child(1)
		margin-top 0

.ext .cant-find-answer
	clear fix
	a
		margin 0
	p, .link
		font-size 1.2em
		font-style italic
		display inline
		line-height 1.3
	i
		float left
		font-size 2.5em
		force-top 4px
		margin-right 0.6rem
	.link
		color $darkwet
		font-weight bold
		&:hover
			text-decoration underline
			
.send-question
	input, textarea
		width 100%
		padding 0.4rem 0.6rem
		border 1px solid #ccc
		outline none
		font-size 1.3em
		line-height 1.3
		background white
		box-sizing border-box
	textarea
		height 8rem
	label, p
		line-height 1.5
		font-size 1.1em
		margin 0
	// label
	.input-group
		margin-bottom 1rem
		&:nth-last-child(1)
			margin-bottom 0
			margin-top 1.7rem
	.desc
		font-size 1.1em
		line-height 1.5
		margin-bottom 1.4rem
	.input-error
		font-size 1em
		margin-bottom .5rem
		color $savered