.return-form
	input
		outline none
	input[type="checkbox"]
		cursor pointer
	label
		margin 0
	input, label
		display inline-block
	.input-group
		margin-bottom 0.8rem
	input[type="text"]
	input[type="file"]
		display block
		&:focus
			border 1px solid $lightblue

.return-card
	margin-bottom 24px

.return-item
	background linear-gradient($palegrey, white 90%)
	padding 4px
	margin-bottom 4px
	.cart_content
		margin 0
		background white
		padding 1rem
		box-sizing border-box

.data-table-error
	color $logored
	text-align right

.data-table-num
	width 50px

.data-table-price
	text-align right
	font-size 14px
	width 90px

.data-table-info
	width 50%
	padding 0 !important
	table
		tr:nth-child(even)
			background none
		td:nth-child(odd)
			width 120px

.data-table-pen-icon
	fill $lightblue

.data-table-delete-icon
	fill $savered

.data-table-uploaded
	td:nth-child(odd)
		width 25px !important
	img
		max-width 100%
		height 30px

.data-table-reason
	width 150px
	text-align right
	font-size 13px
	select
		@extends .ext-select

.data-table-thumb
	text-align center
	width 80px
	img
		max-height 50px

.data-table-action
	width 3rem
	text-align right

.data-table-btn-delete
.data-table-btn-edit
	fill #999
	display inline
	&:hover
		text-decoration none
	
.data-table-btn-delete:hover .data-table-delete-icon
.data-table-btn-edit:hover .data-table-pen-icon
	fill #666

.data-table-goods-item
	width 180px

.cart_content-returns
	margin 0
	padding 0

.step-current-icon
	fill $yelly
	margin-bottom 4px
	
.step-done-icon
	fill $flatgreen
	margin-bottom 4px

.step-not-icon
	fill #eee
	margin-bottom 4px

.more
	background #eee
	width 100%
	padding 16px
	
.option-no-reason
	color #aaa