$tooltip-bg = #333

.ext-tooltip
	background $tooltip-bg
	padding 6px 8px
	position absolute
	transform translateY(-0.3rem)
	visibility hidden
	opacity 0
	transition all .3s ease-out-quad
	p
		color rgba(white, 0.8)
		font-size 12px

	&.top
		&:after
			content ""
			border 0.5rem solid transparent
			border-top 0.5rem solid $tooltip-bg
			position absolute
			top 100%
			left 8px
			
	&.show
		transform translateY(0)
		visibility visible
		opacity 1