doctype html
html(lang="en")
head
	meta(charset="UTF-8")
	title bootstrap
	style.
		body, a {
			color: #333;
			font-size: 1em;
			font-family: Roboto, Helvetica, sans-serif; 
			font-weight: 300;
		}
		#main { width: 50%; margin: 2.5rem auto; }
		a { 
			display: inline-block; 
			text-decoration: none; 
			padding: 0.8rem 1rem; 
			font-size: 1.3em;
			line-height: 1.3;
		}
		a:hover { background: #eee; }
		.validator {
			background: #ccc;
			box-shadow: inset 0 0 .3rem 0 rgba(0, 0, 0, .3)
			color: white;
			border-radius: .5rem;
		}
		.row {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			margin-bottom: .5rem;
		}
		.demo {
			flex: 1 0;
		}
body
	#main
		h1 Avaliable pages
		h2 Return stage
		.links
			each page in pages
				.row
					a.demo(href="#{page}.html", target="_blank") #{page.replace(/-/g, ' ')}