extends ../../layouts/admin.layout

block content

	.xe-contentCard: .ext
		.layer: .twelve.columns

			.filters-container

				.filters-col
					.filters-row
						p From
						input(type="text").datepicker
					.filters-row
						p Creator
						select
							option All
					.filters-row
						p by order
						input(type="text")

				.filters-col
					.filters-row
						p to
						input(type="text").datepicker
					.filters-row
						p Customer
						input(type="text")
					.filters-row
						input(type="checkbox")#translation
						label(for="translation") Need translation

				.filters-col
					.filters-row
						p Return type
						select
							option All
					.filters-row
						p Customer type
						select
							option All

				.filters-col
					.filters-row
						p Return Status
						select
							option All
					.filters-row
						p Country
						select
							option All

		.layer: .twelve.columns
			table.data-table.hoverable
				thead
					tr
						td: p №
						td: p Order
						td: p Return reason
						td: p Customer
						td: p Creator
						td: p Date
						td: p Sum (EUR)
						td: p Status
				tbody
					tr
						td: p 1445
						td: a(href="return-1.html") 100027348
						td: p Wrong product
						td: p Ilja Baluev
						td: p Lello Napinenn
						td: p 05.08.2015
						td: p 123.59
						td.status.grey: p pending
					tr
						td: p 1446
						td: a(href="return-2.html") 100027348
						td: p No reason
						td: p Mati Torben
						td: p Dmitrij Zujev
						td: p 03.08.2015
						td: p 99.15
						td.status.blue: p Finished
					tr
						td: p 1448
						td: a(href="return-3.html") 100027348
						td: p Damaged product
						td: p Ukku Kukk
						td: p Ivan Neivan
						td: p 03.01.2016
						td: p 34.98
						td.status.yellow: p Processing
					tr
						td: p 1449
						td: a(href="return-4.html", title="need translation") 100027348
							+icon('exm', 'icon-exm')
						td: p Warranty
						td: p Ukku Kukk
						td: p Ivan Neivan
						td: p 25.02.2015
						td: p 78.45
						td.status.yellow: p Processing
					tr
						td: p 1450
						td: a(href="return-5.html") 100027348
						td: p Parts missing
						td: p Ukku Kukk
						td: p Ivan Neivan
						td: p 07.01.2016
						td: p 9.90
						td.status.grey: p pending