extends ../../layouts/admin.layout

block content
	.xe-contentCard: .ext
		include partials/popup-return-supplier
		.layer
			.six.columns
				h1.page-title return #3
					span.status.blue finished
				.translate
					p.data 24.10.2015 
					p.status.red translation required
				include partials/order-info
			.six.columns
				.top-buttons-group
					button.ext-btn.blue Print request
					a(href="#").ext-btn.blue view order
					a(href="#").ext-btn.blue view list

		.layer: .twelve.columns
			.table-label: strong warranty (1)
			table.data-table.hoverable.checkbox-selectable
				thead
					tr
						td: input(type="checkbox")
						td
						td: p product
						td: p code
						td: p item
						td: p supplier
						td: p quantity
						td: p price
						td: p discount
						td: p sum (EUR)
						td: p return status
				each one, i in [{'pic':'http://pics1.alpics.info/pics/spares/small/10395.jpg', 'title':'stangeliist', 'desc':'AUDI A6 (C5) SDN/AVANT, год выпуска: 05.1997 - 05.2001', 'code':'AL10395', 'item':'X535012', 'supplier':'S0110323G - ALV', 'q':'1', 'price': '6.85', 'discount_perc': '0', 'discount_int': '0.00', 'sum': '6.85'}]
					tr
						td.order-table__checkbox: input(type="checkbox")
						td.orders-table__picture
							a(href="#"): img(src="#{one.pic}", alt="#{one.title}, #{one.desc}")
						td.orders-table__main
							a(href="#").orders-table__link #{one.title}
							p.order-table__desc #{one.desc}
						td.orders-table__code
							a(href="#") #{one.code}
						td.orders-table__item: a(href="#") #{one.item}
						td.orders-table__supplier: p #{one.supplier}
						td.orders-table__q: p #{one.q}
						td.orders-table__price: p #{one.price}
						td.orders-table__discount
							p - #{one.discount_int}
							p #{one.discount_perc}%
						td.orders-table__sum: p #{one.sum}
						td.orders-table__status.status.green: p accepted

		.layer: .twelve.columns

			ol.check-list
				li
					p.label With selected products
					select
						option Declined
						option Accepted
						option Pending
						option Separate request
				li
					p.label Vehicle and assembly data
					table.hoverable
						tr
							td: p Installed by
							td: p Autospetsialist OÜ, Kadaka tee 555a, Tallinn 20151
						tr
							td: p Car
							td: p BMW X5 (2008)
						tr
							td: p VIN
							td: p 9879874AASD7
						tr
							td: p Assembly
							td: p 12.05.2015, 
								strong Odometer: 
								| 125,066
						tr
							td: p Disassembly
							td: p 12.05.2015, 
								strong Odometer: 
								| 127,038
				li
					p.label Attached files
					.photo-group
						img.photo(src="http://www.myx5.ru/wp-content/uploads/2013/09/White-2001-BMW-X5-Front-Left-View.jpg", alt="damaged product photo 1")
				li
					p.label Problem description
					.translation-box
						.original
							p.status.grey original
							p.text После установки сломалась через 2 дня езды. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam pariatur quaerat, hic eum corporis beatae libero alias voluptas veritatis. Reprehenderit rem quae dolores sapiente nostrum doloremque, necessitatibus minus commodi iste.
						.translated#translated-problem
							p.status.green translated
							p.text Car broken after 2 days of using. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque dolorem tenetur, ipsa amet fugit nam temporibus totam officia impedit, rem quibusdam illum earum quia cupiditate odit repudiandae recusandae! Veritatis, aut?
				li
					p.label Required action
					p Money back
					table.hoverable
						tr
							td: p Name of the receiver:
							td: p Antons Fronovics
						tr
							td: p IBAN:
							td: p EE1010505060603030
						tr
							td: p SWIFT:
							td: p HABAEEX
				li
					p.label Delivery method for product return
					p PEX (product was sent using this method)

		.layer
			.management-buttons
				.row
					p.label Request management
					button.ext-btn.blue Need translation
					button.ext-btn.green Edit request
					button.ext-btn.red Delete request
				.row
					p.label Avaliable actions
					button.ext-btn.blue.disabled.product-credit-note Product credit note
					button.ext-btn.blue.return-supplier-popup-trigger Return to supplier
				.row
					table
						tr
							td.status.green: p paid
							td: a(href="#") Product_credit_note_123123.pdf

		.layer
			.log
				.title: p Request log
				table.hoverable
					tr
						td.status.grey: p pending
						td.data: p 09.10.2015
						td.time: p 10:33
						td: p return request created by Dmitrij Zujev for Antti Fakonen
					tr
						td.status.grey: p pending
						td.data: p 10.10.2015
						td.time: p 11:12
						td: p translation required
					tr
						td.status.grey: p pending
						td.data: p 11.10.2015
						td.time: p 01:38
						td: p request translated by Ants Tukalainen
					tr
						td.status.yellow: p processing
						td.data: p 11.10.2015
						td.time: p 08:44
						td: p status changed, product received
					tr
						td.status.green: p accepted
						td.data: p 11.10.2015
						td.time: p 09:19
						td: p status changed