extends ../../layouts/admin.layout

block content

	- var suppliers = ['kris', 'signeda uab', 'teeme varuosad ou']

	.xe-contentCard: .ext
		.layer
			.twelve.columns
				h2.page-desc Already added products

		each table in suppliers
			.note.success.note-hidden
				.line
					.title: p Возврат оформлен
					table
						tr
							td: p Дата возврата
							td: p 13.11.2015
						tr
							td: p Номер возврата
							td: p 6234683
						tr
							td: p Деталей
							td: p 3
						tr
							td: p Общая сумма
							td: p 41,91 EUR
				.line
					button.ext-btn.white.inset Распечатать
					button.ext-btn.white.inset Отправить на email
					button.ext-btn.grey.close-note Закрыть

			.layer: .twelve.columns
				.basket-table-header
					button.ext-btn.white.inset.setup-order Оформить возврат
					.table-label: strong #{table}
				table.data-table.hoverable.checkbox-selectable
					thead
						tr
							td: input(type="checkbox")
							td: p Spare
							td: p Item
							td: p Shelf
							td: p Order
							td: p Article
							td: p Product
							td: p Purchase price
							td: p Return case
					tbody
						each row, i in [1, 2, 3]
							tr
								td: input(type="checkbox")
								td: p AL97808
								td: p x415698
								td: p P4A2-4
								td.basket-table__order
									.line
										a(href="#") 884746
									.line
										p Credit note 
											a(href="#") 87899
								td: p S010323G
								td: a(href="#") AMORTISAATORI PADI
								td: p 80.90
								if i === 1
									td: p Warranty
								else
									td: p Return

		.basket-returned: .layer: .twelve.columns
			.title: p Returned products
			.basket-returned-header
				.filters-group
					.filter
						select
							option ALL
							each one in suppliers
								option #{one.toUpperCase()}
					.filter
						select
							option ALL
							option Damaged
							option Warranty
							option Non-damaged
					.filter
						input(placeholder="С").datepicker
					.filter
						input(placeholder="По").datepicker
				.actions-group
					button.ext-btn.blue.inset Распечатать
					button.ext-btn.blue.inset Отправить на email
			table.data-table.hoverable.checkbox-selectable
				thead
					tr
						td: input(type="checkbox")
						td: p Spare
						td: p Item
						td: p Order
						td: p Article
						td: p Product
						td: p Supplier order no.
						td: p Return date
						td: p Return nr.
						td: p Purchase price
				tbody
					each row, i in [1, 2, 3]
						tr
							td: input(type="checkbox")
							td: p AL97808
							td: p x415698
							td.basket-table__order
								.line
									a(href="#") 884746
								.line
									p Credit note 
										a(href="#") 87899
							td: p S010323G
							td: a(href="#") AMORTISAATORI PADI
							td: p FA10281/2015-1
							td: p 30.11.2015
							td: p 836
							td: p 80.90
					tr
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td: strong 161.80