extends ../../layouts/admin.layout

block content
	.xe-contentCard: .ext
		include partials/popup-credit-note
		.layer
			.six.columns
				h1.page-title return #1
					span.status.yellow processing
				.translate
					p.data 24.10.2015 
					p No translation required
				include partials/order-info
			.six.columns
				.top-buttons-group
					button.ext-btn.blue Print request
					a(href="#").ext-btn.blue view order
					a(href="#").ext-btn.blue view list

		.layer: .twelve.columns
			.table-label: strong no reason (1)
			table.data-table.checkbox-selectable.hoverable
				thead
					tr
						td: input(type="checkbox")
						td
						td: p product
						td: p code
						td: p item
						td: p supplier
						td: p quantity
						td: p price
						td: p discount
						td: p sum (EUR)
						td: p return status
				each one, i in [{'pic':'http://pics1.alpics.info/pics/spares/small/128545.jpg', 'title':'stabilisaatoritoe puks', 'desc':'AUDI A6 (C5) SDN/AVANT, год выпуска: 05.1997 - 05.2001', 'code':'AL128545', 'item':'X535013', 'supplier':'S0110323G - POLCAR', 'q':'1', 'price': '22.95', 'discount_perc': '0', 'discount_int': '0.00', 'sum': '22.95'}]
					tr
						td.order-table__checkbox: input(type="checkbox")
						td.orders-table__picture
							a(href="#"): img(src="#{one.pic}", alt="#{one.title}, #{one.desc}")
						td.orders-table__main
							a(href="#").orders-table__link #{one.title}
							p.order-table__desc #{one.desc}
						td.orders-table__code
							a(href="#") #{one.code}
						td.orders-table__item: a(href="#") #{one.item}
						td.orders-table__supplier: p #{one.supplier}
						td.orders-table__q: p #{one.q}
						td.orders-table__price: p #{one.price}
						td.orders-table__discount
							p - #{one.discount_int}
							p #{one.discount_perc}%
						td.orders-table__sum: p #{one.sum}
						if i === 0
							td.orders-table__status.status.red: p declined
						if i === 1
							td.orders-table__status.status.grey: p pending

		.layer: .twelve.columns

			ol.check-list
				li
					p.label With selected products
					select
						option Declined
						option Accepted
						option Pending
						option Separate request
				li
					p.label Reason for product return: NO REASON
					p Я желаю отказаться от заказа, поскольку мне не понадобились заказанные запчасти.
				li
					p.label Required action
					p Money back
					table.hoverable
						tr
							td: p Name of the receiver:
							td: p Antons Fronovics
						tr
							td: p IBAN:
							td: p EE1010505060603030
						tr
							td: p SWIFT:
							td: p HABAEEX
				li
					p.label Delivery method for product return
					p PEX (product was sent using this method)

		.layer
			.management-buttons
				.row
					p.label Request management
					button.ext-btn.blue Need translation
					button.ext-btn.green Edit request
					button.ext-btn.red Delete request
				.row
					p.label Avaliable actions
					button.ext-btn.blue.popup-credit-note-trigger Product credit note
				.row
					table.hoverable
						tr
							td.status.green: p paid
							td: a(href="#") Product_credit_note_123123.pdf
						tr
							td.status.grey: p not paid
							td: a(href="#") Product_credit_note_175123.pdf

		.layer
			.log
				.title: p Request log
				table.hoverable
					tr
						td.status.grey: p pending
						td.data: p 9.10.2015 
						td.time: p 20:12
						td: p return request created by Dmitrij Zujev for Antti Fakonen
					tr
						td.status.grey: p pending
						td.data: p 10.10.2015
						td.time: p 19:19
						td: p translation required
					tr
						td.status.grey: p pending
						td.data: p 11.10.2015 
						td.time: p 10:11
						td: p request translated by Ants Tukalainen
					tr
						td.status.yellow: p processing
						td.data: p 11.10.2015 
						td.time: p 08:34
						td: p status changed, product received
					tr
						td.status.green: p accepted
						td.data: p 11.10.2015 
						td.time: p 06:46
						td: p status changed