extends ../../layouts/admin.layout

block content
	.xe-contentCard: .ext
		.layer
			.six.columns
				include partials/order-info
			.six.columns
				.top-buttons-group
					button.ext-btn.blue Print request
					a(href="#").ext-btn.blue view order
					a(href="#").ext-btn.blue view list

		.layer: .twelve.columns
			.table-label
				a(href="return-1.html").strong return #1
				|  - Wrong product (1)
				span.return-status.status.yellow processing
			table.data-table.hoverable
				thead
					tr
						td
						td: p product
						td: p code
						td: p item
						td: p supplier
						td: p quantity
						td: p price
						td: p discount
						td: p sum (EUR)
						td: p return status
				each one in [{'pic':'http://pics3.alpics.info/pics/spares/small/46279.jpg', 'title':'karteripõhi', 'desc':'AUDI A6 (C5) SDN/AVANT, год выпуска: 05.1997 - 05.2001', 'code':'AL46279', 'item':'X535015', 'supplier':'S0110323G - ALV', 'q':'1', 'price': '101.23', 'discount_perc': '0', 'discount_int': '0.00', 'sum': '101.23'}]
					tr
						td.orders-table__picture
							img(src="#{one.pic}", alt="#{one.title}, #{one.desc}")
						td.orders-table__main
							a(href="#").orders-table__link #{one.title}
							p.order-table__desc #{one.desc}
						td.orders-table__code
							a(href="#") #{one.code}
						td.orders-table__item: a(href="#") #{one.item}
						td.orders-table__supplier: p #{one.supplier}
						td.orders-table__q: p #{one.q}
						td.orders-table__price: p #{one.price}
						td.orders-table__discount
							p - #{one.discount_int}
							p #{one.discount_perc}%
						td.orders-table__sum: p #{one.sum}
						td.orders-table__status.status.red: p declined

		.layer: .twelve.columns
			.table-label
				a(href="return-2.html").strong return #2
				|  - No reason (1)
				span.return-status.status.blue finished
			table.data-table.hoverable
				thead
					tr
						td
						td: p product
						td: p code
						td: p item
						td: p supplier
						td: p quantity
						td: p price
						td: p discount
						td: p sum (EUR)
						td: p return status
				each one in [{'pic':'http://pics1.alpics.info/pics/spares/small/128545.jpg', 'title':'stabilisaatoritoe puks', 'desc':'AUDI A6 (C5) SDN/AVANT, год выпуска: 05.1997 - 05.2001', 'code':'AL128545', 'item':'X535013', 'supplier':'S0110323G - POLCAR', 'q':'1', 'price': '22.95', 'discount_perc': '0', 'discount_int': '0.00', 'sum': '22.95'}]
					tr
						td.orders-table__picture
							img(src="#{one.pic}", alt="#{one.title}, #{one.desc}")
						td.orders-table__main
							a(href="#").orders-table__link #{one.title}
							p.order-table__desc #{one.desc}
						td.orders-table__code
							a(href="#") #{one.code}
						td.orders-table__item: a(href="#") #{one.item}
						td.orders-table__supplier: p #{one.supplier}
						td.orders-table__q: p #{one.q}
						td.orders-table__price: p #{one.price}
						td.orders-table__discount
							p - #{one.discount_int}
							p #{one.discount_perc}%
						td.orders-table__sum: p #{one.sum}
						td.orders-table__status.status.green: p accepted

		.layer: .twelve.columns
			.table-label
				a(href="return-3.html").strong return #3
				|  - Damaged product (1)
				span.return-status.status.grey pending
			table.data-table.hoverable
				thead
					tr
						td
						td: p product
						td: p code
						td: p item
						td: p supplier
						td: p quantity
						td: p price
						td: p discount
						td: p sum (EUR)
						td: p return status
				each one in [{'pic':'http://pics1.alpics.info/pics/td/small/b/5/b5f55_99734.jpg', 'title':'Tihend,karteripõhi REINZ', 'desc':'AUDI A6 (C5) SDN/AVANT, год выпуска: 05.1997 - 05.2001', 'code':'AL11163099', 'item':'X535016', 'supplier':'S0110323G - POLCAR', 'q':'1', 'price': '48.20', 'discount_perc': '0', 'discount_int': '0.00', 'sum': '48.20'}]
					tr
						td.orders-table__picture
							img(src="#{one.pic}", alt="#{one.title}, #{one.desc}")
						td.orders-table__main
							a(href="#").orders-table__link #{one.title}
							p.order-table__desc #{one.desc}
						td.orders-table__code
							a(href="#") #{one.code}
						td.orders-table__item: a(href="#") #{one.item}
						td.orders-table__supplier: p #{one.supplier}
						td.orders-table__q: p #{one.q}
						td.orders-table__price: p #{one.price}
						td.orders-table__discount
							p - #{one.discount_int}
							p #{one.discount_perc}%
						td.orders-table__sum: p #{one.sum}
						td.orders-table__status.status.grey: p pending

		.layer: .twelve.columns
			.table-label
				a(href="return-4.html").strong return #4
				|  - Warranty (1)
				span.return-status.status.grey pending
			table.data-table.hoverable
				thead
					tr
						td
						td: p product
						td: p code
						td: p item
						td: p supplier
						td: p quantity
						td: p price
						td: p discount
						td: p sum (EUR)
						td: p return status
				each one in [{'pic':'http://pics1.alpics.info/pics/spares/small/10395.jpg', 'title':'stangeliist', 'desc':'AUDI A6 (C5) SDN/AVANT, год выпуска: 05.1997 - 05.2001', 'code':'AL10395', 'item':'X535012', 'supplier':'S0110323G - ALV', 'q':'1', 'price': '6.85', 'discount_perc': '0', 'discount_int': '0.00', 'sum': '6.85'}]
					tr
						td.orders-table__picture
							img(src="#{one.pic}", alt="#{one.title}, #{one.desc}")
						td.orders-table__main
							a(href="#").orders-table__link #{one.title}
							p.order-table__desc #{one.desc}
						td.orders-table__code
							a(href="#") #{one.code}
						td.orders-table__item: a(href="#") #{one.item}
						td.orders-table__supplier: p #{one.supplier}
						td.orders-table__q: p #{one.q}
						td.orders-table__price: p #{one.price}
						td.orders-table__discount
							p - #{one.discount_int}
							p #{one.discount_perc}%
						td.orders-table__sum: p #{one.sum}
						td.orders-table__status.status.purple: p sent to examination

		.layer: .twelve.columns
			.table-label
				a(href="return-5.html").strong return #5
				|  - Parts missing (1)
				span.return-status.status.grey pending
			table.data-table.hoverable
				thead
					tr
						td
						td: p product
						td: p code
						td: p item
						td: p supplier
						td: p quantity
						td: p price
						td: p discount
						td: p sum (EUR)
						td: p return status
				each one in [{'pic':'http://pics2.alpics.info/pics/spares/small/14327586.jpg', 'title':'огнетушитель', 'desc':'ABC Порошковый огнетушитель', 'code':'AL14327586', 'item':'PK1', 'supplier':'S0110323G - ALV', 'q':'1', 'price': '14.60', 'discount_perc': '0', 'discount_int': '0.00', 'sum': '14.60'}]
					tr
						td.orders-table__picture
							img(src="#{one.pic}", alt="#{one.title}, #{one.desc}")
						td.orders-table__main
							a(href="#").orders-table__link #{one.title}
							p.order-table__desc #{one.desc}
						td.orders-table__code
							a(href="#") #{one.code}
						td.orders-table__item: a(href="#") #{one.item}
						td.orders-table__supplier: p #{one.supplier}
						td.orders-table__q: p #{one.q}
						td.orders-table__price: p #{one.price}
						td.orders-table__discount
							p - #{one.discount_int}
							p #{one.discount_perc}%
						td.orders-table__sum: p #{one.sum}
						td.orders-table__status.status.grey: p pending

		.layer
			.log
				.title: p Credit notes
				table.hoverable
					tr
						td.status.green: p paid
						td.cap: p return #1: 
						td: a(href="#") Return_1_credit_note_123122.pdf
					tr
						td.status.red: p not paid
						td.cap: p return #2: 
						td: a(href="#") Return_1_credit_note_123122.pdf
					tr
						td.status.grey: p none
						td.cap: p return #3: 
						td: p No credit note was created
					tr
						td.status.grey: p none
						td.cap: p delivery: 
						td: p No credit note was created 
							a(href="#").ext-link.small + create