extends ../../layouts/admin.layout
include partials/buttons-group

block content
	.xe-contentCard: .ext
		.layer
			.six.columns
				include partials/order-info
		.layer: .twelve.columns
			.sign: p choose return reason for each product
			table.data-table.hoverable
				thead
					tr
						td
						td: p product
						td: p code
						td: p item
						td: p supplier
						td: p quantity
						td: p price
						td: p discount
						td: p sum (EUR)
						td: p return reason
				each one in [{'pic':'http://pics3.alpics.info/pics/spares/small/46279.jpg', 'title':'karteripõhi', 'desc':'AUDI A6 (C5) SDN/AVANT, год выпуска: 05.1997 - 05.2001', 'code':'AL46279', 'item':'X535015', 'supplier':'S0110323G - ALV', 'q':'1', 'price': '101.23', 'discount_perc': '0', 'discount_int': '0.00', 'sum': '101.23'}, {'pic':'http://pics1.alpics.info/pics/spares/small/128545.jpg', 'title':'stabilisaatoritoe puks', 'desc':'AUDI A6 (C5) SDN/AVANT, год выпуска: 05.1997 - 05.2001', 'code':'AL128545', 'item':'X535013', 'supplier':'S0110323G - POLCAR', 'q':'1', 'price': '22.95', 'discount_perc': '0', 'discount_int': '0.00', 'sum': '22.95'}, {'pic':'http://pics1.alpics.info/pics/td/small/b/5/b5f55_99734.jpg', 'title':'Tihend,karteripõhi REINZ', 'desc':'AUDI A6 (C5) SDN/AVANT, год выпуска: 05.1997 - 05.2001', 'code':'AL11163099', 'item':'X535016', 'supplier':'S0110323G - POLCAR', 'q':'1', 'price': '48.20', 'discount_perc': '0', 'discount_int': '0.00', 'sum': '48.20'}, {'pic':'http://pics1.alpics.info/pics/spares/small/10395.jpg', 'title':'stangeliist', 'desc':'AUDI A6 (C5) SDN/AVANT, год выпуска: 05.1997 - 05.2001', 'code':'AL10395', 'item':'X535012', 'supplier':'S0110323G - ALV', 'q':'1', 'price': '6.85', 'discount_perc': '0', 'discount_int': '0.00', 'sum': '6.85'}, {'pic':'http://pics2.alpics.info/pics/spares/small/14327586.jpg', 'title':'огнетушитель', 'desc':'ABC Порошковый огнетушитель', 'code':'AL14327586', 'item':'PK1', 'supplier':'S0110323G - ALV', 'q':'1', 'price': '14.60', 'discount_perc': '0', 'discount_int': '0.00', 'sum': '14.60'}]
					tr
						td.orders-table__picture
							a(href="#"): img(src="#{one.pic}")
						td.orders-table__main
							a(href="#").orders-table__link #{one.title}
							p.order-table__desc #{one.desc}
						td.orders-table__code
							a(href="#") #{one.code}
						td.orders-table__item: a(href="#") #{one.item}
						td.orders-table__supplier: p #{one.supplier}
						td.orders-table__q: p #{one.q}
						td.orders-table__price: p #{one.price}
						td.orders-table__discount
							p - #{one.discount_int}
							p #{one.discount_perc}%
						td.orders-table__sum: p #{one.sum}
						td.orders-table__return
							select
								option -
								option Wrong product
								option No reason
								option Damaged product
								option Warranty
								option Parts missing
			+buttons-group('admin-order-view', 'step-1')