extends ../../layouts/admin.layout
include partials/buttons-group
include partials/step-group

block content
	.xe-contentCard: .ext
		.layer
			.six.columns
				include partials/order-info
			.six.columns
				+step-group(2)
		.layer: .twelve.columns
			.sign: p return #2 - no reason (1)
			table.data-table.hoverable
				thead
					tr
						td
						td: p product
						td: p code
						td: p item
						td: p supplier
						td: p quantity
						td: p price
						td: p discount
						td: p sum (EUR)
						td: p return reason
				each one in [{'pic':'http://pics1.alpics.info/pics/spares/small/128545.jpg', 'title':'stabilisaatoritoe puks', 'desc':'AUDI A6 (C5) SDN/AVANT, год выпуска: 05.1997 - 05.2001', 'code':'AL128545', 'item':'X535013', 'supplier':'S0110323G - POLCAR', 'q':'1', 'price': '22.95', 'discount_perc': '0', 'discount_int': '0.00', 'sum': '22.95'}]
					tr
						td.orders-table__picture
							a(href="#"): img(src="#{one.pic}")
						td.orders-table__main
							a(href="#").orders-table__link #{one.title}
							p.order-table__desc #{one.desc}
						td.orders-table__code
							a(href="#") #{one.code}
						td.orders-table__item: a(href="#") #{one.item}
						td.orders-table__supplier: p #{one.supplier}
						td.orders-table__q: p #{one.q}
						td.orders-table__price: p #{one.price}
						td.orders-table__discount
							p - #{one.discount_int}
							p #{one.discount_perc}%
						td.orders-table__sum: p #{one.sum}
						td.orders-table__reason: p no reason

			include ../../../../common/templates/pages/return/form-no-reason
			+form-no-reason()

			+buttons-group('step-1', 'step-3')