extends ../../layouts/admin.layout
include partials/buttons-group
include partials/step-group

block content
	.xe-contentCard: .ext
		.layer
			.six.columns
				include partials/order-info
			.six.columns
				+step-group(5)
		.layer: .twelve.columns
			.sign: p return #5 - Parts missing (1)
			table.data-table.hoverable
				thead
					tr
						td
						td: p product
						td: p code
						td: p item
						td: p supplier
						td: p quantity
						td: p price
						td: p discount
						td: p sum (EUR)
						td: p return reason
				each one in [{'pic':'http://pics2.alpics.info/pics/spares/small/14327586.jpg', 'title':'огнетушитель', 'desc':'ABC Порошковый огнетушитель', 'code':'AL14327586', 'item':'PK1', 'supplier':'S0110323G - ALV', 'q':'1', 'price': '14.60', 'discount_perc': '0', 'discount_int': '0.00', 'sum': '14.60'}]
					tr
						td.orders-table__picture
							a(href="#"): img(src="#{one.pic}")
						td.orders-table__main
							a(href="#").orders-table__link #{one.title}
							p.order-table__desc #{one.desc}
						td.orders-table__code
							a(href="#") #{one.code}
						td.orders-table__item: a(href="#") #{one.item}
						td.orders-table__supplier: p #{one.supplier}
						td.orders-table__q: p #{one.q}
						td.orders-table__price: p #{one.price}
						td.orders-table__discount
							p - #{one.discount_int}
							p #{one.discount_perc}%
						td.orders-table__sum: p #{one.sum}
						td.orders-table__reason: p Parts missing

			include ../../../../common/templates/pages/return/form-missing
			+form-missing()

			+buttons-group('step-4', 'return-order')